{% extends "base.html" %} {% load staticfiles %} {% block head_title %}{{ title }}{% endblock head_title %} {% block head_extra %}
<title>Prognosis Fhouse</title>
<link rel="stylesheet" href='{% static "css/bet_style.css" %}'>
<!-- <link rel="stylesheet" href='{% static "css/jquery.formstyler.css" %}'> -->
<script type="text/javascript" src="{% static 'js/bet.js'  %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/jquery.formstyler.min.js'  %}"></script> -->
{% endblock head_extra %} {% block content %}
<main class="mainContainer">
    <!-- Превью тура -->
    <div class="articles">
        <div class="container_all_preview ">
            <!-- Навигация по чемпионатам  -->
            <div id="all_bets_nav">
                <div class="change_champ">
                </div>
                <div class="change_champ">
                </div>
                <div class="change_champ">
                </div>
                <div class="change_champ">
                </div>
                <div class="change_champ">
                </div>
                <div class="change_champ">
                </div>
                <div class="change_champ">
                </div>
                <div class="change_champ">
                </div>
                <div class="change_champ">
                </div>
                <div class="change_champ">
                </div>
            </div>
            <!-- Переключатель между турами -->
            <div class="navigation_between_tour ">
                <div id="arrow_left_tour"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <div id="arrow_right_tour"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                <div class="container_tour">
                    <ul class="nav_ul_tour" id="tour_other">
                    </ul>
                </div>
            </div>
            <div class="choosen_championship">
                Превью и прогноз <span class="champ"></span>
            </div>
            <div class="after_nav_tour">
                <div  class="preview_one_championship">
                    <main id="container_preview_match">
                        
                    </main>
                    <footer id="loaderMatches" class="loader">
                        <img src="../../static/img/loadGallery.gif" alt="loader">
                    </footer>
                </div>
                <!-- Комментарии к превью -->
                <div class="block_comments_for_one_champ">
                    <div class="title_comments">
                        Комментарии 
                    </div>
                    <!-- Комментарии -->
                    <div class="comments_base">
                        {% include "send_comment.html" %}
                    </div>
                    <div class="comments_base2" id="comments_tour">
                
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- Прогнозы на все матчи от администраторов  -->
    <div class="infoUserRight">
        <!-- ТОП матчи недели правая колонка -->
        {% include "bets/top_week_matches.html" %}
        <!-- Турнирная таблица -->
        <div id="table_other_champs">
            <div class="head_table">
                <div class="table_name">Турнирная таблица</div>
                <div class="nav_table">
                    <div class="one_division_nav">Чемпионаты</div>
                    <div class="one_division_nav">Еврокубки</div>
                    <div class="one_division_nav">Сборные</div>
                </div>
            </div>
            <div class="body_table">
                <div class="select_tab_conteiner">
                    <!-- Если чемпионаты -->
                    <div id="selection_champ" class="select_table">
                        <div class="select_championship_selector">
                            <select name="select_championship" id="select_championship">
                                <option value="0">FA Premier League</option>
                                <option value="1">Liga BBVA</option>
                                <option value="2">Serie A</option>
                                <option value="3">Bundesliga 1</option>
                                <option value="4">Ligue 1</option>
                                <option value="5">Российская Премьер-Лига</option>
                                <option value="6">Украинская Премьер-лига</option>
                            </select>
                        </div>
                    </div>
                    <!-- Если Еврокубки  -->
                    <div id="selection_tournament" class="select_table">
                        <div class="select_championship_selector">
                            <select name="select_championship" id="select_championship_euro">
                                <option value="0">Лига Чемпионов</option>
                                <option value="1">Лига Европы</option>
                            </select>
                        </div>
                        <!-- if champions league -->
                        <div class="select_championship_selector">
                            <select name="select_championship" id="select_group_LC">
                                <option value="0">Группа 1</option>
                                <option value="1">Группа 2</option>
                                <option value="2">Группа 3</option>
                                <option value="3">Группа 4</option>
                                <option value="4">Группа 5</option>
                                <option value="5">Группа 6</option>
                                <option value="6">Группа 7</option>
                                <option value="7">Группа 8</option>
                            </select>
                        </div>
                        <!-- if Europa League    -->
                        <div class="select_championship_selector">
                            <select name="select_championship" id="select_group_LE">
                                <option value="0">Группа 1</option>
                                <option value="1">Группа 2</option>
                                <option value="2">Группа 3</option>
                                <option value="3">Группа 4</option>
                                <option value="4">Группа 5</option>
                                <option value="5">Группа 6</option>
                                <option value="6">Группа 7</option>
                                <option value="7">Группа 8</option>
                                <option value="8">Группа 9</option>
                                <option value="9">Группа 10</option>
                                <option value="10">Группа 11</option>
                                <option value="11">Группа 12</option>
                            </select>
                        </div>
                    </div>
                    <!-- Если сборные -->
                    <div id="nation_selection_tournament" class="select_table">
                        <div class="select_championship_selector">
                            <select name="select_championship" id="select_nation_tournament">
                                <option value="">Квалиффикация к ЧМ 2018 Европа</option>
                            </select>
                        </div>
                        <div class="select_championship_selector">
                            <select name="select_championship" id="select_continent">
                                <option value="0">Европа</option>
                                <option value="1">Южная Америка</option>
                            </select>
                        </div>
                        <div class="select_championship_selector">
                            <select name="select_championship" id="select_group_CM">
                                <option value="0">Группа 1</option>
                                <option value="1">Группа 2</option>
                                <option value="2">Группа 3</option>
                                <option value="3">Группа 4</option>
                                <option value="4">Группа 5</option>
                                <option value="5">Группа 6</option>
                                <option value="6">Группа 7</option>
                                <option value="7">Группа 8</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Подсказки таблица  -->
                <div class="all_team_table">
                    <div class="one_position">
                        <div class="position">Поз</div>
                        <div class="team_name">Команда</div>
                        <div class="team_games">И</div>
                        <div class="team_goals">Г</div>
                        <div class="team_pts">О</div>
                    </div>
                    <main id="table_rating">
                    </main>
                    <footer id="tableLoad" class="loader">
                        <img src="../../static/img/loadGallery.gif" alt="loader">
                    </footer>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
