{% extends "base.html" %} {% load staticfiles %} {% block head_title %}{{ title }}{% endblock head_title %} {% block head_extra %}
<title>Prognosis Fhouse</title>
<script type="text/javascript">
var first_season = {{ seasons.0.id }},
    first_name = "{{request.user.first_name|escapejs|safe}}",
    last_name = "{{request.user.first_name|escapejs|safe}}",
    avatar_user = "{{request.user.avatar.url|escapejs|safe}}";
</script>
<link rel="stylesheet" href='{% static "css/bet_style.css" %}'>

<script type="text/javascript" src="{% static 'js/bet.js'  %}"></script>
<script type="text/javascript" src="{% static 'js/bet_all_reviews.js'  %}"></script>
{% endblock head_extra %} {% block content %}
<main class="mainContainer">
    <!-- Превью тура -->
    <div class="articles">
        <div class="container_all_preview ">
            <!-- Навигация по чемпионатам  -->
            <div id="all_bets_nav">
                {% for season in seasons %}
                <div class="change_champ" data-id="{{ season.id }}" data-name="{{season.season_league.league_name}}">
                    <img src="{{ season.season_league.image.url }}">
                </div>
                {% endfor %}
            </div>
            <!-- Переключатель между турами -->
            <div class="navigation_between_tour ">
                <div id="arrow_left_tour"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <div id="arrow_right_tour"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                <div class="container_tour">
                    <ul class="nav_ul_tour" id="tour_other">
                    </ul>
                </div>
            </div>
            <div class="choosen_championship">
                Превью и прогноз <span class="champ"></span>
            </div>
            <div class="after_nav_tour">
                <div class="preview_one_championship">
                    <header id="loaderMatches" class="loader">
                        <div></div>
                    </header>
                    <main id="container_preview_match">
                    </main>
                </div>
                <!-- Комментарии к превью -->
                <div class="block_comments_for_one_champ">
                    <h2 class="title_comments">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Комментарии <span id="countComments"></span>
                    </h2>
                    <!-- Комментарии -->
                    <div class="comments_base">
                        {% include "send_comment.html" %}
                    </div>
                    <div class="comments_base2" id="comments_tour">
                    </div>
                    <footer id="progress" class="articleFooter">
                        <button id="loadTile" class="loading" data-page="1" data-count-page="1">
                            <i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
                            <span class="doneMore">Посмотреть больше</span>
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <!-- Прогнозы на все матчи от администраторов  -->
    <div class="infoUserRight">
        <!-- ТОП матчи недели правая колонка -->
        <div id="top_matches_right">
            <div class="header_top_matches_right">
                Ставка недели. 12-19 Сен. 2017
            </div>
            <div id="topMathRight" class="body_top_matches_right">

            </div>
            <div class="footer_top_matches_right">
                <div id="read_preview"><a href="/bets">Читать превью</a></div>
                <div id="bet_right" class="makeBetModal" data-toggle="modal">Сделать ставку</div>
            </div>
        </div>
        <!-- Турнирная таблица -->
        <div id="table_other_champs">
            <div class="head_table">
                <div class="table_name">Турнирная таблица</div>
                <div class="nav_table">
                    {% for championat_type_name in championats_dict.keys %}
                    <div class="one_division_nav" data-active="{{ forloop.counter }}">{{ championat_type_name }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="body_table">
                <div class="select_tab_conteiner">
                    {% for championat_type_name, championat_type_leagues in championats_dict.items %}
                    <section data-active="{{ forloop.counter }}">
                            <select>
                                {% for championat_name, championat_detail in championat_type_leagues.items %}
                                <option value="{{ championat_detail.id }}">{{championat_name}}</option>
                                {% endfor %}
                                </select>
                            {% for championat_name, championat_detail in  championat_type_leagues.items %}
                                {% if championat_detail.groups %}
                                    <select class="group_select" data-parent-id="{{championat_detail.id}}">
                                    {% for group in championat_detail.groups %}
                                        <option value="{{group.id}}">{{ group.name }}</option>
                                    {% endfor %}
                                    </select>
                                {% endif %}
                            {% endfor %}
                        </section>
                    {% endfor %}
                </div>
                <!-- Подсказки таблица  -->
                <div class="all_team_table">
                    <div class="one_position">
                        <div class="position">Поз</div>
                        <div class="team_name">Команда</div>
                        <div class="team_games">И</div>
                        <div class="team_goals">Г</div>
                        <div class="team_pts">О</div>
                    </div>
                    <main id="table_rating">
                    </main>
                    <footer id="tableLoad" class="loader">
                        <img src="../../static/img/loadGallery.gif" alt="loader">
                    </footer>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
