{% extends "base.html" %} {% load staticfiles %} {% block head_title %} {{ title }} {% endblock head_title %} {% block head_extra %}
<title>Анонсы ТОП матчей недели</title>
<script type="text/javascript">
    var week_start = new Date("{{current_week_bet.start_date.isoformat}}");
    var week_end = new Date("{{current_week_bet.check_date.isoformat}}");
    var matches_time = [
        new Date("{{current_week_bet.match_1.match_time.isoformat}}"),
        new Date("{{current_week_bet.match_2.match_time.isoformat}}"),
        new Date("{{current_week_bet.match_3.match_time.isoformat}}"),
    ];
</script>
<link rel="stylesheet" href='{% static "css/bet_style.css" %}'>
<script type="text/javascript" src="{% static 'js/bet.js'  %}"></script>
{% endblock head_extra %} {% block content %}
<main class="mainContainer">
    <div class="articles">
        <div class="contentMainBets">
            <header class="mainBetHeader">
                <h2>Анонс ТОП матчей недели. 28 окт - 3 ноя 2010</h2>
                <div class="make_bet makeBetModal">
                    <button data-toggle="modal">Cделать ставку</button>
                </div>
            </header>
            <!-- Превью к топ матчам  -->
            <nav id="match_top_nav">
                <div class="prevMatch navTopMatches">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                </div>
                <figure class="order1TopMatch">
                    <div class="teamsTop">
                        <div class="teamLogo">
                            <img src="{{ current_week_bet.match_1.home_team.image.url }}" alt="">
                        </div>
                        <div class="teamLogo">
                            vs
                        </div>
                        <div class="teamLogo">
                            <img src="{{ current_week_bet.match_1.guest_team.image.url }}" alt="">
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            {{ current_week_bet.match_1.home_team.team_name }} - 
                            {{ current_week_bet.match_1.guest_team.team_name }}
                        </h4>
                        <p>
                            {{ current_week_bet.match_1.match_name }}
                        </p>
                    </figcaption>
                </figure>
                <figure class="order2TopMatch">
                    <div class="teamsTop">
                        <div class="teamLogo">
                            <img src="{{ current_week_bet.match_2.home_team.image.url }}" alt="">
                        </div>
                        <div class="teamLogo">
                            vs
                        </div>
                        <div class="teamLogo">
                            <img src="{{ current_week_bet.match_2.guest_team.image.url }}" alt="">
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            {{ current_week_bet.match_2.home_team.team_name }} - 
                            {{ current_week_bet.match_2.guest_team.team_name }}
                        </h4>
                        <p>
                            {{ current_week_bet.match_2.match_name }}
                        </p>
                    </figcaption>
                </figure>
                <figure class="order3TopMatch">
                    <div class="teamsTop">
                        <div class="teamLogo">
                            <img src="{{ current_week_bet.match_3.home_team.image.url }}" alt="">
                        </div>
                        <div class="teamLogo">
                            vs
                        </div>
                        <div class="teamLogo">
                            <img src="{{ current_week_bet.match_3.guest_team.image.url }}" alt="">
                        </div>
                    </div>
                    <figcaption>
                        <h4>
                            {{ current_week_bet.match_3.home_team.team_name }} - 
                            {{ current_week_bet.match_3.guest_team.team_name }}
                        </h4>
                        <p>
                            {{ current_week_bet.match_3.match_name }}
                        </p>
                    </figcaption>
                </figure>
                <div class="nextMatch navTopMatches">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </div>
            </nav>
            <article class="infoMatchCurrent ">
                <section class="top_match order1TopMatch">
                    <header>
                        <h2>{{ current_week_bet.match_1.home_team.team_name }} - {{ current_week_bet.match_1.guest_team.team_name }}</h2>
                        <p>{{ current_week_bet.match_1.stage}} </p>
                    </header>
                    <div class="prev_info_text">
                        {{ current_week_bet.match_1.preview }}
                    </div>
                    <footer class="time_start">
                        Начало матча: Москва <span> 21:45</span>, Киев <span> 20:45</span>
                    </footer>
                </section>
                <section class="top_match order2TopMatch">
                    <header>
                        <h2>{{ current_week_bet.match_2.home_team.team_name }} - {{ current_week_bet.match_2.guest_team.team_name }}</h2>
                        <p>{{ current_week_bet.match_2.stage}} </p>
                    </header>
                    <div class="prev_info_text">
                        {{ current_week_bet.match_2.preview }}
                    </div>
                    <footer class="time_start">
                        Начало матча: Москва <span> 21:45</span>, Киев <span> 20:45</span>
                    </footer>
                </section>
                <section class="top_match order3TopMatch">
                    <header>
                        <h2>{{ current_week_bet.match_3.home_team.team_name }} - {{ current_week_bet.match_3.guest_team.team_name }}</h2>
                        <p>{{ current_week_bet.match_3.stage}} </p>
                    </header>
                    <div class="prev_info_text">
                        {{ current_week_bet.match_3.preview }}
                    </div>
                    <footer class="time_start">
                        Начало матча: Москва <span> 21:45</span>, Киев <span> 20:45</span>
                    </footer>
                </section>
            </article>
        </div>
    </div>
    <div class="infoUserRight">
        <div calss="table_rating_forecasters all_team_table" id="table_rat_forcas">
            <div class="head_table">
                <div class="table_name">Рейтинг прогнозистов</div>
                <div class="nav_table">
                    <div class="one_division_nav" id="all_time_rating">Все время</div>
                    <div class="one_division_nav" id="month_rating">Месяц</div>
                    <div class="one_division_nav" id="week_rating">Сезон</div>
                </div>
            </div>
            <div class="all_team_table">
                <div class="one_position">
                    <div class="position">Поз</div>
                    <div class="forecasters_name">Имя</div>
                    <div class="forecasters_pts">Очки</div>
                </div>
                <main id="listForecasters">
                </main>
                <footer id="tableLoadForecasters" class="loader">
                    <img src="../../static/img/loadGallery.gif" alt="loader">
                </footer>
                <aside>
                    <a href="all_bet_rating/" class="otherMore">
                    </a>
                </aside>
            </div>
        </div>
        <!-- Прогнозы на все матчи в топ-чемпионатах -->
        <div id="bets_all_championships">
            <div class="name_right_column">
                <a href="all_reviews">Превью и прогнозы</a>
            </div>
            {% for season in active_seasons %}
            <a href="all_reviews" class="linkOtherBet">
                <div class="imgChampNav">
                    <img src="{{ season.img }}" alt="">
                </div>
                    <h2 data-id="{{ season.id }}">{{ season.name }}</h2>
                    <!-- Нужно передать текущий тур -->
                    <p data-id="{{ season.tour.id }}">{{ season.tour.name }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}
