<div class="after_nav_tour">
    <div class="preview_one_championship">
        <div class="preview_one_match">
            <div class="teams_logo_s_time">
                <div class="teams_img">
                    <div class="img_logo_one_team">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cc/Chelsea_FC.svg/768px-Chelsea_FC.svg.png" alt="">
                    </div>
                    <div class="img_logo_one_team">
                        <img src="http://www.soccertalentidentification.com/Content/images/Liverpool_FC.svg.png" alt="">
                    </div>
                </div>
                <div class="dateMatchBet">
                    <div class="match_date">29 october</div>
                    <div class="match_time">Москва: <span class="time_match_moscow">22:40</span></div>
                    <div class="match_time">Киев: <span class="time_match_kiev">21:40</span></div>
                </div>
            </div>
            <div class="match_discription">
                <div class="title_match"><span class="home_team">Челси</span> - <span class="visiting_team">Ливерпуль</span> </div>
                <div class="bet_match">
                    <div class="evnt_bet">
                        П1 <span class="kof">(1.12)</span> Х <span class="kof">(6.43)</span> П2 <span class="kof">(51.12)</span>
                    </div>
                    <div class="admin_bets_one_match">Наш прогноз: <span class="our_bet">8 : 1</span></div>
                </div>
                <div class="match_preview_discription">
                    Учитывая, то «Эпицентр К Таирова» с каждой игрой становится всё ближе к заветной тройке, с уверенностью можно сказать, что команда Виталия Сурича будет играть на победу. А вот будет ли положительный результат после отдыха в предыдущем туре у «Кодымы», смогут ли ребята взять очки в последнем поединке первого круга – приходите и вы всё увидите сами.
                </div>
                <!-- if match has been finished   -->
                <div class="result_match">
                    Сыграли: <span class="result_match_preview">2 : 1</span>
                </div>
            </div>
        </div>
        <div class="preview_one_match">
            <div class="teams_logo_s_time">
                <div class="teams_img">
                    <div class="img_logo_one_team">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cc/Chelsea_FC.svg/768px-Chelsea_FC.svg.png" alt="">
                    </div>
                    <div class="img_logo_one_team">
                        <img src="http://www.soccertalentidentification.com/Content/images/Liverpool_FC.svg.png" alt="">
                    </div>
                </div>
                <div class="dateMatchBet">
                    <div class="match_date">29 october</div>
                    <div class="match_time">Москва: <span class="time_match_moscow">22:40</span></div>
                    <div class="match_time">Киев: <span class="time_match_kiev">21:40</span></div>
                </div>
            </div>
            <div class="match_discription">
                <div class="title_match"><span class="home_team">Челси</span> - <span class="visiting_team">Ливерпуль</span> </div>
                <div class="bet_match">
                    <div class="evnt_bet">
                        П1 <span class="kof">(1.12)</span> Х <span class="kof">(6.43)</span> П2 <span class="kof">(51.12)</span>
                    </div>
                    <div class="admin_bets_one_match">Наш прогноз: <span class="our_bet">8 : 1</span></div>
                </div>
                <div class="match_preview_discription">
                    Учитывая, то «Эпицентр К Таирова» с каждой игрой становится всё ближе к заветной тройке, с уверенностью можно сказать, что команда Виталия Сурича будет играть на победу. А вот будет ли положительный результат после отдыха в предыдущем туре у «Кодымы», смогут ли ребята взять очки в последнем поединке первого круга – приходите и вы всё увидите сами.
                </div>
                <!-- if match has been finished   -->
                <div class="result_match">
                    Сыграли: <span class="result_match_preview">2 : 1</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Комментарии к превью -->
    <div class="block_comments_for_one_champ">
        <div class="title_comments">
            Комментарии <span class="quantity_comments_prev">(13)</span>
        </div>
        <!-- Комментарии -->
        <div class="comments_base">
            <!-- Нужно вставить ссылку на профиль автора -->
            {% include "send_comment.html" %}
        </div>
        <div class="comments_base2" id="without_paddin">
            {% include "comment_thread.html" %}
        </div>
        <!-- Болше комментариев превью  -->
        <div class="more_comment_prev">
            больше
        </div>
        <hr>
    </div>
    <div class="all_comments_prev">
        <div class="one_coment_prev"></div>
    </div>
</div>

