<div id="top_matches_right">
    <div class="header_top_matches_right">
        Ставка недели. 12-19 Сен. 2017
    </div>
    <div class="body_top_matches_right">
        <div class="one_top_match_right">
            <div class="day_one_top_match_right">Пят</div>
            <div class="team_one_top_match_right">
                <div class="logo_one_top_match_right">
                    <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/f/f7/FC_Chelsea_Logo.svg/480px-FC_Chelsea_Logo.svg.png" alt="">
                </div>
                <div class="name_team_one_top_match_right">Чел</div>
            </div>
            <div class="time_one_top_match_right">14:40</div>
            <div class="team_one_top_match_right">
                <div class="logo_one_top_match_right">
                    <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/f/f7/FC_Chelsea_Logo.svg/480px-FC_Chelsea_Logo.svg.png" alt="">
                </div>
                <div class="name_team_one_top_match_right">Чел</div>
            </div>
        </div>
        <div class="one_top_match_right">
            <div class="day_one_top_match_right">Пят</div>
            <div class="team_one_top_match_right">
                <div class="logo_one_top_match_right">
                    <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/f/f7/FC_Chelsea_Logo.svg/480px-FC_Chelsea_Logo.svg.png" alt="">
                </div>
                <div class="name_team_one_top_match_right">Чел</div>
            </div>
            <div class="time_one_top_match_right">14:40</div>
            <div class="team_one_top_match_right">
                <div class="logo_one_top_match_right">
                    <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/f/f7/FC_Chelsea_Logo.svg/480px-FC_Chelsea_Logo.svg.png" alt="">
                </div>
                <div class="name_team_one_top_match_right">Чел</div>
            </div>
        </div>
        <div class="one_top_match_right">
            <div class="day_one_top_match_right">Пят</div>
            <div class="team_one_top_match_right">
                <div class="logo_one_top_match_right">
                    <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/f/f7/FC_Chelsea_Logo.svg/480px-FC_Chelsea_Logo.svg.png" alt="">
                </div>
                <div class="name_team_one_top_match_right">Чел</div>
            </div>
            <div class="time_one_top_match_right">14:40</div>
            <div class="team_one_top_match_right">
                <div class="logo_one_top_match_right">
                    <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/f/f7/FC_Chelsea_Logo.svg/480px-FC_Chelsea_Logo.svg.png" alt="">
                </div>
                <div class="name_team_one_top_match_right">Чел</div>
            </div>
        </div>
    </div>
    <div class="footer_top_matches_right">
        <div id="read_preview"><a href="/bets">Читать превью</a></div>
        <div id="bet_right" class="makeBetModal" data-toggle="modal">Сделать ставку</div>
    </div>
</div>
