{% extends "base.html" %} {% load staticfiles %} {% block head_title %} {{ title }} {% endblock head_title %} {% block head_extra %}
<title>Анонсы ТОП матчей недели</title>
<link rel="stylesheet" href='{% static "css/bet_style.css" %}'>
<script type="text/javascript" src="{% static 'js/bet.js'  %}"></script>
{% endblock head_extra %} {% block content %}
<!-- Таблица рейтинга прогнозистов -->
<main class="mainContainer">
    <section class="tableAllusers">
        <div calss="table_rating_forecasters all_team_table" id="table_rat_forcas">
            <div class="head_table">
                <div class="table_name">Рейтинг прогнозистов</div>
                <div class="nav_table">
                    <div class="one_division_nav" id="all_time_rating">Все время</div>
                    <div class="one_division_nav" id="month_rating">Месяц</div>
                    <div class="one_division_nav" id="week_rating">Сезон</div>
                </div>
            </div>
            <div class="all_team_table">
                <div class="one_position">
                    <div class="position">Поз</div>
                    <div class="forecasters_name">Имя</div>
                    <div class="forecasters_pts">Очки</div>
                </div>
                <main id="listForecasters">
                </main>
                <footer id="tableLoadForecasters">
                    <img src="../../static/img/loadGallery.gif" alt="loader">
                </footer>
                <aside>
                    <div id="paginationTable">
                        <ul>
                            <li id="prevPagination">-</li>
                            <li id="nextPagination">+</li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <section class="rightTable">
        <!-- ТОП матчи недели правая колонка -->
        <div id="top_matches_right">
            <div class="header_top_matches_right">
                Ставка недели. 12-19 Сен. 2017
            </div>
            <div id="topMathRight" class="body_top_matches_right">
            </div>
            <div class="footer_top_matches_right">
                <div id="read_preview"><a href="/bets">Читать превью</a></div>
                <div id="bet_right" class="makeBetModal" data-toggle="modal">Сделать ставку</div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}
