{% extends  "base.html" %}
{% load staticfiles%}
{% block head_title %}{{ title }}{% endblock head_title %}
{% block head_extra %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href='{% static "css/login.css" %}'>
{% endblock head_extra %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h2>Твои Персональные данные</h2>
                <form action="post">
                    <div class="formLogin">
                        <label for="">
                            Имя
                            <span>*Необходимо</span>
                        </label>
                        <div class="forPlaceholder">
                            <input type="text" placeholder="Имя">
                        </div>
                    </div>
                    <div class="formLogin">
                        <label for="">
                            Фамилия
                            <span>*Необходимо</span>
                        </label>
                        <div class="forPlaceholder">
                            <input type="text" placeholder="Фамилия">
                        </div>
                    </div>
                    <div class="formLogin">
                        <label for="">
                            Email адресс
                            <span>*Необходимо</span>
                        </label>
                        <div class="forPlaceholder">
                            <input type="text" placeholder="Email адресс">
                            <p>Мы вышлем вам подтверждение по электронной почте на этот адрес</p>
                        </div>
                    </div>
                    <div class="formLogin">
                        <label for="">
                            Пароль
                            <span class="unimportant">*Необязательно</span>
                        </label>
                        <div class="forPlaceholder">
                            <input type="password" placeholder="Пароль">
                            <p>По крайней мере 6 символов</p>
                        </div>
                    </div>
                    <div class="formLogin">
                        <label for="">
                            Дата Рождения
                            <span>*Необходимо</span>
                        </label>
                        <div class="forPlaceholder">
                            <div class="forPlaceholderSmall">
                                <select name="Day" id="BirthdayDay" title="День">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <div class="forPlaceholderSmall">
                                <select name="Month" id="BirthdayMonth" title="Месяц">
                                    <option value="1">Январь</option>
                                    <option value="2">Февраль</option>
                                    <option value="3">Март</option>
                                    <option value="4">Апрель</option>
                                    <option value="5">Май</option>
                                    <option value="6">Июнь</option>
                                    <option value="7">Июль</option>
                                    <option value="8">Август</option>
                                    <option value="9">Сентябрь</option>
                                    <option value="10">Октябрь</option>
                                    <option value="11">Ноябрь</option>
                                    <option value="12">Декабрь</option>
                                </select>
                            </div>
                            <div class="forPlaceholderSmall">
                                <select name="Year" id="BirthdayYear" title="Год">
                                    <option value="1">1901</option>
                                    <option value="2">1902</option>
                                    <option value="3">1903</option>
                                    <option value="4">1904</option>
                                    <option value="5">1905</option>
                                    <option value="6">1906</option>
                                    <option value="7">1907</option>
                                    <option value="8">1908</option>
                                    <option value="8">1909</option>
                                    <option value="10">1910</option>
                                    <option value="11">1911</option>
                                    <option value="12">1912</option>
                                    <option value="13">1913</option>
                                    <option value="14">1914</option>
                                    <option value="15">1915</option>
                                    <option value="16">1916</option>
                                    <option value="17">1917</option>
                                    <option value="18">1918</option>
                                    <option value="19">1919</option>
                                    <option value="20">1920</option>
                                    <option value="21">1921</option>
                                    <option value="22">1922</option>
                                    <option value="23">1923</option>
                                    <option value="24">1924</option>
                                    <option value="25">1925</option>
                                    <option value="26">1926</option>
                                    <option value="27">1927</option>
                                    <option value="28">1928</option>
                                    <option value="29">1929</option>
                                    <option value="30">1930</option>
                                    <option value="31">1931</option>
                                    <option value="32">1932</option>
                                    <option value="33">1933</option>
                                    <option value="34">1934</option>
                                    <option value="35">1935</option>
                                    <option value="36">1936</option>
                                    <option value="37">1937</option>
                                    <option value="38">1938</option>
                                    <option value="39">1939</option>
                                    <option value="40">1940</option>
                                    <option value="41">1941</option>
                                    <option value="42">1942</option>
                                    <option value="43">1943</option>
                                    <option value="44">1944</option>
                                    <option value="45">1945</option>
                                    <option value="46">1946</option>
                                    <option value="47">1947</option>
                                    <option value="48">1948</option>
                                    <option value="49">1949</option>
                                    <option value="50">1950</option>
                                    <option value="51">1951</option>
                                    <option value="52">1952</option>
                                    <option value="53">1953</option>
                                    <option value="54">1954</option>
                                    <option value="55">1955</option>
                                    <option value="56">1956</option>
                                    <option value="57">1957</option>
                                    <option value="58">1958</option>
                                    <option value="59">1959</option>
                                    <option value="60">1960</option>
                                    <option value="61">1961</option>
                                    <option value="62">1962</option>
                                    <option value="63">1963</option>
                                    <option value="64">1964</option>
                                    <option value="65">1965</option>
                                    <option value="66">1966</option>
                                    <option value="67">1967</option>
                                    <option value="68">1968</option>
                                    <option value="69">1969</option>
                                    <option value="70">1970</option>
                                    <option value="71">1971</option>
                                    <option value="72">1972</option>
                                    <option value="73">1973</option>
                                    <option value="74">1974</option>
                                    <option value="75">1975</option>
                                    <option value="76">1976</option>
                                    <option value="77">1977</option>
                                    <option value="78">1978</option>
                                    <option value="79">1979</option>
                                    <option value="80">1980</option>
                                    <option value="81">1981</option>
                                    <option value="82">1982</option>
                                    <option value="83">1983</option>
                                    <option value="84">1984</option>
                                    <option value="85">1985</option>
                                    <option value="86">1986</option>
                                    <option value="87">1987</option>
                                    <option value="88">1988</option>
                                    <option value="89">1989</option>
                                    <option value="90">1990</option>
                                    <option value="91">1991</option>
                                    <option value="92">1992</option>
                                    <option value="93">1993</option>
                                    <option value="94">1994</option>
                                    <option value="95">1995</option>
                                    <option value="96">1996</option>
                                    <option value="97">1997</option>
                                    <option value="98">1998</option>
                                    <option value="99">1999</option>
                                    <option value="100">2000</option>
                                    <option value="101">2001</option>
                                    <option value="102">2002</option>
                                    <option value="103">2003</option>
                                    <option value="104">2004</option>
                                    <option value="105">2005</option>
                                    <option value="106">2006</option>
                                    <option value="107">2007</option>
                                    <option value="108">2008</option>
                                    <option value="109">2009</option>
                                    <option value="111">2011</option>
                                    <option value="112">2012</option>
                                    <option value="113">2013</option>
                                    <option value="114">2014</option>
                                    <option value="115">2015</option>
                                    <option value="116">2016</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="formLogin">
                        <label for="">
                            Страна
                            <span class="unimportant">*Необязательно</span>
                        </label>
                        <div class="forPlaceholder">
                            <select name="userCountry" id="userCountry" title="Страна">
                                <option value="AU">
                                    Австралия (Australia)
                                </option>
                                <option value="AT">
                                    Австрия (Österreich)
                                </option>
                                <option value="AZ">
                                    Азербайджан (Azərbaycan)
                                </option>
                                <option value="AX">
                                    Аландские о-ва (Åland)
                                </option>
                                <option value="AL">
                                    Албания (Shqipëri)
                                </option>
                                <option value="DZ">
                                    Алжир (Algeria)
                                </option>
                                <option value="AS">
                                    Американское Самоа (American Samoa)
                                </option>
                                <option value="AI">
                                    Ангилья (Anguilla)
                                </option>
                                <option value="AO">
                                    Ангола (Angola)
                                </option>
                                <option value="AD">
                                    Андорра (Andorra)
                                </option>
                                <option value="AQ">
                                    Антарктида (Antarctica)
                                </option>
                                <option value="AG">
                                    Антигуа и Барбуда (Antigua &amp; Barbuda)
                                </option>
                                <option value="AR">
                                    Аргентина (Argentina)
                                </option>
                                <option value="AM">
                                    Армения (Հայաստան)
                                </option>
                                <option value="AW">
                                    Аруба (Aruba)
                                </option>
                                <option value="AF">
                                    Афганистан (‫افغانستان‬‎)
                                </option>
                                <option value="BS">
                                    Багамские о-ва (Bahamas)
                                </option>
                                <option value="BD">
                                    Бангладеш (বাংলাদেশ)
                                </option>
                                <option value="BB">
                                    Барбадос (Barbados)
                                </option>
                                <option value="BH">
                                    Бахрейн (‫البحرين‬‎)
                                </option>
                                <option value="BY">
                                    Беларусь
                                </option>
                                <option value="BZ">
                                    Белиз (Belize)
                                </option>
                                <option value="BE">
                                    Бельгия (Belgium)
                                </option>
                                <option value="BJ">
                                    Бенин (Bénin)
                                </option>
                                <option value="BM">
                                    Бермудские о-ва (Bermuda)
                                </option>
                                <option value="BG">
                                    Болгария (България)
                                </option>
                                <option value="BO">
                                    Боливия (Bolivia)
                                </option>
                                <option value="BQ">
                                    Бонэйр, Синт-Эстатиус и Саба (Caribbean Netherlands)
                                </option>
                                <option value="BA">
                                    Босния и Герцеговина (Босна и Херцеговина)
                                </option>
                                <option value="BW">
                                    Ботсвана (Botswana)
                                </option>
                                <option value="BR">
                                    Бразилия (Brasil)
                                </option>
                                <option value="IO">
                                    Британская территория в Индийском океане (British Indian Ocean Territory)
                                </option>
                                <option value="BN">
                                    Бруней-Даруссалам (Brunei)
                                </option>
                                <option value="BF">
                                    Буркина-Фасо (Burkina Faso)
                                </option>
                                <option value="BI">
                                    Бурунди (Uburundi)
                                </option>
                                <option value="BT">
                                    Бутан (འབྲུག)
                                </option>
                                <option value="VU">
                                    Вануату (Vanuatu)
                                </option>
                                <option value="VA">
                                    Ватикан (Città del Vaticano)
                                </option>
                                <option value="GB">
                                    Великобритания (United Kingdom)
                                </option>
                                <option value="HU">
                                    Венгрия (Magyarország)
                                </option>
                                <option value="VE">
                                    Венесуэла (Venezuela)
                                </option>
                                <option value="VG">
                                    Виргинские о-ва (Британские) (British Virgin Islands)
                                </option>
                                <option value="VI">
                                    Виргинские о-ва (США) (U.S. Virgin Islands)
                                </option>
                                <option value="UM">
                                    Внешние малые о-ва (США) (U.S. Outlying Islands)
                                </option>
                                <option value="TL">
                                    Восточный Тимор (Timor-Leste)
                                </option>
                                <option value="VN">
                                    Вьетнам (Việt Nam)
                                </option>
                                <option value="GA">
                                    Габон (Gabon)
                                </option>
                                <option value="HT">
                                    Гаити (Haiti)
                                </option>
                                <option value="GY">
                                    Гайана (Guyana)
                                </option>
                                <option value="GM">
                                    Гамбия (Gambia)
                                </option>
                                <option value="GH">
                                    Гана (Gaana)
                                </option>
                                <option value="GP">
                                    Гваделупа (Guadeloupe)
                                </option>
                                <option value="GT">
                                    Гватемала (Guatemala)
                                </option>
                                <option value="GN">
                                    Гвинея (Guinée)
                                </option>
                                <option value="GW">
                                    Гвинея-Бисау (Guiné-Bissau)
                                </option>
                                <option value="DE">
                                    Германия (Deutschland)
                                </option>
                                <option value="GG">
                                    Гернси (Guernsey)
                                </option>
                                <option value="GI">
                                    Гибралтар (Gibraltar)
                                </option>
                                <option value="HN">
                                    Гондурас (Honduras)
                                </option>
                                <option value="HK">
                                    Гонконг (香港)
                                </option>
                                <option value="GD">
                                    Гренада (Grenada)
                                </option>
                                <option value="GL">
                                    Гренландия (Kalaallit Nunaat)
                                </option>
                                <option value="GR">
                                    Греция (Ελλάδα)
                                </option>
                                <option value="GE">
                                    Грузия (საქართველო)
                                </option>
                                <option value="GU">
                                    Гуам (Guam)
                                </option>
                                <option value="DK">
                                    Дания (Danmark)
                                </option>
                                <option value="JE">
                                    Джерси (Jersey)
                                </option>
                                <option value="DJ">
                                    Джибути (Djibouti)
                                </option>
                                <option value="DG">
                                    Диего-Гарсия (Diego Garcia)
                                </option>
                                <option value="DM">
                                    Доминика (Dominica)
                                </option>
                                <option value="DO">
                                    Доминиканская Республика (República Dominicana)
                                </option>
                                <option value="EG">
                                    Египет (‫مصر‬‎)
                                </option>
                                <option value="ZM">
                                    Замбия (Zambia)
                                </option>
                                <option value="EH">
                                    Западная Сахара (‫الصحراء الغربية‬‎)
                                </option>
                                <option value="ZW">
                                    Зимбабве (Zimbabwe)
                                </option>
                                <option value="IL">
                                    Израиль (‫ישראל‬‎)
                                </option>
                                <option value="IN">
                                    Индия (भारत)
                                </option>
                                <option value="ID">
                                    Индонезия (Indonesia)
                                </option>
                                <option value="JO">
                                    Иордания (‫الأردن‬‎)
                                </option>
                                <option value="IQ">
                                    Ирак (‫العراق‬‎)
                                </option>
                                <option value="IR">
                                    Иран (‫ایران‬‎)
                                </option>
                                <option value="IE">
                                    Ирландия (Ireland)
                                </option>
                                <option value="IS">
                                    Исландия (Ísland)
                                </option>
                                <option value="ES">
                                    Испания (España)
                                </option>
                                <option value="IT">
                                    Италия (Italia)
                                </option>
                                <option value="YE">
                                    Йемен (‫اليمن‬‎)
                                </option>
                                <option value="CV">
                                    Кабо-Верде (Kabu Verdi)
                                </option>
                                <option value="KZ">
                                    Казахстан
                                </option>
                                <option value="KY">
                                    Каймановы о-ва (Cayman Islands)
                                </option>
                                <option value="KH">
                                    Камбоджа (កម្ពុជា)
                                </option>
                                <option value="CM">
                                    Камерун (Cameroun)
                                </option>
                                <option value="CA">
                                    Канада (Canada)
                                </option>
                                <option value="IC">
                                    Канарские о-ва (Canarias)
                                </option>
                                <option value="QA">
                                    Катар (‫قطر‬‎)
                                </option>
                                <option value="KE">
                                    Кения (Kenya)
                                </option>
                                <option value="CY">
                                    Кипр (Κύπρος)
                                </option>
                                <option value="KG">
                                    Киргизия (Кыргызстан)
                                </option>
                                <option value="KI">
                                    Кирибати (Kiribati)
                                </option>
                                <option value="CN">
                                    Китай (中国)
                                </option>
                                <option value="KP">
                                    КНДР (조선민주주의인민공화국)
                                </option>
                                <option value="CC">
                                    Кокосовые о-ва (Kepulauan Cocos (Keeling))
                                </option>
                                <option value="CO">
                                    Колумбия (Colombia)
                                </option>
                                <option value="KM">
                                    Коморские о-ва (‫جزر القمر‬‎)
                                </option>
                                <option value="CG">
                                    Конго - Браззавиль (Congo-Brazzaville)
                                </option>
                                <option value="CD">
                                    Конго - Киншаса (Jamhuri ya Kidemokrasia ya Kongo)
                                </option>
                                <option value="XK">
                                    Косово (Kosovë)
                                </option>
                                <option value="CR">
                                    Коста-Рика (Costa Rica)
                                </option>
                                <option value="CI">
                                    Кот-д’Ивуар (Côte d’Ivoire)
                                </option>
                                <option value="CU">
                                    Куба (Cuba)
                                </option>
                                <option value="KW">
                                    Кувейт (‫الكويت‬‎)
                                </option>
                                <option value="CW">
                                    Кюрасао (Curaçao)
                                </option>
                                <option value="LA">
                                    Лаос (ລາວ)
                                </option>
                                <option value="LV">
                                    Латвия (Latvija)
                                </option>
                                <option value="LS">
                                    Лесото (Lesotho)
                                </option>
                                <option value="LR">
                                    Либерия (Liberia)
                                </option>
                                <option value="LB">
                                    Ливан (‫لبنان‬‎)
                                </option>
                                <option value="LY">
                                    Ливия (‫ليبيا‬‎)
                                </option>
                                <option value="LT">
                                    Литва (Lietuva)
                                </option>
                                <option value="LI">
                                    Лихтенштейн (Liechtenstein)
                                </option>
                                <option value="LU">
                                    Люксембург (Luxembourg)
                                </option>
                                <option value="MU">
                                    Маврикий (Moris)
                                </option>
                                <option value="MR">
                                    Мавритания (‫موريتانيا‬‎)
                                </option>
                                <option value="MG">
                                    Мадагаскар (Madagasikara)
                                </option>
                                <option value="YT">
                                    Майотта (Mayotte)
                                </option>
                                <option value="MO">
                                    Макао (澳門)
                                </option>
                                <option value="MK">
                                    Македония (Македонија)
                                </option>
                                <option value="MW">
                                    Малави (Malawi)
                                </option>
                                <option value="MY">
                                    Малайзия (Malaysia)
                                </option>
                                <option value="ML">
                                    Мали (Mali)
                                </option>
                                <option value="MV">
                                    Мальдивы (Maldives)
                                </option>
                                <option value="MT">
                                    Мальта (Malta)
                                </option>
                                <option value="MA">
                                    Марокко (Morocco)
                                </option>
                                <option value="MQ">
                                    Мартиника (Martinique)
                                </option>
                                <option value="MH">
                                    Маршалловы о-ва (Marshall Islands)
                                </option>
                                <option value="MX">
                                    Мексика (México)
                                </option>
                                <option value="MZ">
                                    Мозамбик (Moçambique)
                                </option>
                                <option value="MD">
                                    Молдова (Republica Moldova)
                                </option>
                                <option value="MC">
                                    Монако (Monaco)
                                </option>
                                <option value="MN">
                                    Монголия (Монгол)
                                </option>
                                <option value="MS">
                                    Монтсеррат (Montserrat)
                                </option>
                                <option value="MM">
                                    Мьянма (Бирма) (မြန်မာ)
                                </option>
                                <option value="NA">
                                    Намибия (Namibië)
                                </option>
                                <option value="NR">
                                    Науру (Nauru)
                                </option>
                                <option value="NP">
                                    Непал (नेपाल)
                                </option>
                                <option value="NE">
                                    Нигер (Nijar)
                                </option>
                                <option value="NG">
                                    Нигерия (Nigeria)
                                </option>
                                <option value="NL">
                                    Нидерланды (Nederland)
                                </option>
                                <option value="NI">
                                    Никарагуа (Nicaragua)
                                </option>
                                <option value="NU">
                                    Ниуэ (Niue)
                                </option>
                                <option value="NZ">
                                    Новая Зеландия (New Zealand)
                                </option>
                                <option value="NC">
                                    Новая Каледония (Nouvelle-Calédonie)
                                </option>
                                <option value="NO">
                                    Норвегия (Norge)
                                </option>
                                <option value="AE">
                                    ОАЭ (‫الإمارات العربية المتحدة‬‎)
                                </option>
                                <option value="CK">
                                    о-ва Кука (Cook Islands)
                                </option>
                                <option value="TC">
                                    о-ва Тёркс и Кайкос (Turks &amp; Caicos Islands)
                                </option>
                                <option value="HM">
                                    о-ва Херд и Макдональд (Heard &amp; McDonald Islands)
                                </option>
                                <option value="BV">
                                    о-в Буве (Bouvet Island)
                                </option>
                                <option value="AC">
                                    о-в Вознесения (Ascension Island)
                                </option>
                                <option value="CP">
                                    о-в Клиппертон (Clipperton Island)
                                </option>
                                <option value="IM">
                                    о-в Мэн (Isle of Man)
                                </option>
                                <option value="NF">
                                    о-в Норфолк (Norfolk Island)
                                </option>
                                <option value="CX">
                                    о-в Рождества (Christmas Island)
                                </option>
                                <option value="SH">
                                    о-в Св. Елены (St. Helena)
                                </option>
                                <option value="OM">
                                    Оман (‫عُمان‬‎)
                                </option>
                                <option value="PN">
                                    острова Питкэрн (Pitcairn Islands)
                                </option>
                                <option value="PK">
                                    Пакистан (‫پاکستان‬‎)
                                </option>
                                <option value="PW">
                                    Палау (Palau)
                                </option>
                                <option value="PS">
                                    Палестина (‫فلسطين‬‎)
                                </option>
                                <option value="PA">
                                    Панама (Panamá)
                                </option>
                                <option value="PG">
                                    Папуа – Новая Гвинея (Papua New Guinea)
                                </option>
                                <option value="PY">
                                    Парагвай (Paraguay)
                                </option>
                                <option value="PE">
                                    Перу (Perú)
                                </option>
                                <option value="PL">
                                    Польша (Polska)
                                </option>
                                <option value="PT">
                                    Португалия (Portugal)
                                </option>
                                <option value="PR">
                                    Пуэрто-Рико (Puerto Rico)
                                </option>
                                <option value="KR">
                                    Республика Корея (대한민국)
                                </option>
                                <option value="RE">
                                    Реюньон (La Réunion)
                                </option>
                                <option value="RU">
                                    Россия
                                </option>
                                <option value="RW">
                                    Руанда (Rwanda)
                                </option>
                                <option value="RO">
                                    Румыния (România)
                                </option>
                                <option value="SV">
                                    Сальвадор (El Salvador)
                                </option>
                                <option value="WS">
                                    Самоа (Samoa)
                                </option>
                                <option value="SM">
                                    Сан-Марино (San Marino)
                                </option>
                                <option value="ST">
                                    Сан-Томе и Принсипи (São Tomé e Príncipe)
                                </option>
                                <option value="SA">
                                    Саудовская Аравия (‫المملكة العربية السعودية‬‎)
                                </option>
                                <option value="SZ">
                                    Свазиленд (Swaziland)
                                </option>
                                <option value="MP">
                                    Северные Марианские о-ва (Northern Mariana Islands)
                                </option>
                                <option value="SC">
                                    Сейшельские о-ва (Seychelles)
                                </option>
                                <option value="BL">
                                    Сен-Бартельми (Saint-Barthélemy)
                                </option>
                                <option value="SN">
                                    Сенегал (Senegal)
                                </option>
                                <option value="MF">
                                    Сен-Мартен (Saint-Martin)
                                </option>
                                <option value="PM">
                                    Сен-Пьер и Микелон (Saint-Pierre-et-Miquelon)
                                </option>
                                <option value="VC">
                                    Сент-Винсент и Гренадины (St. Vincent &amp; Grenadines)
                                </option>
                                <option value="KN">
                                    Сент-Китс и Невис (St. Kitts &amp; Nevis)
                                </option>
                                <option value="LC">
                                    Сент-Люсия (St. Lucia)
                                </option>
                                <option value="RS">
                                    Сербия (Србија)
                                </option>
                                <option value="EA">
                                    Сеута и Мелилья (Ceuta y Melilla)
                                </option>
                                <option value="SG">
                                    Сингапур (Singapore)
                                </option>
                                <option value="SX">
                                    Синт-Мартен (Sint Maarten)
                                </option>
                                <option value="SY">
                                    Сирия (‫سوريا‬‎)
                                </option>
                                <option value="SK">
                                    Словакия (Slovensko)
                                </option>
                                <option value="SI">
                                    Словения (Slovenija)
                                </option>
                                <option value="US">
                                    Соединенные Штаты (United States)
                                </option>
                                <option value="SB">
                                    Соломоновы о-ва (Solomon Islands)
                                </option>
                                <option value="SO">
                                    Сомали (Soomaaliya)
                                </option>
                                <option value="SD">
                                    Судан (‫السودان‬‎)
                                </option>
                                <option value="SR">
                                    Суринам (Suriname)
                                </option>
                                <option value="SL">
                                    Сьерра-Леоне (Sierra Leone)
                                </option>
                                <option value="TJ">
                                    Таджикистан (Tajikistan)
                                </option>
                                <option value="TH">
                                    Таиланд (ไทย)
                                </option>
                                <option value="TW">
                                    Тайвань (台灣)
                                </option>
                                <option value="TZ">
                                    Танзания (Tanzania)
                                </option>
                                <option value="TG">
                                    Того (Togo)
                                </option>
                                <option value="TK">
                                    Токелау (Tokelau)
                                </option>
                                <option value="TO">
                                    Тонга (Tonga)
                                </option>
                                <option value="TT">
                                    Тринидад и Тобаго (Trinidad &amp; Tobago)
                                </option>
                                <option value="TA">
                                    Тристан-да-Кунья (Tristan da Cunha)
                                </option>
                                <option value="TV">
                                    Тувалу (Tuvalu)
                                </option>
                                <option value="TN">
                                    Тунис (Tunisia)
                                </option>
                                <option value="TM">
                                    Туркменистан (Turkmenistan)
                                </option>
                                <option value="TR">
                                    Турция (Türkiye)
                                </option>
                                <option value="UG">
                                    Уганда (Uganda)
                                </option>
                                <option value="UZ">
                                    Узбекистан (Oʻzbekiston)
                                </option>
                                <option value="UA" selected>
                                    Украина (Україна)
                                </option>
                                <option value="WF">
                                    Уоллис и Футуна (Wallis &amp; Futuna)
                                </option>
                                <option value="UY">
                                    Уругвай (Uruguay)
                                </option>
                                <option value="FO">
                                    Фарерские о-ва (Føroyar)
                                </option>
                                <option value="FM">
                                    Федеративные Штаты Микронезии (Micronesia)
                                </option>
                                <option value="FJ">
                                    Фиджи (Fiji)
                                </option>
                                <option value="PH">
                                    Филиппины (Philippines)
                                </option>
                                <option value="FI">
                                    Финляндия (Suomi)
                                </option>
                                <option value="FK">
                                    Фолклендские о-ва (Falkland Islands (Islas Malvinas))
                                </option>
                                <option value="FR">
                                    Франция (France)
                                </option>
                                <option value="GF">
                                    Французская Гвиана (Guyane française)
                                </option>
                                <option value="PF">
                                    Французская Полинезия (Polynésie française)
                                </option>
                                <option value="TF">
                                    Французские Южные Территории (Terres australes françaises)
                                </option>
                                <option value="HR">
                                    Хорватия (Hrvatska)
                                </option>
                                <option value="CF">
                                    ЦАР (République centrafricaine)
                                </option>
                                <option value="TD">
                                    Чад (Tchad)
                                </option>
                                <option value="ME">
                                    Черногория (Crna Gora)
                                </option>
                                <option value="CZ">
                                    Чехия (Česká republika)
                                </option>
                                <option value="CL">
                                    Чили (Chile)
                                </option>
                                <option value="CH">
                                    Швейцария (Schweiz)
                                </option>
                                <option value="SE">
                                    Швеция (Sverige)
                                </option>
                                <option value="SJ">
                                    Шпицберген и Ян-Майен (Svalbard og Jan Mayen)
                                </option>
                                <option value="LK">
                                    Шри-Ланка (ශ්‍රී ලංකාව)
                                </option>
                                <option value="EC">
                                    Эквадор (Ecuador)
                                </option>
                                <option value="GQ">
                                    Экваториальная Гвинея (Guinea Ecuatorial)
                                </option>
                                <option value="ER">
                                    Эритрея (Eritrea)
                                </option>
                                <option value="EE">
                                    Эстония (Eesti)
                                </option>
                                <option value="ET">
                                    Эфиопия (Ethiopia)
                                </option>
                                <option value="ZA">
                                    ЮАР (South Africa)
                                </option>
                                <option value="GS">
                                    Южная Георгия и Южные Сандвичевы о-ва (South Georgia &amp; South Sandwich Islands)
                                </option>
                                <option value="SS">
                                    Южный Судан (‫جنوب السودان‬‎)
                                </option>
                                <option value="JM">
                                    Ямайка (Jamaica)
                                </option>
                                <option value="JP">
                                    Япония (日本)
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="formLogin">
                        <label for="">
                            Город
                            <span class="unimportant">*Необязательно</span>
                        </label>
                        <div class="forPlaceholder">
                            <input type="text" placeholder="Город">
                        </div>
                    </div>
                    <div class="formLogin">
                        <label for="">
                            Фото
                            <span class="unimportant">*Необязательно</span>
                        </label>
                        <div class="file-upload forPlaceholder" data-text="Выберите файл">
                            <input type="file">
                        </div>
                    </div>
                    <div class="finishLogin">
                        Завершить регистрацию <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    </div>
            </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>

{% endblock %}
