{% extends "base.html" %} {% load staticfiles %} {% block head_extra %}
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Админ.Статьи</title>
    <link rel="stylesheet" href='{% static "css/admin.css" %}'>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css" />
{% endblock head_extra %} {% block content %}
    <div class="container">
        <div class="row">
            <main>
                <div class="all_suggesting_news">
                    <nav>
                        <ul class="nav nav-pills navEventAdmin">
                            <li role="presentation"><a href="/admin_page/news">Новости<span class="new">(11)</span></a></li>
                            <li role="presentation"><a href="/admin_page/articles">Статьи<span class="new">(22)</span></a></li>
                            <li role="presentation"><a href="/admin_page/bets">Прогнозы</a></li>
                            <li role="presentation"><a href="/admin_page/gallery">Добавить фото <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li></ul>
                    </nav>
                    <h2>Предложенные статьи</h2>

                    <!-- Список статей -->
                    <div class="list_article">
                        {% for article in articles_to_check %}
                        <div class="one_suggestion_news thumbnail">
                            <div class="imgConteinerSuggestion">
                                <img src="{{ article.image.url }}" alt="">
                            </div>
                            <div class="thumbNews">
                                <div class="infoSuggestingPerson">
                                    <div class="photo-user">
                                        <img src="{{ article.user.avatar.url }}">
                                    </div>
                                    <div class="info-user">
                                        <h4 class="media-heading"><span class="author_news">{{ request.user.first_name }} {{ request.user.last_name }}</span> </h4>
                                        <div class="author_time">{{ article.timestamp }}</div>
                                    </div>
                                </div>
                                <p class="text_suggesting_news">{{ article.article_text }}</p>
                                <div class="more_read">Читать больше...</div>
                                <p>
                                    <button class="btn btn-warning editNewsBtn" role="button">Редактировать</button>
                                    <button class="btn btn-default deleteNewsBtn" role="button" data-toggle="modal" data-target="#delteArticle">Удалить</button>
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="rightColumn">
                    <div class="blockResizeAfterScroll"></div>
                    <div class="editor thumbnail">
                        <h2>Редактировать и опубликовать</h2>
                        <div class="imgCanvasConteiner">
                            <div class="tableCell box canvasParent">
                                <canvas id="panel"></canvas>
                                <p>
                                    <input type="button" id="cropBttn" class="btn btn-danger" value="Обрезать">
                                </p>
                                <div class="changeOrAddNewPhoto">
                                    <textarea id="newSrcPhoto" placeholder="Ссылка на новое изображения" ></textarea>
                                    <button class="btn btn-primary" id="newPhotoAdd">Изменить / Добавить</button>
                                </div>
                            </div>
                            <div class="tableCell box">
                                <h2>Фото для сайта</h2>
                                <img src="" id="croppedImage">
                            </div>
                        </div>
                        
                        <!-- Заголовок -->
                        <h3>Заголовок</h3>
                        <div class="titleSuggestingNews">
                            <textarea name="" id="title-suggesting-news" placeholder="Заголовок"></textarea>
                        </div>
                        <!-- Текст статьи -->
                        <h3>Текст статьи</h3>
                        <div class="textSuggestingNews">
                            <textarea name="" id="text-suggesting-news" placeholder="Текст статьи"></textarea>
                        </div>
                        <footer>
                            <select name="" id="timePublishing">
                                <option value="0">Сейчас</option>
                                <option value="1">Через 5 часов</option>
                                <option value="2">Через 10 часов</option>
                                <option value="3">Через 15 часов</option>
                                <option value="4">Через 20 часов</option>
                            </select>
                            <button type="button" class="btn btn-success" id="approve_article">
                                опубликовать
                            </button>
                        </footer>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal window -->
    <!-- Delete news -->
    <div class="modal fade" id="delteWeek" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" class="myModalLabel">Выберете неделю которую хотите удалить</h4>
                </div>
                <div class="modal-body">
                    <div class="selectWeekForDelete">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default " id="refuseDelWeek" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary " id="confirmDelWeek" data-dismiss="modal">Подтвердить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete news -->
    <div class="modal fade" id="delteNews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Удалить новость</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default " id="refuseDel" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary " id="confirmDel" data-dismiss="modal">Подтвердить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add albums -->
    <div class="modal fade" id="add-album" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Добавить альбом</h4>
                </div>
                <div class="modal-body">
                    <h3>Выбор секции</h3>
                    <select id="selectSectiomModal">
                        <option value="0">Стадионы</option>
                        <option value="1">Мемы</option>
                        <option value="2">Ретро</option>
                        <option value="3">Матчи</option>
                    </select>
                    <div class="addAlbum">
                        <div class="titleAlbum">
                            <h4>Названия альбома:</h4>
                            <textarea name="" id="" placeholder="Названия альбома"></textarea>
                        </div>
                    </div>
                    <div class="albumPhoto">
                        <h4>Добавить фото альбома</h4>
                        <form id="add-photo-form-2" runat="server">
                            <input type='file' id="newImgAlbum" />
                            <img id="imgAlbumToThis" src="" />
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Скрипты -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src='{% static "js/admin_page.js" %}'></script>
{% endblock content %}