{% extends "base.html" %} {% load staticfiles %} {% block head_extra %}
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Админ.Прогнозы</title>
    <link rel="stylesheet" href="../../static/css/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css" />
{% endblock head_extra %} {% block content %}
    <div class="container">
        <div class="row">
            <main>
                <div class="all_suggesting_news">
                    <nav>
                        <ul class="nav nav-pills navEventAdmin">
                            <li role="presentation"><a href="/admin_page/news">Новости<span class="new">(11)</span></a></li>
                            <li role="presentation"><a href="/admin_page/articles">Статьи<span class="new">(22)</span></a></li>
                            <li role="presentation"><a href="/admin_page/bets">Прогнозы</a></li>
                            <li role="presentation"><a href="/admin_page/gallery">Добавить фото <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
                        </ul>
                    </nav>
                    <h2>Прогнозы</h2>
                    <!-- Прогнозы -->
                    <div class="forecastersBlock">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active"><a href="#">ТОП матчи</a></li>
                            <li role="presentation"><a href="#">Прогнозы на все матчи</a></li>
                        </ul>
                        <div class="topMatchesBet">
                            <h3>Неделя</h3>
                            <div class="selectWeek">
                                <select name="" class="weekChose">
                                </select>
                                <button class="btn btn-danger delWeek" data-toggle="modal" data-target="#delteWeek">Удалить неделю</button>
                            </div>
                            <div class="addNewWeek">
                                <textarea name="" id="weekTopMatchesForBet" placeholder="Пример: 28 ОКТ - 3 НОЯ 2010"></textarea>
                                <button class="btn btn-success addWeekToSelect">Добавить неделю</button>
                            </div>
                            <form class="makeMatch thumbnail topMatchThumb">
                                <h2 class="titleTopMatch">Топ матч недели</h2>
                                <div class="championatMatchTopBet">
                                    <h3>Турнир</h3>
                                    <select class="leagueSelect">
                                        <option value="1">Чемпионат Анлии</option>
                                        <option value="2">Чемпионат Испании</option>
                                        <option value="3">Чемпионат Италии</option>
                                        <option value="4">Чемпионат Германии</option>
                                        <option value="5">Чемпионат Франции</option>
                                        <option value="6">Чемпионат России</option>
                                        <option value="7">Чемпионат Украины</option>
                                        <option value="8">Лига Чемпионов</option>
                                        <option value="9">Лига Европы</option>
                                        <option value="10">Чемпионат Мира 2018</option>
                                    </select>
                                </div>
                                <h3>Выбор сезона</h3>
                                <select class="seasonSelectTopMatch">
                                </select>
                                <div class="titleSuperMatch">
                                    <h3>Супер title ТОП матча</h3>
                                    <textarea name="" placeholder="SuperTitle (Эль-Класико)"></textarea>
                                </div>
                                <div class="choseTeams">
                                    <h4>Первая команда</h4>
                                    <select class="selectTopTeamFirst"></select>
                                    <h4>Вторая команда</h4>
                                    <select class="selectTopTeamSecond"></select>
                                </div>
                                <div class="koffMatch">
                                    <h3>Коэффициенты на матч</h3>
                                    <textarea class="winFirst" placeholder="Победа 1 (1.12)"></textarea>
                                    <textarea class="winSecond" placeholder="Победа 2 (6.12)"></textarea>
                                    <textarea class="draw" placeholder="Ничья (2.12)"></textarea>
                                </div>
                                <div class="tourMatchTopBet">
                                    <h3>Тур, стадия</h3>
                                    <div class="chooseTour">
                                        <div class="choseOrDelTour">
                                            <select class="listTour">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="choseTime">
                                    <h3>Выбор времени начала матча</h3>
                                    <textarea placeholder="День (29 октября)" class="dayMatch"></textarea>
                                    <textarea placeholder="Время Москва (22:45)" class="moscowTimeStartMatch"></textarea>
                                    <textarea placeholder="Время Киев (21:45)" class="kievTimeStartMatch"></textarea>
                                </div>
                                <div class="discriptionMatch">
                                    <h3>Текст</h3>
                                    <textarea class="discriptionBig" placeholder="Описание матча..."></textarea>
                                </div>
                                <div class="albumPhoto">
                                    <form class="add-photo-bet" runat="server">
                                        <input type='file' class="betPhoto" />
                                        <img class="imgBet" src="" />
                                    </form>
                                </div>
                            </form>
                            <button class="btn btn-success">Схранить</button>
                        </div>
                        <div class="allMatchesBet">
                            <h3>Выбор лигы</h3>
                            <select class="leagueSelect">
                                <option value="1">Чемпионат Анлии</option>
                                <option value="2">Чемпионат Испании</option>
                                <option value="3">Чемпионат Италии</option>
                                <option value="4">Чемпионат Германии</option>
                                <option value="5">Чемпионат Франции</option>
                                <option value="6">Чемпионат России</option>
                                <option value="7">Чемпионат Украины</option>
                                <option value="8">Лига Чемпионов</option>
                                <option value="9">Лига Европы</option>
                                <option value="10">Чемпионат Мира 2018</option>
                            </select>
                            <!-- List club and national teams  -->
                            <ul class="listWeeks">
                                <li>29 окт - 5 ноя</li>
                                <li>6 ноя - 13 ноя</li>
                                <li>14 ноя - 21 ноя</li>
                                <li>22 ноя - 29 ноя</li>
                            </ul>
                            <ul class="listOtherTeam">
                                <!-- Чемпионат Анлии -->
                                <li>
                                    <ul class="seasonList">
                                        <li class="2016-2017">
                                            <h2>2016-2017</h2>
                                            <ul class="listClub">
                                                <li>Арсенал</li>
                                                <li>Бёрнли</li>
                                                <li>Борнмут</li>
                                                <li>Вест Бромвич</li>
                                                <li>Вест Хэм Юнайтед</li>
                                                <li>Кристал Пэлас</li>
                                                <li>Лестер Сити</li>
                                                <li>Ливерпуль</li>
                                                <li>Манчестер Сити</li>
                                                <li>Манчестер Юнайтед</li>
                                                <li>Мидлсбро</li>
                                                <li>Сандерленд</li>
                                                <li>Саутгемптон</li>
                                                <li>Сток Сити</li>
                                                <li>Суонси Сити</li>
                                                <li>Тоттенхэм Хотспур</li>
                                                <li>Уотфорд</li>
                                                <li>Халл Сити</li>
                                                <li>Челси</li>
                                                <li>Эвертон</li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>1 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                        <li class="2015-2016">
                                            <h2>2015-2016</h2>
                                            <ul class="listClub">
                                                <li>Сток Сити</li>
                                                <li>Суонси Сити</li>
                                                <li>Тоттенхэм Хотспур</li>
                                                <li>Уотфорд</li>
                                                <li>Халл Сити</li>
                                                <li>Челси</li>
                                                <li>Эвертон</li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>30 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Чемпионат Испании -->
                                <li>
                                    <ul class="seasonList">
                                        <li class="2016-2017">
                                            <h2>2016-2017</h2>
                                            <ul class="listClub">
                                                <li>Барселона</li>
                                                <li>Реал Мадрид</li>
                                                <li>Атлетико Мадрид</li>
                                                <li>Вильярреал</li>
                                                <li>Атлетик Бильбао</li>
                                                <li>Сельта</li>
                                                <li>Севилья</li>
                                                <li>Малага</li>
                                                <li>Реал Сосьедад</li>
                                                <li>Бетис</li>
                                                <li>Лас-Пальмас</li>
                                                <li>Валенсия</li>
                                                <li>Эспаньол</li>
                                                <li>Эйбар</li>
                                                <li>Депортиво</li>
                                                <li>Гранада</li>
                                                <li>Спортинг</li>
                                                <li>Алавес</li>
                                                <li>Осасуна</li>
                                                <li>Алавес</li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>1 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                        <li class="2015-2016">
                                            <h2>2045-2016</h2>
                                            <ul class="listClub">
                                                <li>Депортиво</li>
                                                <li>Гранада</li>
                                                <li>Спортинг</li>
                                                <li>Алавес</li>
                                                <li>Осасуна</li>
                                                <li>Алавес</li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>30 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Чемпионат Италии -->
                                <li>
                                    <ul class="seasonList">
                                        <li class="2016-2017">
                                            <h2>2016-2017</h2>
                                            <ul class="listClub">
                                                <li>Ювентус</li>
                                                <li>Рома</li>
                                                <li>Наполи</li>
                                                <li>Лацио</li>
                                                <li>Аталанта</li>
                                                <li>Интер</li>
                                                <li>Милан</li>
                                                <li>Фиорентина</li>
                                                <li>Торино</li>
                                                <li>Сампдория</li>
                                                <li>Кьево</li>
                                                <li>Кьево</li>
                                                <li>Кьево</li>
                                                <li>Кальяри</li>
                                                <li>Сассуоло</li>
                                                <li>Дженоа</li>
                                                <li>Эмполи</li>
                                                <li>Палермо</li>
                                                <li>Кротоне</li>
                                                <li>Пескара</li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>1 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                        <li class="2015-2016">
                                            <h2>2015-2016</h2>
                                            <ul class="listClub">
                                                <li>Кьево</li>
                                                <li>Кьево</li>
                                                <li>Кальяри</li>
                                                <li>Сассуоло</li>
                                                <li>Дженоа</li>
                                                <li>Эмполи</li>
                                                <li>Палермо</li>
                                                <li>Кротоне</li>
                                                <li>Пескара</li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>30 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Чемпионат Германии -->
                                <li>
                                    <ul class="seasonList">
                                        <li class="2016-2017">
                                            <h2>2016-2017</h2>
                                            <ul class="listClub">
                                                <li>Бавария</li>
                                                <li>РБ Лейпциг</li>
                                                <li>Герта</li>
                                                <li>Айнтрахт Франкфурт</li>
                                                <li>Хоффенхайм</li>
                                                <li>Боруссия Дортмунд</li>
                                                <li>Кёльн</li>
                                                <li>Фрайбург</li>
                                                <li>Байер</li>
                                                <li>Майнц 05</li>
                                                <li>Шальке 04</li>
                                                <li>Аугсбург</li>
                                                <li>Вольфсбург</li>
                                                <li>Боруссия Мёнхенгладбах</li>
                                                <li>Вердер</li>
                                                <li>Гамбург</li>
                                                <li>Ингольштадт 04</li>
                                                <li>Дармштадт 98</li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>1 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                        <li class="2015-2016">
                                            <h2>2015-2016</h2>
                                            <ul class="listClub">
                                                <li>Шальке 04</li>
                                                <li>Аугсбург</li>
                                                <li>Вольфсбург</li>
                                                <li>Боруссия Мёнхенгладбах</li>
                                                <li>Вердер</li>
                                                <li>Гамбург</li>
                                                <li>Ингольштадт 04</li>
                                                <li>Дармштадт 98</li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>35 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Чемпионат Франции -->
                                <li>
                                    <ul class="seasonList">
                                        <li class="2016-2017">
                                            <h2>2016-2017</h2>
                                            <ul class="listClub">
                                                <li>Монако</li>
                                                <li>ПСЖ</li>
                                                <li>Ницца</li>
                                                <li>Лион</li>
                                                <li>Сент-Этьен</li>
                                                <li>Марсель</li>
                                                <li>Бордо</li>
                                                <li>Ренн</li>
                                                <li>Генгам</li>
                                                <li>Тулуза</li>
                                                <li>Метц</li>
                                                <li>Нанси</li>
                                                <li>Лилль</li>
                                                <li>Монпелье</li>
                                                <li>Нант</li>
                                                <li>Кан</li>
                                                <li>Дижон</li>
                                                <li>Анже</li>
                                                <li>Бастия</li>
                                                <li>Лорьян</li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>1 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                        <li class="2015-2016">
                                            <h2>2015-2016</h2>
                                            <ul class="listClub">
                                                <li>Кан</li>
                                                <li>Дижон</li>
                                                <li>Анже</li>
                                                <li>Бастия</li>
                                                <li>Лорьян</li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>5 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Чемпионат России -->
                                <li>
                                    <ul class="seasonList">
                                        <li class="2016-2017">
                                            <h2>2016-2017</h2>
                                            <ul class="listClub">
                                                <li>Спартак</li>
                                                <li>Зенит</li>
                                                <li>ЦСКА</li>
                                                <li>Терек</li>
                                                <li>Краснодар</li>
                                                <li>Амкар</li>
                                                <li>Ростов</li>
                                                <li>Уфа</li>
                                                <li>Рубин</li>
                                                <li>Локомотив</li>
                                                <li>Анжи</li>
                                                <li>Крылья Советов</li>
                                                <li>Урал</li>
                                                <li>Оренбург</li>
                                                <li>Арсенал</li>
                                                <li>Томь</li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>1 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                        <li class="2015-2016">
                                            <h2>2015-2016</h2>
                                            <ul class="listClub">
                                                <li>Локомотив</li>
                                                <li>Анжи</li>
                                                <li>Крылья Советов</li>
                                                <li>Урал</li>
                                                <li>Оренбург</li>
                                                <li>Арсенал</li>
                                                <li>Томь</li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>8 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Чемпионат Украины -->
                                <li>
                                    <ul class="seasonList">
                                        <li class="2016-2017">
                                            <h2>2016-2017</h2>
                                            <ul class="listClub">
                                                <li>Шахтер</li>
                                                <li>Динамо</li>
                                                <li>Заря</li>
                                                <li>Александрия</li>
                                                <li>Олимпик</li>
                                                <li>Ворскла</li>
                                                <li>Черноморец</li>
                                                <li>Зирка</li>
                                                <li>Сталь</li>
                                                <li>Волынь</li>
                                                <li>Днепр</li>
                                                <li>Карпаты</li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>123123 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                        <li class="2015-2016">
                                            <h2>2015-2020</h2>
                                            <ul class="listClub">
                                                <li>Черноморец</li>
                                                <li>Зирка</li>
                                                <li>Сталь</li>
                                                <li>Волынь</li>
                                                <li>Днепр</li>
                                                <li>Карпаты</li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>8 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Лига Чемпионов -->
                                <li>
                                    <ul class="seasonList">
                                        <li class="2016-2017">
                                            <h2>2016-2017</h2>
                                            <ul class="listClub">
                                                <li></li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>8 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                        <li class="2015-2016">
                                            <h2>2015-2014</h2>
                                            <ul class="listClub">
                                                <li></li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>8 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Лига Европы -->
                                <li>
                                    <ul class="seasonList">
                                        <li class="2016-2017">
                                            <h2>2016-2017</h2>
                                            <ul class="listClub">
                                                <li></li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>8 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                        <li class="2015-2016">
                                            <h2>2015-2016</h2>
                                            <ul class="listClub">
                                                <li></li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>8 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Чемпионат Мира 2018 -->
                                <li>
                                    <ul class="seasonList">
                                        <li class="2016-2017">
                                            <h2>No pizdos</h2>
                                            <ul class="listClub">
                                                <li></li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>8 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                        <li class="2015-2016">
                                            <h2>2018-2020</h2>
                                            <ul class="listClub">
                                                <li></li>
                                            </ul>
                                            <ul class="list-tour">
                                                <li>8 тур</li>
                                                <li>2 тур</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- end list -->
                            <h3>Выбор сезона</h3>
                            <select id="seasonSelect">
                            </select>
                            <h3>Тур</h3>
                            <div class="chooseTour">
                                <div class="choseOrDelTour">
                                    <select class="listTour">
                                    </select>
                                </div>
                            </div>
                            <diV class="areaMatches">
                            </diV>
                            <button class="btn btn-primary addMatchBetForm">Добавить матч <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            <button class="btn btn-success">Схранить</button>
                        </div>
                    </div>
                </div>
                <div class="rightColumn">
                    <div class="thumbnail" id="deleteTourBlock">
                        <h2>Удалить / Добавить тур</h2>
                        <div class="championatMatchTopBet">
                            <h3>Турнир</h3>
                            <select id="championatDeleteTour">
                                <option value="1">Чемпионат Анлии</option>
                                <option value="2">Чемпионат Испании</option>
                                <option value="3">Чемпионат Италии</option>
                                <option value="4">Чемпионат Германии</option>
                                <option value="5">Чемпионат Франции</option>
                                <option value="6">Чемпионат России</option>
                                <option value="7">Чемпионат Украины</option>
                                <option value="8">Лига Чемпионов</option>
                                <option value="9">Лига Европы</option>
                                <option value="10">Чемпионат Мира 2018</option>
                            </select>
                        </div>
                        <h3>Выбор сезона</h3>
                        <select id="selectSeasonDeleteTour">
                        </select>
                        <h3>Тур, стадия</h3>
                        <div class="chooseTour">
                            <div class="choseOrDelTour">
                                <select id="listTourDelete">
                                </select>
                                <button class="btn btn-danger" id="deleteTour" data-toggle="modal" data-target="#deleteTourModal">Удалить тур</button>
                            </div>
                            <div class="addTour">
                                <textarea id="addTourTextarea" placeholder="10 тур"></textarea>
                                <button class="btn btn-success" id="addTour">Добавить тур</button>
                            </div>
                            <h4 id="warningAdding">Поле пустое, введите значения</h4>
                        </div>
                        <button id="update_results">Update results</button>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal window -->
    <!-- Delete tour -->
    <div class="modal fade" id="deleteTourModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" class="myModalLabel">Подтвердите удаления тура</h4>
                </div>
                <div class="modal-body">
                    <div class="selectTourForDelete">
                        <h2></h2>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default " id="refuseDelTour" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary " id="confirmDelTour" data-dismiss="modal">Подтвердить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete news -->
    <div class="modal fade" id="delteWeek" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" class="myModalLabel">Выберете неделю которую хотите удалить</h4>
                </div>
                <div class="modal-body">
                    <div class="selectWeekForDelete">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default " id="refuseDelWeek" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary " id="confirmDelWeek" data-dismiss="modal">Подтвердить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete news -->
    <div class="modal fade" id="delteNews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Удалить новость</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default " id="refuseDel" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary " id="confirmDel" data-dismiss="modal">Подтвердить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add albums -->
    <div class="modal fade" id="add-album" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Добавить альбом</h4>
                </div>
                <div class="modal-body">
                    <h3>Выбор секции</h3>
                    <select id="selectSectiomModal">
                        <option value="0">Стадионы</option>
                        <option value="1">Мемы</option>
                        <option value="2">Ретро</option>
                        <option value="3">Матчи</option>
                    </select>
                    <div class="addAlbum">
                        <div class="titleAlbum">
                            <h4>Названия альбома:</h4>
                            <textarea name="" id="" placeholder="Названия альбома"></textarea>
                        </div>
                    </div>
                    <div class="albumPhoto">
                        <h4>Добавить фото альбома</h4>
                        <form id="add-photo-form-2" runat="server">
                            <input type='file' id="newImgAlbum" />
                            <img id="imgAlbumToThis" src="" />
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Скрипты -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src='{% static "js/admin_page.js" %}'></script>
    <script src='{% static "js/jquery-ui.min.js" %}'></script>
    <script src='{% static "js/admin_bets.js" %}'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock content %}
