{% extends "base.html" %} {% load staticfiles %} {% block head_extra %}
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Админ.Добавить фото</title>

    <link rel="stylesheet" href='{% static "css/admin.css" %}'>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css" />
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css"> -->
{% endblock head_extra %} {% block content %}

    <div class="container">
        <div class="row">
            <main>
                <div class="all_suggesting_news">
                    <nav>
                        <ul class="nav nav-pills navEventAdmin">
                            <li role="presentation"><a href="/admin_page/news">Новости<span class="new">(11)</span></a></li>
                            <li role="presentation"><a href="/admin_page/articles">Статьи<span class="new">(22)</span></a></li>
                            <li role="presentation"><a href="/admin_page/bets">Прогнозы</a></li>
                            <li role="presentation"><a href="/admin_page/gallery">Добавить фото <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
                        </ul>
                    </nav>
                    <h2>Добавить фото</h2>
                    <!-- Добавить фото -->
                    <form class="addPhoto thumbnail">
                        <div class="sectionPhoto">
                            <h3>Выбор секции</h3>
                            <select id="selectSection" name="selectSection">
                            </select>
                            <button class="btn btn-default add_album" role="button" data-toggle="modal" data-target="#add-album">Добавить альбом <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </div>
                        <div class="albumPhoto">
                            <h3>Выбор альбома</h3>
                            <select class="albumSelect" id="albumsGallery">
                            </select>
                            <div id="listAlumms">
                            </div>
                        </div>
                        <h3>Добавить фото</h3>
                        <div class="addPhoto">
                            <div class="titlePhoto input-group">
                                <span class="input-group-addon">Подпись фото</span>
                                <input
                                  type="text"
                                  id="photo_title"
                                  class="form-control"
                                  placeholder="Подпись фото..."
                                >
                            </div>
                            <div class="titlePhoto input-group">
                                <span class="input-group-addon">Сслыка на фото</span>
                                <input
                                  type="text"
                                  id="photo_url"
                                  class="form-control"
                                  placeholder="Ссылка на фото"
                                >
                            </div>
                            <div class="form-group">
                              <label for="exampleInputFile">Загрузить фото</label>
                              <input type="file" id="imgLoad">
                            </div>
                            <button id="add-photo-button" class="btn btn-success" role="button">Добавить</button>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>
    <!-- Modal window -->
    <!-- Add albums -->
    <div class="modal fade" id="add-album" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Добавить альбом</h4>
                </div>
                <div class="modal-body">
                    <h3>Выбор секции</h3>
                    <select id="selectSectiomModal">
                    </select>
                    <div class="addAlbum">
                        <div class="titleAlbum input-group">
                            <span class="input-group-addon">Названия альбома:</span>
                            <input type="text" id="album-title-input" class="form-control" placeholder="Названия альбома">
                        </div>
                        <div class="photoAlbum input-group">
                            <span class="input-group-addon">Ссылка на фото для альбома:</span>
                            <input type="text" id="album-photo-input" class="form-control" placeholder="Ссылка на фото альбома">
                        </div>
                    </div>
                    <div class="albumPhoto">
                        <h4>Добавить фото альбома</h4>
                        <form id="add-photo-form-2" runat="server">
                            <input type='file' id="newImgAlbum" />
                            <img id="imgAlbumToThis" src="" />
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" id="add-album-btn" data-dismiss="modal">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Скрипты -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src='{% static "js/admin_page.js" %}'></script>
    <script src='{% static "js/admin_gallery.js" %}'></script>

{% endblock content %}
