 {% for post in post_list %} {% if forloop.counter == 1 and page == 1 %}
<div class="oneArticle" id="mainNews">
    <a href="{{post.get_absolute_url}}" class="goNews imgContainer">
        <img src="{{ post.image.url }}" alt="">
    </a>
    <div class="infoNews">
        <a href="{{post.get_absolute_url}}" class="titleStext">
            <h3>{{ post.title }}</h3>
            <div class="textNews">
                {{ post.content }}
            </div>
        </a>
        <div class="footerNews">
            <div class="dataCommentsLikes">
                <span class="timeSpan">{{ post.timestamp }}</span> {% for tag in post.tags %}
                <a href="#" class="tegArticle">{{ tag }}</a> {% endfor %}
            </div>
            <div class="quantityComments">
                <a href="{{post.get_absolute_url}}">{{ post.comments| length }} <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a> {% include "posts/like_template.html" %}
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="oneArticle">
    <a href="{{post.get_absolute_url}}" class="goNews imgContainer">
        <img src="{{ post.image.url }}" alt="">
    </a>
    <div class="infoNews">
        <a href="{{post.get_absolute_url}}" class="titleStext">
            <h3>{{ post.title }}</h3>
            <div class="textNews">
                {{ post.content }}
            </div>
        </a>
        <div class="footerNews">
            <div class="dataCommentsLikes">
                <span class="timeSpan">{{ post.timestamp }}</span> {% for tag in post.tags %}
                <a href="#" class="tegArticle">{{ tag }}</a> {% endfor %}
            </div>
            <div class="quantityComments">
                <a href="{{post.get_absolute_url}}">{{ post.comments| length }} <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a> {% include "posts/like_template.html" %}
            </div>
        </div>
    </div>
</div>
{% endif %} {% endfor %}
