{% for post in post_list %} {% if forloop.counter == 1 and page == 1 %}
<article class="oneArticle" id="mainNews">
    <a href="{{post.get_absolute_url}}">
        <section class="goNews imgContainer containerImgNews">
            <img src="{{ post.image.url }}" class="imgUser" alt="{{ post.title }}">
        </section>
        <section class="infoNews">
            <h3>{{ post.title }}</h3>
            <time>{{ post.timestamp }}</time>
            <div class="textNews">
                {{ post.content }}
            </div>
            <footer class="footerNews">
                <div class="dataCommentsLikes">
                    {% for tag in post.tags %}
                    <div class="tags__item js-tags-item">
                        <span> {{ tag }} </span>
                    </div>
                    {% endfor %}
                </div>
                <div class="quantityComments">
                    {{ post.comments| length }} <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {% include "posts/like_template.html" %}
                </div>
            </footer>
        </section>
    </a>
</article>
{% else %}
<article class="oneArticle">
    <a href="{{post.get_absolute_url}}">
        <section class="goNews imgContainer containerImgNews">
            <img src="{{ post.image.url }}" class="imgUser" alt="{{ post.title }}">
        </section>
        <section class="infoNews">
            <h3>{{ post.title }}</h3>
            <time>{{ post.timestamp }}</time>
            <div class="textNews">
                {{ post.content }}
            </div>
            <footer class="footerNews">
                <div class="dataCommentsLikes">
                    {% for tag in post.tags %}
                    <div class="tags__item js-tags-item">
                        <span> {{ tag }} </span>
                    </div>
                    {% endfor %}
                </div>
                <div class="quantityComments">
                    {{ post.comments| length }} <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 
                    {% include "posts/like_template.html" %}
                </div>
            </footer>
        </section>
    </a>
</article>
{% endif %} {% endfor %}
