{% extends "base.html" %} {% load staticfiles %} {% block head_extra %}
<link rel="stylesheet" href='{% static "css/post_list.css" %}'> {% endblock head_extra %} {% load urlify %} {% load crispy_forms_tags %} {% block head_title %} {{instance.title}} | {{block.super}} {% endblock head_title %} {% block content %}
<script  type="text/javascript">
    var additional_posts = {{ additional_posts|safe }};
</script>
<script src="{% static 'js/post_detail.js'  %}"></script>
<main class="mainContainer">
    <article class="newsDetail">
        <div class="article_detail_img">
            {% if instance.image %}
            <img src="{{ instance.image.url }}" class='img-responsive' /> {% endif %}
            <div class="share_soc">
                <a href="#">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="article_detail">
            <header class="article_author">
                <a href="#" class="author_img containerImgUser">
                    <img src="{{ instance.user.avatar.url }}" class="imgUser" alt="Автор новости">
                </a>
                <div class="author_name_date">
                    <a href="">{{instance.user.first_name}} {{instance.user.last_name}}</a>
                    <p>{% if instance.draft %} </p>
                    {% endif %} {{instance.publish}}
                </div>
            </header>
            <div class="article_detail_content">
                <h2 class="article_title">{{title}}</h2>
                <!-- Текст новости  -->
                <div class="article_text">
                    {{ instance.get_markdown }}
                </div>
                <footer class="footer_post_detail">
                    {% if instance.tag.all|length > 0 %}
                    <section class="teg_post_detail">
                        <h3>Теги:</h3> {% for sub_tag in instance.tag.all %}
                        <a href="#" class="tags__item js-tags-item">
                            <span> {{ sub_tag.name }} </span>
                        </a>
                        {% endfor %}
                    </section>
                    {% endif %}
                    <section class="block_like-dislike">
                        <a href="{{instance.slug}}" class="like_all">
                            <div class="like">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </div>
                            <div class="quantity_like">
                                {{ instance.positive_likes|length }}
                            </div>
                        </a>
                        <a href="{{instance.slug}}" class="dislike_all">
                            <div class="dislike">
                                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                            </div>
                            <div class="quantity_dislike">
                                {{ instance.negative_likes|length }}
                            </div>
                        </a>
                    </section>
                </footer>
            </div>
        </div>
        <!-- Комментарии -->
        <!--<div class="comments_base">-->
            <!--<h3>Оставить комментарий</h3>-->
            <!--&lt;!&ndash; Нужно вставить ссылку на профиль автора &ndash;&gt;-->
            <!--{% include "send_comment.html" %}-->
    </article>
    <aside class="next_news_container"></aside>
</main>
{% endblock content %}
