{% extends "base.html" %} {% load staticfiles %} {% block head_extra %}
<link rel="stylesheet" href='{% static "css/post_list.css" %}'>
<script type="text/javascript" src="{% static 'js/post_list.js'  %}"></script>
{% endblock head_extra %} {% block content %}
<main>
    <!-- Индивидуальный блок новостей  -->
    <div class="articles">
        <div class="headerAllnews search_s_head">
            <h3>Моя лента</h3>
            <div class="right_header">
                <button class="btn btn-primary" id="offerNewsBtn" data-toggle="modal">
                    Предложить новость
                </button>
                <div class="searchRecord" id="find_news">
                    <textarea placeholder="Поиск новости..."></textarea>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="menu_individualNews">
            <ul>
                <div class="changeNews menu_individualNews_active ">
                    <li class="tab tabResponsive" id="main_tab">
                        <div>Все</div>
                        <div class="hover_menu"></div>
                    </li>
                </div>
                {% for tag in user_tags %}
                <div class="changeNews ">
                    <li class="tab tabResponsive">
                        <div>{{ tag }}</div>
                        <div class="hover_menu"></div>
                    </li>
                </div>
                {% endfor %}
                <div class="changeNews addTagParent">
                    <div class="addTag">
                        <div class="plus_units" data-toggle="modal" data-target="#modal_my_feed_change"><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                    </div>
                </div>
            </ul>
        </div>
        <hr class="postHr">
        <div class="articles_list">
            <div class="news_stream">
            </div>
        </div>
        <div href="2" class="more_article otherMore">
        </div>
    </div>
    <!-- Правая колонка новостей -->
    {% include "for_user.html" %}
</main>
<!-- Модальное окно, выбор тегов для своей ленты -->
<div id="modal_my_feed_change" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Моя лента</h4>
            </div>
            <div class="modal-body">
                <div class="you_teg">
                    <div class="info_about_tags">
                        Вы подписаль на {{ user_tags|length }} тегов
                    </div>
                    <div class="for_tag">
                        {% for tag in user_tags %}
                        <a href="#" class="tegArticle modalTag">
                            <span class="tag_chosen"></span>
                            <span class="additional_tag">{{ tag }}</span>
                            <span class="close_tag">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                        </a>{% endfor H%}
                    </div>
                </div>
                <div class="search_and_top_tags">
                    <div class="search_tag">
                        <div class="icon_search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        <textarea name="" maxlength="30" placeholder="Начните поиск тегов за которыми вы будете следить" id=""></textarea>
                    </div>
                    <div class="more_tags">
                        {% for tag in all_tags %}
                        <div class="one_tag_for_choose">
                            <div class="this_tag">
                                <span class="simple_tag">{{ tag }}</span> <span class="quantity_post_with_tag">({{ tag.posts|length }} постов)</span>
                            </div>
                            <div class="flex_right">
                                <div class="choose_tag_success{%if tag in user_tags%} success_tag{% endif %}">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <footer class="modal-footer">
                <span class="modal_cancel" data-dismiss="modal">
                    <a href="#">
                        Отмена                                                  
                    </a>
                </span>
                <span class="modal_save" data-dismiss="modal">
                    <a href="#">
                        Сохранить                                                  
                    </a>
                </span>
            </footer>
        </div>
    </div>
</div>
<!-- Конец модального окна -->
{% endblock content %}
