{% extends "base.html" %} {% load staticfiles %} {% block head_extra %}
<link rel="stylesheet" href='{% static "css/post_list.css" %}'> {% endblock head_extra %} {% load urlify %} {% load crispy_forms_tags %} {% block head_title %} {{instance.title}} | {{block.super}} {% endblock head_title %} {% block content %}
<script  type="text/javascript">
    var additional_posts = {{ additional_posts|safe }};
    var prefix = "/posts/";
    var objectPostCondition = {{state|safe}};
    var first_name = "{{request.user.first_name|escapejs|safe}}",
        last_name = "{{request.user.first_name|escapejs|safe}}",
        avatar_user = "{{request.user.avatar.url|escapejs|safe}}";
</script>
<script src="{% static 'js/post_detail.js'  %}"></script>
<main class="mainContainer">
    <article class="newsDetail">
        <div class="article_detail_img">
            {% if instance.image %}
            <img src="{{ instance.image.url }}" class='img-responsive' /> {% endif %}
            <div class="share_soc">
                <a href="#">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="article_detail">
            <header class="article_author">
                <a href="#" class="author_img containerImgUser">
                    <img src="{{ instance.user.avatar.url }}" class="imgUser" alt="Автор новости">
                </a>
                <div class="author_name_date">
                    <a href="">{{instance.user.first_name}} {{instance.user.last_name}}</a>
                    <p id="datePost"></p>
                </div>
            </header>
            <div class="article_detail_content">
                <h2 class="article_title">{{title}}</h2>
                <!-- Текст новости  -->
                <div class="article_text">
                    {{ instance.get_markdown }}
                </div>
                <footer class="footer_post_detail">
                    {% if instance.tag.all|length > 0 %}
                    <section class="teg_post_detail">
                        <h3>Теги:</h3> {% for sub_tag in instance.tag.all %}
                        <a href="#" class="tags__item js-tags-item">
                            <span> {{ sub_tag.name }} </span>
                        </a>
                        {% endfor %}
                    </section>
                    {% endif %}
                    <section class="mark_info">
                      <div class="mark_btn block_like" data-like="-1">
                          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                          <span class="votes">{{ instance.positive_likes|length }}</span>
                      </div>
                      <div class="mark_btn block_dislike" data-like="1">
                          <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                          <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                          <span class="votes">{{ instance.negative_likes|length }}</span>
                      </div>
                  </section>
                </footer>
            </div>
        </div>
        <div id="comment" class="articleArea">
          <section class="sendComent">
            {% include "send_comment.html" %}
          </section>
          <section class="comments">

          </section>
          <section class="progressLoad">

              <button id="load_coments" class="loading" data-page="1">
                  <i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
                  <span class="doneMore">Посмотреть больше</span>
              </button>
          </section>
        </div>
    </article>
    <aside class="next_news_container"></aside>
</main>
{% endblock content %}
