<div id="offerNewsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <header>
            <h4>Предложить новость</h4>
            <span class="glyphicon glyphicon-remove" aria-hidden="true" data-dismiss="modal"></span>
        </header>
        <div class="content">
            <div class="content_author">
                <div class="imgAuthorOfferNews containerImgUser">
                    <img src="{{ request.user.avatar.url }}" class="imgUser" alt="">
                </div>
                <div class="textOfferNews">
                    {{ post_form.content }}
                    <!--<textarea class="type" placeholder="Текст новости..."></textarea>-->
                </div>
            </div>
            <form action="" class="offerNewsFormImg">
                <div class="dowPhoto">
                    <h4>Загрузить фото</h4>
                    <div class="downloadImg">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                        <input type="file" value="Загрузить файл" class="dowFileImg" id="offerImgDownload">
                    </div>
                </div>
                {{ post_form.image_url }}
                <!--<textarea placeholder="Ссылка на изображения" class="linkImg"></textarea>-->
                <img src="" class="imgOfferNews">
            </form>
        </div>
        <footer>
            <button class="btn btn-not" data-dismiss="modal">Отмена</button>
            <button class="btn btn-ok">Предложить</button>
        </footer>
    </div>
</div>
