{% extends "base.html" %} {% load staticfiles %} {% block head_extra %}
<link rel="stylesheet" href='{% static "css/post_list.css" %}'>
<script type="text/javascript" src="{% static 'js/post_list.js'  %}"></script>
{% endblock head_extra %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <!-- Индивидуальный блок новостей  -->
            <div class="articles">
                         <div>
                    <h3>Моя лента</h3>
                </div>
                <div class="menu_individualNews">
                    <ul>
                        <div class="changeNews menu_individualNews_active">
                            <li class="tab" id="main_tab">
                                <div>Все</div>
                                <div class="hover_menu"></div>
                            </li>
                        </div>
                        {% for tag in user_tags %}
                            <div class="changeNews">
                                <li class="tab" id="simple_tab">
                                    <div>{{ tag }}</div>
                                    <div class="hover_menu"></div>
                                </li>
                            </div>
                        {% endfor %}
                        <div class="changeNews">
                            <li>
                                <div class="plus_units"><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                            </li>
                        </div>
                    </ul>
                </div>
                <hr>
               {% include "posts/list_section.html" %}
            </div>
            <!-- Конец важных новостей -->
        </div>
        <!-- Правая колонка новостей -->
        <div class="div col-lg-4">
            <div class="position_relative">
                <div id="wrap">
                    <!-- Профиль пользователя -->
                    <div class="user_date">
                        <h3>{{ request.user.first_name }} {{ request.user.last_name }}</h3>
                        <div class="user_date_img">
                            <img src="{{ request.user.avatar.url }}" alt="">
                        </div>
                        <div class="user_information">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><a href="#">Рейтинг прогнозистов</a></td>
                                        <td><a href="#">143</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Количество сатей</a></td>
                                        <td><a href="#">3</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Голосов</a></td>
                                        <td><a href="#">53</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Предложить новость  -->
                    <div class="offerNews">
                        <div class="img_offerNews">
                            <img src="{{ request.user.avatar.url }}" alt="">
                        </div>
                        <div class="text_offer_news">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Предложить новость" rows="15"></textarea>
                            </div>
                        </div>
                        <div class="click_textArea">
                            <div class="add_foto">
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                            </div>
                            <div class="button_offer">
                                <button type="button" class="btn btn-primary">Предложить</button>
                            </div>
                        </div>
                    </div>
                    <!-- Конец блока для предложеия новости -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}