{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block head_title %}FootballHouse {% endblock head_title %}</title>
    <!-- Latest compiled and minified CSS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>-->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/base.css" %}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.css" %}'>
    <style>
    {
        % block style %
    }
    
    {
        % endblock style%
    }
    </style>
    {% block head_extra %}{% endblock head_extra %}
</head>

<body id='body'>
    <style id="mainStyle">
        /*@media screen and (min-width: 1170px) {
            body.modal-open #menu {
                padding-left: calc(50% - 583.5px);
                padding-right: calc(50% - 566.5px);
            }
        }
        
        @media screen and (min-width: 970px) and (max-width: 1169px) {
            body.modal-open #menu {
                padding-right: calc(2.5% + 17px);
            }
        }*/
    </style>
    <!-- Nav -->
    <header id="menu">
        <a href="/" class="navbar-brand" id="brend">
            {% include "logo.html" %}
        </a>
        <nav id="mainNav">
            <ul>
                <li>
                    <a href="/">
                        <!-- <i class="fa fa-home" aria-hidden="true"></i> -->
                        {% include "logo.html" %}
                    </a>
                </li>
                <li>
                    <a href="/posts">Новости</a>
                </li>
                <li>
                    <a href="/bets/all_reviews">Прогрнозы</a>
                </li>
                <li>
                    <a href="/gallery">Галерея</a>
                </li>
                <li>
                    <a href="/articles">Статьи</a>
                </li>
                <li>
                    <a href="/records">Рекорды</a>
                </li>
                {% if request.user.is_staff %}
                <li>
                    <a href="/admin_page/news">Админ</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <div class="rightMenu">
            <div class="loginScheckIn">
                <!-- Показать когда пользователь вошел  -->
                <div class="relative_container">
                    <div class="user_profile">
                        {% if request.user.is_authenticated %}
                        <div class="name_user_in_menu">{{ request.user.first_name }}</div>
                        <div class="imgUserNav containerImgUser"><img src="{{ request.user.avatar.url }}" alt="Картинка пользователя" class="imgUser"></div>
                        <i class="fa fa-caret-down" aria-hidden="true"></i> {% else %}
                        <div class="name_user_in_menu">Вход</div>
                        <i class="fa fa-sign-in" aria-hidden="true"></i> {% endif %}
                    </div>
                    <!-- Всплывающее окно юзера -->
                    <div id="top_profile_menu">
                        <div class="posirion_reletive">
                            {% if request.user.is_authenticated %}
                            <a href="/user">Мой профиль</a>
                            <div class="line_solid"></div>
                            <a href="" data-toggle="modal" data-target="#week_bets_top">Сделать ставку</a>
                            <a href="" data-toggle="modal" data-target="#offerNewsModal">Предложить новость</a>
                            <a href="">Редактировать профиль</a>
                            <div class="line_solid"></div>
                            <a href="/logout">Выйти</a> {% else %}
                            <a href="/login">Войти</a>
                            <a href="/register">Регистрация</a> {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="menuBtn">
                <span>Меню</span>
                <div class="menuToggle">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </header>
    {% include "messages_display.html" %}

    {% block content %} {% endblock content %}

    <!-- Suggest article -->
    {% include "articles/article_form.html" %}
    <!-- Suggest news -->
    {% include "posts/post_form.html" %}
    <!-- Make bets -->
    {% include "bets/make_bet.html" %}
    <!-- Footer end -->
    <!-- Конец всплывающего окна для юзеровского логина -->
    <!--<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>-->
    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js" /></script>-->
    <!--Google -Fonts-->
    <!--<link href='http://fonts.googleapis.com/css?family=Sintony:400,700&subset=latin-ext' rel='stylesheet' type='text/css'>-->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script type="text/javascript" src="{% static 'js/base.js'  %}"></script>
    <!--Font-awsome-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</body>

</html>
