{% block comment_block %}
{% for comment in comments %}
    <div class="blockquote">
                <a href="#">
                    <div class="coments_author">
                        <img src="{{ comment.user.avatar.url }}" alt="">
                    </div>
                </a>
                <div class="content_coment">
                    <div class="coment_author_time">
                        <a href="#">{{ comment.user.first_name }} {{ comment.user.last_name }}</a> {{ comment.timestamp|timesince }} назад
                    </div>
                    {{ comment.content }}
                    <footer> {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a class="comment-reply-btn" href="#">Ответить</a> </footer>
                    <div class="comment-reply">
                        {% for child_comment in comment.children %}
                        <div class="blockquote">
                            <p>{{ child_comment.content }}</p>
                            <footer>{{ child_comment.user.first_name }} {{ child_comment.user.last_name }} | {{ child_comment.timestamp|timesince }} назад</footer>
                        </div>
                        {% endfor %} {% if request.user.is_authenticated %}
                        <form method="POST" action="."> {% csrf_token %}
                            <input type="hidden" name="parent_id" value="{{ comment.id }}">
                            <input type="submit" value="Ответить" class="btn btn-default">
                        </form>
                        {% else %}
                        <p><a href="/login">Войдите</a> в свой аккаунт или <a href="/register">зарегистрируйтесь</a> чтобы оставлять комментарии</p>
                        {% endif %}
                    </div>
                </div>
            </div>
    {% endfor %}
    <a href="#" class="show_all_coment">Показать все комментарии</a>
{% endblock comment_block %}
