<aside class="position_relative infoUserRight asideRight">
    {% if request.user.is_authenticated %}
        <h3>{{ request.user.first_name }} {{ request.user.last_name }}</h3>
        <div class="img_flex">
            <div class="user_date_img containerImgUser">
                <img src="{{ request.user.avatar.url }}" class="imgUser" alt="">
            </div>
        </div>
        <table class="table user_information" >
            <tbody>
                <tr>
                    <td>
                        <p>Рейтинг прогнозистов</p>
                        <p>143</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Количество сатей</p>
                        <p>3</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Голосов</p>
                        <p>1242</p>
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
    <h3>Братан, зарегайся или ввойди в аккаунт</h3> {% endif %}
</aside>
