<div class="position_relative infoUserRight">
    <div id="wrap">
        {% if request.user.is_authenticated %}
        <div class="user_date">
            <h3>{{ request.user.first_name }} {{ request.user.last_name }}</h3>
            <div class="img_flex">
                <div class="user_date_img">
                    <img src="{{ request.user.avatar.url }}" alt="">
                </div>
            </div>
            <div class="user_information">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><a href="#">Рейтинг прогнозистов</a></td>
                            <td><a href="#">143</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Количество сатей</a></td>
                            <td><a href="#">3</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Голосов</a></td>
                            <td><a href="#">53</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <h3>Братан, зарегайся или ввойди в аккаунт</h3> {% endif %}
    </div>
</div>
