<div class="sendComment">
    {% if request.user.is_authenticated %}
    <a href="#" class="authorComent">
        <div class="coments_author containerImgUser">
            <img src="{{ request.user.avatar.url }}" class="imgUser" alt="">
        </div>
    </a>
    {% else %} {% endif %} {% if request.user.is_authenticated %}
    <form method="POST" action="." class="formSendComment"> {% csrf_token %}
        <!--<div class="forPlaceholder">-->
            <div class="forPlaceholder">
                <input id="id_content" parent_id="{{ instance.id }}" name="content" placeholder="Оставить комментарий..." type="text">
            </div>
            <!--{{ comment_form.content }}-->
        <!--</div>-->
        <div class="sendBtn">
            <input type="submit" value="Отправить" class="btnFhouse">
        </div>
        {% else %}
        <p><a href="/login">Войдите</a> в свой аккаунт или <a href="/register">зарегистрируйтесь</a> чтобы оставлять комментарии</p>
    </form>
    {% endif %}
</div>
