/*Основные стили*/
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.navbar {
    margin-bottom: 20px !important;
    position: absolute;
}

.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 100px !important;
    margin-right: 100px !important;
}

.containerForMenu {
    position: relative;
    width: 100%;
    min-height: 50px;
    margin-bottom: 23px;
}

.navbar {
    position: fixed;
}

.modal-open {
    overflow: auto !important;
}

body {
    font-family: Roboto, arial, sans-serif;
    letter-spacing: normal;
    color: #1d2f3e;
    font-size: 1.4em;
    background-color: #eaeaea;
}




.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    padding: 0% !important;
}

.col-lg-4 {
    margin-left: 2% !important;
    width: 31.33333333%;
}

h1 {
    color: #777777;
}

.wmd-panel {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.comment-reply {
    display: none;
}


/*footer*/

.footer-distributed {
    background-color: #38003c;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 15px 50px;
    margin-top: 25px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}


/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #e90052;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #e90052;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}


/*Menu Fixed Top*/

.navbar-custom {
    background-color: #38003c
}

.navbar-nav a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}


/*Menu hover*/

@media (min-width: 768px) {
    .navbar-nav .liMenuHover0:hover .liMenuHover {
        bottom: 0px;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
}

@media (min-width: 768px) {
    .navbar-nav .liMenuHover0:active .liMenuHover {
        bottom: 0px;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }
}

.nav > li {
    position: relative;
    overflow: hidden;
}

@media (max-width: 767px) {
    .navbar-nav a:hover {
        color: #e90052;
    }
}

.liMenuHover {
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 100%;
    height: 5px;
    background-color: #e90052;
    /*-moz-transition: all 1.2s ease-out;
    -o-transition: all 1.2s ease-out;
    -webkit-transition: all 1.2s ease-out;
    transition: all 1.2s ease-out;*/
}

.navbar-nav li:hover {
    background-color: #38003c;
}

.navbar-header img {
    height: 30px;
    width: auto;
    text-align: center;
}

.navbar-header {
    background-color: #00ff87;
    min-width: 50px;
}

.navbar-brand {
    margin-left: 0px;
    padding-left: -2px;
}

.navbar-header p:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.navbar-header a {
    color: white;
}

.navbar {
    border: none;
}

.nav li>a:focus,
.nav li>a:hover {
    background-color: #38003c;
}

@media (min-width: 768px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
}

#menu_fixedTop {
    position: relative;
}


/*Регистрация (кнопки в меню)*/

.loginScheckIn {
    float: right;
    color: #fafafa;
    font-size: 20px;
    line-height: 50px;
}

.loginScheckIn i:nth-child(1) {
    color: #fafafa;
}

.loginScheckIn a {
    color: #fafafa;
}

.loginScheckIn a:hover {
    text-decoration: none;
    color: #e90052;
}

.loginScheckIn a:hover i {
    color: #e90052;
}


/*Вход для юзера (Модальное окно)*/

.modal-body {
    padding: 5%;
    font-size: 14px;
}

.modal-content {
    border-radius: 3px !important;
}

.modal-body h3 {
    text-align: center;
    margin-top: 0px;
}

.modal-body form {
    width: 90%;
    padding-left: 10%;
}

.buttonLogin {
    width: 80%;
    margin-left: 10%;
    background-color: #e90052;
    color: #fafafa;
    text-align: center;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.modal-dialog {
    width: 25% !important;
    margin: 30px auto;
}

.form-group {
    width: 100% !important;
}

.socialLogin {
    padding: 5%;
}

.loginFacebook,
.loginGoogle,
.loginTwitter,
.loginVk {
    height: 35px;
    width: 47.5%;
    margin-right: 1.25%;
    margin-left: 1.25%;
    margin-bottom: 2.5%;
    float: left;
    text-align: center;
    color: #fafafa;
    line-height: 35px;
}

.loginFacebook p,
.loginGoogle p,
.loginTwitter p,
.loginVk p {
    margin: 0px !important;
}

.loginFacebook {
    background-color: #4f61b5;
}

.loginGoogle {
    background-color: #f73231;
}

.loginTwitter {
    background-color: #00abf0;
}

.loginVk {
    background-color: #3b699b;
}

.otherActions {
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
}

.otherActions:hover a,
.otherActions:focus a {
    color: #c91a10;
    text-decoration: underline;
    background-color: transparent;
}

.otherActions a {
    color: #EF4036;
}

.ism-or {
    width: 75%;
    margin: 5px auto 5px auto;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
}

.ism-or span {
    background: #fff;
    padding: 7px;
    position: relative;
    top: 9px;
}


/*checkbox*/

form [type="text"],
form [type="email"],
form [type="password"] {
    background: #E8E8E8;
    border: none;
    padding: 15px;
    border-bottom: 1px solid #76766f;
    width: 100%;
    height: 47px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.modal-open {
    padding-right: 0px !important;
}
