{% extends "base.html" %} {% load staticfiles%} {% block head_title %}{{ title }}{% endblock head_title %} {% block head_extra %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Record</title>
<link rel="stylesheet" href='{% static "css/record.css" %}'>
<script type="text/javascript" src="{% static 'js/record.js'  %}"></script>
{% endblock head_extra %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="table_nav_records">
                <div>Рекорды</div>
                <div class="tab">
                    <ul>
                        <li>Все</li>
                        {% for record_group in groups_tables %}
                        <li>{{ record_group.group }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="statsCard">
                <div class="flex_container">
                </div>
                <div class="more_records">
                    <a href="3">ПОСМОТРЕТЬ БОЛЬШЕ</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>
{% endblock content %}
