{% extends "base.html" %} {% load staticfiles%} {% block head_title %}{{ title }}{% endblock head_title %} {% block head_extra %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Record</title>
<link rel="stylesheet" href='{% static "css/record.css" %}'>
<script type="text/javascript" src="{% static 'js/record.js'  %}"></script>
{% endblock head_extra %} {% block content %}
<div class="container">
    {% for record_group in groups_tables %}
    <div class="row">
        <div class="col-lg-9">
            <div class="statsCard">
                <div class="title_and_all_albums">
                    <h2><a href = '{{record_group.group.get_absolute_url}}'>{{ record_group.group }} </a></h2>
                    <a href="{{record_group.group.get_absolute_url}}">
                        <div class="add_record">
                            <span>Добавить рекорд</span>
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </div>
                    </a>
                </div>
                <div class="flex_container">
                    {% for records_table in record_group.tables %}
                    <div class="thumbnail">
                        <div class="caption" id="caption">
                            <h3>{{ records_table.table }}</h3>
                        </div>
                        <ul class="statsList list-group" id="list-group">
                            {% for record in records_table.records %} {% if forloop.counter == 1 %}
                            <li class="statsHero inactive">
                                <div class="statInfo" id="statInfo">
                                    {% else %}
                                    <li class="statsRow">
                                        <div class="pos">
                                            {{forloop.counter}}.</div>
                                        <div class="teamInfo">
                                            {% endif %}
                                            <a href='{{record.get_absolute_url}}' class="statName">{{ record }}</a>
                                        </div>
                                        <div class="stat"> {{ record.record_value }} </div>
                                        {% if forloop.counter == 1 %}
                                        <div class="imgCropContainer">
                                            <img class="img statCardImg" src="{{record.content_object.image.url}}" alt="">
                                        </div>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                    <a href="{{records_table.table.get_absolute_url}}">
                                        <li class="full_list_record" id="btn-record">
                                            Полный Cписок
                                            <span id="arrow_record" class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                        </li>
                                    </a>
                        </ul>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="more_article">
                        ПОСМОТРЕТЬ БОЛЬШЕ
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock content %}
