<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Record</title>
</head>

<body id="body">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-9 nameTableSsearch">
                <h2>Какой-то рекорд</h2>
                <div class="searchRecord">
                    <div class="input-group" id="adv-search">
                        <input type="text" class="form-control" placeholder="Найди Рекорд..." />
                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <!-- Table Record -->
        <div class="col-lg-1"></div>
        <div class=" col-lg-9 divForTable">
            <table class="table">
                <thead>
                    <tr>
                        <th class="thTableRecord">#</th>
                        <th>Имя Фамилия</th>
                        <th>
                            Клуб</th>
                        <th>Национальность</th>
                        <th>Стат</th>
                    </tr>
                </thead>
                <tbody class="tableRecord">
                    <tr class="linkRecord">
                        <th>1</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>2</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>3</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>4</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>5</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>6</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>7</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>8</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>9</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>10</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>11</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>12</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>13</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>14</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>15</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>16</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>17</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>18</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord">
                        <th>19</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                    <tr class="linkRecord last">
                        <th>20</th>
                        <th><a href="">Андрей Ярмоленко</a></th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/FC_Dynamo_Kyiv_logo.svg/150px-FC_Dynamo_Kyiv_logo.svg.png" alt=""> Динамо</a>
                        </th>
                        <th>
                            <a href=""><img class="imageTableRecord" src="https://lipis.github.io/flag-icon-css/flags/4x3/ua.svg" alt=""> Украина</a>
                        </th>
                        <th>112</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <!-- End teble record -->
    <!-- Other records -->
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="table-responsive col-lg-3">
                <table class="table otherRecords">
                    <thead class="recordNeartableRecord">
                        <tr>
                            <th>Клубы</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                        </tr>
                        <tr class="fullRecord">
                            <td><a href="#" class="ndsfds">Посмотреть все (15)</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive col-lg-3">
                <table class="table otherRecords">
                    <thead class="recordNeartableRecord">
                        <tr>
                            <th>Сборные</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                        </tr>
                        <tr class="fullRecord">
                            <td><a href="#" class="ndsfds">Посмотреть все (15)</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive col-lg-3">
                <table class="table otherRecords">
                    <thead class="recordNeartableRecord">
                        <tr>
                            <th>Трансферы</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                        </tr>
                        <tr class="fullRecord">
                            <td><a href="#" class="ndsfds">Посмотреть все (15)</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="recordTable.css">
</body>

</html>
