{% extends "base.html" %} {% load staticfiles%} {% block head_title %}{{ title }}{% endblock head_title %} {% block head_extra %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Record</title>
<link rel="stylesheet" href='{% static "css/recordTable.css" %}'> {% endblock head_extra %} {% block content %}
<main>
    <!-- Table Record -->
    <div class=" tableInfo ">
        <div class="block_table">
            <h1>
                <p>{{record_name}}</p>
                <div class="searchRecord">
                    <textarea placeholder="Найди рекорд..." ></textarea> 
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </h1>
            <!-- Таблица рекорда -->
            <div class="divForTable">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="thTableRecord">#</th>
                            <th>Имя Фамилия</th>
                            <th>Клуб</th>
                            <th class="nationalHead"></th>
                            <th>Стат</th>
                        </tr>
                    </thead>
                    <tbody class="tableRecord">
                        {% for record in records %}
                        <tr class="linkRecord">
                            <th>{{forloop.counter}}</th>
                            <th><a href="">{{record.content_object.name}}</a></th>
                            <th>
                                <a href="" class="aTable">
                                    <img class="imageTableRecord" src="{{record.content_object.club.image.url}}">
                                    <p class="infoRecordTable">
                                        {{record.content_object.club}}
                                    </p>
                                </a>
                            </th>
                            <th>
                                <a href="" class="aTable">
                                    <img class="imageTableRecord" src="{{record.content_object.country.image.url}}">
                                    <p class="infoRecordTable">
                                        {{record.content_object.country}}
                                    </p>
                                </a>
                            </th>
                            <th>{{record.record_value}}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Дополнительные таблицы -->
            <div class="moreRecords">
                <div class="table_allnews_insection">
                    <table class="table otherRecords">
                        <thead class="recordNeartableRecord">
                            <tr>
                                <th>Клубы</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                            </tr>
                            <tr>
                                <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                            </tr>
                            <tr>
                                <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                            </tr>
                            <tr>
                                <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                            </tr>
                            <tr>
                                <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                            </tr>
                            <tr class="fullRecord">
                                <td><a href="#" class="ndsfds">Посмотреть все (15)</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table_allnews_insection">
                    <table class="table otherRecords">
                        <thead class="recordNeartableRecord">
                            <tr>
                                <th>Клубы</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                            </tr>
                            <tr>
                                <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                            </tr>
                            <tr>
                                <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                            </tr>
                            <tr>
                                <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                            </tr>
                            <tr>
                                <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                            </tr>
                            <tr class="fullRecord">
                                <td><a href="#" class="ndsfds">Посмотреть все (15)</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table_allnews_insection">
                    <table class="table otherRecords">
                        <thead class="recordNeartableRecord">
                            <tr>
                                <th>Клубы</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                            </tr>
                            <tr>
                                <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                            </tr>
                            <tr>
                                <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                            </tr>
                            <tr>
                                <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                            </tr>
                            <tr>
                                <td><a href="#">Трофеи</a> <span class="glyphicon glyphicon-arrow-right recordArrow" aria-hidden="true"></span></td>
                            </tr>
                            <tr class="fullRecord">
                                <td><a href="#" class="ndsfds">Посмотреть все (15)</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="advertising"></div>
</main>
{% endblock content %}
