{% extends "base.html" %} {% load staticfiles %} {% block head_extra %}
<link rel="stylesheet" href='{% static "css/main_page.css" %}'>
<link rel="stylesheet" href='{% static "css/record.css" %}'>
<script type="text/javascript" src="{% static 'js/main_page.js'  %}"></script>
<script type="text/javascript" src="{% static 'js/record.js'  %}"></script>
{% endblock head_extra %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="user_date">
                <h3>{{ request.user.first_name }} {{ request.user.last_name }}</h3>
                <div class="user_date_img">
                    <img src="{{ request.user.avatar.url }}" alt="">
                </div>
                <div class="user_information">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><a href="#">Рейтинг прогнозистов</a></td>
                                <td><a href="#">143</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Количество сатей</a></td>
                                <td><a href="#">3</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Голосов</a></td>
                                <td><a href="#">53</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="container_all">
                <div class="main_news_container">
                    {% include "main/main_posts.html" %}
                    </div>
                <div class="container_unit">
                    <div class="last_photos">
                        <div class="title_and_all">
                            <h2><a href='#'>Галерея</a></h2>
                            <a href="Больше">
                                <div class="all_of_units">
                                    <span>Больше</span>
                                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                </div>
                            </a>
                        </div>
                        <dic class="container">
                            <div class="row">
                                <div class="main_gallery_container">
                                </div>
                        </dic>
                        </div>
                    </div>
                </div>
                <div class="container_unit">
                    <div class="read_articles">
                        <div class="title_and_all">
                            <h2><a href='#'>Чтиво</a></h2>
                            <a href="Больше">
                                <div class="all_of_units">
                                    <span>Больше</span>
                                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                </div>
                            </a>
                        </div>
                            <div class="articles_list">
                                </div>
                    </div>
                </div>
                <div class="container_unit">
                    <div class="title_and_all">
                        <h2><a href='#'>Рекорды в мировом футболе </a></h2>
                        <a href="Больше">
                            <div class="all_of_units">
                                <span>Больше</span>
                                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                            </div>
                        </a>
                    </div>
                    <div class="last_records">
                        <!-- 1 рекорд     -->
                            <div class="records_list">
                                </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 colum">
            <div class="user_date">
                <h3>Мангура Дмитрий</h3>
                <div class="user_date_img">
                    <img src="{{ request.user.avatar.url }}" alt="">
                </div>
                <div class="user_information">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><a href="#">Рейтинг прогнозистов</a></td>
                                <td><a href="#">143</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Количество сатей</a></td>
                                <td><a href="#">3</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">Голосов</a></td>
                                <td><a href="#">53</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
