<div class="container_unit">
                    <div class="main_news">
                        <a href="#">
                            <div class="main_img">
                                <img src="{{ main_post.image.url }}" alt="">
                            </div>
                            <div class="main_news_infa">
                                <h2>{{ main_post.title }}</h2>
                                {{ main_post.content }}
                            </div>
                        </a>
                    </div>
                </div>


<div class="container_unit">
                    <div class="last_news">
                        <div class="title_and_all">
                            <h2><a href='#'>Последние новости</a></h2>
                            <a href="/posts">
                                <div class="all_of_units">
                                    <span>Больше</span>
                                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                </div>
                            </a>
                        </div>
                        <div class="container_news">
{% for post in post_list %}
                            <div class="one_news">
                                <a href="{{post.get_absolute_url}}">
                                    <div class="one_news_img">
                                        <img src="{{ post.image.url }}" alt="">
                                    </div>
                                    <div class="one_news_info">
                                        {% for tag in post.tags %}
                                        <span>{{ tag.name }}</span>
                                        {% endfor %}
                                        <h4>{{ post.title }}</h4>
                                    </div>
                                </a>
                            </div>
{% endfor %}

                        </div>
                    </div>
                </div>