{% extends "base.html" %} {% load staticfiles %} {% block head_extra %}
<link rel="stylesheet" href='{% static "css/main_page.css" %}'>
<link rel="stylesheet" href='{% static "css/record.css" %}'>
<link rel="stylesheet" href='{% static "css/post_list.css" %}'>
<link rel="stylesheet" href="http://jcrop-cdn.tapmodo.com/v0.9.12/css/jquery.Jcrop.css" type="text/css" />
<script type="text/javascript" src="{% static 'js/main_page.js'  %}"></script>
<script type="text/javascript" src="{% static 'js/record.js'  %}"></script>
<script src="http://jcrop-cdn.tapmodo.com/v0.9.12/js/jquery.Jcrop.min.js"></script>
{% endblock head_extra %} {% block content %}
<main>
    <!-- Индивидуальный блок новостей  -->
    <div class="articles">
        <div class="main_news_container">
            {% include "main/main_posts.html" %}
        </div>
        <div class="container_unit">
            <div class="last_photos">
                <div class="title_and_all">
                    <h2><a href='/gallery'>Галерея</a></h2>
                    <a href="/gallery">
                        <div class="all_of_units">
                            <span>Больше</span>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="main_gallery_container">
                </div>
            </div>
        </div>
        <div class="container_unit">
            <div class="read_articles">
                <div class="title_and_all">
                    <h2><a href='/articles'>Чтиво</a></h2>
                    <a href="/articles">
                        <div class="all_of_units">
                            <span>Больше</span>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
                <div class="articles_list">
                </div>
            </div>
        </div>
        <div class="container_unit">
            <div class="title_and_all">
                <h2><a href='/records'>Рекорды</a></h2>
                <a href="/records">
                    <div class="all_of_units">
                        <span>Больше</span>
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="last_records">
                <!-- 1 рекорд     -->
                <div class="records_list">
                </div>
            </div>
        </div>
    </div>
    {% include "for_user.html" %}
</main>
{% endblock %}
