textarea {
    resize: none !important;
}

.right_header {
    display: flex;
    flex-wrap: wrap;
}

#offerNewsBtn {
    height: 30px !important;
    padding: 0 16px;
    margin: 0 10px 10px 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 30pxpx;
    text-align: center;
    text-decoration: none;
    background: none;
    border: 0;
    border-radius: 2px;
    background: #aa0a0c;
    color: #fff;
    box-sizing: border-box;
}

#offerNewsBtn:hover{
   background:  rgba(170, 10, 12, 0.84);
}

.searchRecord {
    width: 250px;
    display: flex;
    height: 30px;
    margin-bottom: 10px;
}

.searchRecord textarea {
    width: 225px;
    height: 100%;
    font-size: 15px;
    overflow: hidden;
    padding: 5px;
    outline: none;
    font-weight: 400 !important;
}

.searchRecord button {
    width: 30px;
    height: 30px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    background: #aa0a0c;
    border-color: #aa0a0c;
    text-transform: uppercase;
}

.searchRecord .btn-primary:hover,
.searchRecord .btn-primary:focus,
.searchRecord .btn-primary:visited,
.searchRecord .btn-primary:active  {
    color: #fff;
    background: rgba(170, 10, 12, 0.84);
    border-color: rgba(170, 10, 12, 0.84);
}


/*Aticle main block*/

.articles {
    margin: 0 auto 20px;
}

.container_article {
    background-color: #fff;
    border-top: 0px solid #CCD1D9;
    padding: 20px;
    padding-bottom: 70px;
}


/*Чтиво*/

.one_read_article a {
    color: #222;
}

.articles_author p {
    position: absolute;
    top: 260px;
    left: 100px;
    font-weight: 600;
    font-size: 18px;
    color: #1d2f3e;
}

.one_read_article_info {
    padding: 10px;
}

.one_read_article {
    width: 32%;
    position: relative;
    background-color: #fff
    /*    margin-left: 2%;
    margin-bottom: 25px;*/
}

.date_aritle:nth-child(2) {
    left: 62.5px;
}

.more_article {
    cursor: pointer;
    width: 230px;
    margin: -50px auto 0px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    color: #656D78;
    background: #fff;
    border: 1px solid #afadad;
    border-radius: 2px;
}

.more_article:hover {
    background: #eee;
}

.more_article a {
    display: block;
    padding: 5px;
    width: 230px;
    text-decoration: none;
    color: #222;
}

.more_article a:hover,
.more_article a:focus,
.more_article a:active {
    text-decoration: none;
    color: #222;
}


/*Навигация между статьями */

.navigation_between_articles {
    background-color: #292a2e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.table_nav_records {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 0 20px;
    border-bottom: 0px !important;
}

.table_nav_records h1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 30px;
    color: #000;
    font-weight: 900;
    margin-bottom: 0;
}

.table_nav_records h1 p {
    margin: 0 0 10px;
    padding: 0;
}

.searchRecord {
    width: 250px;
    display: flex;
    height: 30px;
}

.searchRecord textarea {
    width: 225px;
    height: 100%;
    font-size: 15px;
    overflow: hidden;
    padding: 5px;
    outline: none;
    font-weight: 400 !important;
}

.searchRecord button {
    width: 30px;
    height: 30px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
}

.form-control {
    outline: none !important;
}

.table_nav_records ul {
    display: flex;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.table_nav_records ul li {
    margin: 0 5px 0 0;
    position: relative;
    cursor: pointer;
    display: block;
}

.table_nav_records ul li a {
    color: #222;
    display: block;
    padding: 5px 10px;
}

.table_nav_records ul li a:active,
.table_nav_records ul li a:focus,
.table_nav_records ul li a:hover,
.table_nav_records ul li a:visited {
    color: #222;
    text-decoration: none;
}

.table_nav_records ul li:hover .lineHover {
    top: calc(100% - 4px);
}

.activeRecords {
    font-weight: 900;
}

.activeRecords .lineHover {
    top: calc(100% - 4px);
}

.lineHover {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #e62117;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.table_nav_records hr {
    width: 100%;
    border-top: 2px solid #eee;
    margin: 0 !important;
}


/*Articles main responsive*/

.articleSrc {
    width: 100%;
    height: 100%;
}

.articleSrc:hover .one_read_article_info h3 {
    color: #1d71b9;
}

.one_read_article:hover .one_read_article_img img {
    transform: scale(1.25);
}

.one_read_article_img img {
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.articleSrc:hover {
    text-decoration: none;
}

.one_read_article_info h3 {
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
}

.author_img {
    left: 30px;
}

.author_img img {
    width: 100%;
}

.one_read_article_img {
    width: 100%;
    overflow: hidden;
}

.one_read_article_img img {
    width: 100%;
}

.one_read_article {
    border: 1px solid #afadad;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.one_read_article {
    display: block;
}

.one_read_article_info h3 {
    font-size: 24px;
}

.date_aritle {
    font-size: 14px;
}

@media screen and (min-width: 1170px) {
    .author_img {
        width: 70px !important;
        height: 70px !important;
    }
    .author_img {
        bottom: calc(100% - 35px) !important;
    }
    .relative_article p {
        font-size: 14px;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .author_img {
        width: 60px !important;
        height: 60px !important;
    }
    .author_img {
        bottom: calc(100% - 35px) !important;
    }
    .relative_article p {
        font-size: 14px;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .author_img {
        width: 70px !important;
        height: 70px !important;
    }
    .author_img {
        bottom: calc(100% - 35px) !important;
    }
    .relative_article p {
        font-size: 14px;
    }
}

@media screen and (max-width: 749px) {
    .relative_article p {
        font-size: 13px;
    }
}


/*@media screen  and (min-width: 501px) and (max-width: 749px) {
     .author_img {
        width: 70px !important;
        height: 70px !important;
    }
    .author_img {
        bottom: calc(100% - 35px) !important;
    }
}*/

@media screen and (max-width: 749px) {
    .author_img {
        width: 50px !important;
        height: 50px !important;
    }
    .author_img {
        bottom: calc(100% - 25px) !important;
        left: 10px !important;
    }
    .relative_article p {
        left: 65px !important;
        top: 5px;
    }
    .info_time_article {
        margin-top: 30px !important;
    }
}

.relative_article {
    position: relative;
}

.relative_article p {
    position: absolute;
    left: 105px;
    top: 5px;
    font-weight: 600;
    color: #1d2f3e;
}

.one_read_article_info p {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 20px;
    max-height: 60px;
}

.author_img {
    overflow: hidden;
    border-radius: 50%;
    background-color: #d9dde0;
    border: 2px solid #d9dde0;
    position: absolute;
}

.info_time_article {
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.before_date {
    width: 45px;
    height: 16px;
    background-color: #e62117;
    margin-right: 5px;
}

.date_aritle {
    color: #656D78;
}


/*Masonry*/

#wrapper {
    width: 100%;
}

#list {
    width: calc(100% + 15px);
    /* 990px */
    overflow: hidden;
    margin-left: -7.5px;
    /* 15px */
    margin-bottom: -1.875em;
    /* 30px */
}

@media screen and (min-width: 1170px) {
    .item {
        width: calc(33.222222% - 15px);
        float: left;
        margin: 0 7.5px 15px 7.5px;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .item {
        width: calc(33.222222% - 15px);
        float: left;
        margin: 0 7.5px 15px 7.5px;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .item {
        width: calc(50% - 15px);
        float: left;
        margin: 0 7.5px 15px 7.5px;
    }
}

@media screen and (min-width: 570px) and (max-width: 749px) {
    .item {
        width: calc(50% - 15px);
        float: left;
        margin: 0 7.5px 15px 7.5px;
    }
}

@media screen and (max-width: 569px) {
    .item {
        width: calc(100% - 15px);
        float: left;
        margin: 0 7.5px 15px 7.5px;
    }
}


@media screen and (min-width: 970px) {
    .table_nav_records,
    .container_article {
        border: 1px solid #afadad;
    }
    body {
        padding-top: 70px;
        padding-bottom: 20px;
    }
    .table_nav_records {
        border-bottom: 0px solid #afadad !important;
    }
    .container_article {
        border-top: 0px solid #666;
    }
}

@media screen and (max-width: 969px) {
    .table_nav_records,
    .container_article {
        border: 0px solid #666;
    }
    body {
        padding-top: 70px;
        padding-bottom: 20px;
    }
}
