main {
    margin-bottom: 20px !important;
}
textarea {
    resize: none !important;
}

/*Aticle main block*/

.articles {
    margin: 0 auto 20px;
}

.container_article {
    background-color: #fafafa;
    border: 1px solid #CCD1D9;
    border-top: 0px solid #CCD1D9;
    padding: 20px;
    padding-bottom: 70px;
}

/*Чтиво*/

.one_read_article a {
    color: #333;
}

.articles_author p {
    position: absolute;
    top: 260px;
    left: 100px;
    font-weight: 600;
    font-size: 18px;
    color: #1d2f3e;
}

.one_read_article_info {
    padding: 10px;
}

.one_read_article {
    width: 32%;
    position: relative;
    border: 1px solid #CCD1D9;
    background-color: #fafafa
    /*    margin-left: 2%;
    margin-bottom: 25px;*/
}

.date_aritle:nth-child(2) {
    left: 62.5px;
}

.more_article {
    cursor: pointer;
    width: 230px;
    margin: -50px auto 0px;
    padding: 5px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    color: #656D78;
    background: #fff;
    border: 1px solid #CCD1D9;
    border-radius: 2px;
}

.more_article:hover {
    background: #eee;
}

.more_article a {
    text-decoration: none;
    color: #333;
}

.more_article a:hover,
.more_article a:focus {
    text-decoration: none;
    color: #333;
}


/*Навигация между статьями */

.navigation_between_articles {
    background-color: #292a2e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.table_nav_records {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #fafafa;
    padding: 0 20px;
    border: 1px solid #CCD1D9;
    border-bottom: 0px !important;
}

.table_nav_records h1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 30px;
    color: #000;
    font-weight: 900;
}

.table_nav_records h1 p {
    margin: 0;
    padding: 0;
}

.searchRecord {
    width: 250px;
    display: flex;
    height: 30px;
}

.searchRecord textarea {
    width: 225px;
    height: 100%;
    font-size: 15px;
    overflow: hidden;
    padding: 5px;
    outline: none;
    font-weight: 400 !important;
}

.searchRecord button {
    width: 30px;
    height: 30px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
}

.form-control {
    outline: none !important;
}

.table_nav_records ul {
    display: flex;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.table_nav_records ul li {
    margin: 0 5px 0 0;
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
    display: block;
}

.table_nav_records ul li a {
    color: #222;
}

.table_nav_records ul li a:active,
.table_nav_records ul li a:focus,
.table_nav_records ul li a:hover,
.table_nav_records ul li a:visited {
    color: #222;
    text-decoration: none;
}

.table_nav_records ul li:hover .lineHover {
    top: calc(100% - 4px);
}

.activeRecords {
    font-weight: 900;
}

.activeRecords .lineHover {
    top: calc(100% - 4px);
}

.lineHover {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fcb913;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.table_nav_records hr {
    width: 100%;
    border-top: 2px solid #eee;
    margin: 0 !important;
}


/*Articles main responsive*/

.articleSrc {
    width: 100%;
    height: 100%;
}

.articleSrc:hover .one_read_article_info h3 {
    color: #1d71b9;
}

.one_read_article:hover .one_read_article_img img {
    transform: scale(1.25);
}

.one_read_article_img img {
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.articleSrc:hover {
    text-decoration: none;
}

.one_read_article_info h3 {
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
}

.author_img {
    left: 30px;
}

.author_img img {
    width: 100%;
}

.one_read_article_img {
    width: 100%;
    overflow: hidden;
}

.one_read_article_img img {
    width: 100%;
}

.one_read_article {
    border: 1px solid #CCD1D9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.one_read_article {
    display: block;
}

@media screen and (min-width: 1170px) {
    .author_img {
        width: 70px !important;
        height: 70px !important;
    }
    .author_img {
        bottom: calc(100% - 35px) !important;
    }
    .date_aritle {
        font-size: 1.1vw;
    }
    .relative_article p {
        font-size: 1.3vw;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .author_img {
        width: 60px !important;
        height: 60px !important;
    }
    .author_img {
        bottom: calc(100% - 35px) !important;
    }
    .date_aritle {
        font-size: 1.15vw;
    }
    .relative_article p {
        font-size: 1.4vw;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .author_img {
        width: 70px !important;
        height: 70px !important;
    }
    .author_img {
        bottom: calc(100% - 35px) !important;
    }
    .date_aritle {
        font-size: 1.5vw;
    }
    .relative_article p {
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 749px) {
    .author_img {
        width: 70px !important;
        height: 70px !important;
    }
    .author_img {
        bottom: calc(100% - 35px) !important;
    }
    .date_aritle {
        font-size: 2.1vw;
    }
    .relative_article p {
        font-size: 2.3vw;
    }
}

@media screen and (min-width: 600px) and (max-width: 749px) {}

.relative_article {
    position: relative;
}

.relative_article p {
    position: absolute;
    left: 105px;
    top: 5px;
    font-weight: 600;
    color: #1d2f3e;
}

.one_read_article_info p {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.author_img {
    overflow: hidden;
    border-radius: 50%;
    background-color: #d9dde0;
    border: 2px solid #d9dde0;
    position: absolute;
}

.info_time_article {
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.before_date {
    width: 45px;
    height: 16px;
    background-color: #fcb913;
    margin-right: 5px;
}

.date_aritle {
    color: #656D78;
}


/*Masonry*/

#wrapper {
    width: 100%;
}

#list {
    width: calc(100% + 15px);
    /* 990px */
    overflow: hidden;
    margin-left: -7.5px;
    /* 15px */
    margin-bottom: -1.875em;
    /* 30px */
}

@media screen and (min-width: 1170px) {
    .item {
        width: calc(33.333333% - 15px);
        float: left;
        margin: 0 7.5px 15px 7.5px;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .item {
        width: calc(33.333333% - 15px);
        float: left;
        margin: 0 7.5px 15px 7.5px;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .item {
        width: calc(50% - 15px);
        float: left;
        margin: 0 7.5px 15px 7.5px;
    }
}

@media screen and (min-width: 570px) and (max-width: 749px) {
    .item {
        width: calc(50% - 15px);
        float: left;
        margin: 0 7.5px 15px 7.5px;
    }
}

@media screen and (max-width: 569px) {
    .item {
        width: calc(100% - 15px);
        float: left;
        margin: 0 7.5px 15px 7.5px;
    }
}


/*Offer news modal*/

#offerNewsModal .content,
#offerNewsModal footer {
    background-color: #fff;
}

#offerNewsModal footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid silver;
    padding: 0 20px;
}

#offerNewsModal footer button {
    margin-left: 5px;
}

#offerNewsModal .content {
    padding: 20px;
}

#offerNewsModal header {
    width: 100%;
    background-color:  #fcb913;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    color: #fff;
}

#offerNewsModal header span {
    font-size: 18px;
    cursor: pointer;
}

#offerNewsModal header span:hover {
    opacity: 0.7;
}

#offerNewsModal header h3 {
    margin: 0 !important;
}

.imgOfferNews {
    margin-top: 15px;
    max-width: 100%;
    max-height: 300px;
}

.btn-ok {
    background-color: #38003c;
    color: #fff;
    font-weight: 600;
}

.btn-not {
    background-color: #e8e8e8;
    color: #222;
    font-weight: 600;
}

.btn-ok:hover {
    color: #fff;
    background-color: rgb(113, 5, 121);
}

.btn-not:hover {
    color: #fff;
    background-color: #e90052;
}

.newsDetail {
    position: relative;
}


/*Offer news*/

.content_author {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.content_author .textOfferNews {
    flex-grow: 1;
}

.content_author textarea {
    width: 100%;
    min-height: 150px;
}

.imgAuthorOfferNews {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.imgAuthorOfferNews img {
    width: 100%;
}

.dowPhoto {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.downloadImg i {
    font-size: 25px;
    cursor: pointer;
}

.downloadImg:hover {
    color: #e90052;
}

.offerNewsFormImg textarea {
    width: 100%;
    height: 25px;
    overflow: hidden;
}

.downloadImg {
    cursor: pointer;
    position: relative;
}

.downloadImg input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
