/*Article right column*/
.one_read_article_img {
    position: relative;
}
.one_read_article_img {
    margin-bottom: 25px;
}
.before_date {
    width: 45px;
    height: 16px;
    background-color: #ff7d00;
    margin-right: 5px;
}

.date_aritle {
    color: #656D78;
}

.infoAricleDate {
    position: absolute;
    top: calc(100% + 5px);
    display: flex;
    align-items: center;
}
.one_read_article_info h3 {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.one_read_article_info p {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-bottom: 0;
}


@media screen and (min-width: 1170px) {
    .one_read_article_info h3 {
        font-size: 1.5vw !important;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .one_read_article_info h3 {
        font-size: 2.5vw !important;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .one_read_article_info h3 {
        font-size: 3vw !important;
    }
}

@media screen and (max-width: 749px) {
.one_read_article_info h3 {
        font-size: 4.5vw !important;
    }
}
