/*Основные стили*/

body {
    color: #222;
    font-size: 14px;
    background-color: #fff;
    overflow-y: scroll;
    padding-top: 70px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

textarea {
    resize: none;
    outline: none;
    overflow: none;
}

/*textarea search*/

.search_s_head textarea {
    resize: none;
    white-space: nowrap;
}


/*Content*/

@media screen and (min-width: 1349px) {
    #menu {
        padding-left: calc(50% - 674.5px);
    }
    body.modal-open #menu {
        padding-left: calc(50% - 685.5px);
    }
}

main {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #fff;
}

@media screen and (min-width: 1170px) {
    body {
        padding-top: 70px;
        padding-bottom: 20px;
    }
    main {
        width: 1150px;
    }
    #menu {
        padding-right: calc(50% - 575px);
    }
    body.modal-open #menu {
        width: 100%;
        padding-right: calc(50% - 566.5px);
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    main {
        width: 95% !important;
    }
    #menu {
        width: calc( 100% - 5%);
        padding: 0 2.5%;
    }
    body.modal-open #menu {
        width: 100%;
        padding-right: calc(2.5% + 17px);
        /*padding-left: calc(2.5% + 8.5px);*/
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    main {
        width: 95% !important;
    }
}

@media screen and (max-width: 749px) {
    main {
        width: 100% !important;
    }
}


/*Modal dialog*/

h1 {
    color: #777777;
}

.wmd-panel {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.comment-reply {
    display: none;
}


/*Menu */

#menu {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    z-index: 11;
}

#menu a {
    color: #000;
    font-weight: 700;
}

#menu a:hover,
#menu a:focus,
#menu a:visited,
#menu a:active {
    text-decoration: none;
}

.currentLink {
    background-color: #d7d7d7;
}

.currentLink a {
    color: #aa0a0c !important;
}

#menu li:hover {
    background-color: #d7d7d7;
}

.activeNav li:hover a {
    color: #aa0a0c;
}

#menu li:hover a {
    color: #aa0a0c;
}

#mainNav ul {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
}

#mainNav ul li {
    cursor: pointer;
    list-style: none;
}

#mainNav ul li a {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    align-items: center;
}

#menuBtn {
    height: 100%;
    font-weight: 700;
    border-left: 1px solid #666;
    padding: 0 10px;
    cursor: pointer;
}

#menuBtn .glyphicon-remove {
    display: none;
}

.openNav {
    background-color: #aa0a0c;
    color: #fff;
}

.openNav .glyphicon-menu-hamburger {
    display: none !important;
}

.openNav .glyphicon-remove {
    display: block !important;
}

#menuBtn>span,
#menuBtn>div {
    margin: 0 5px;
}

.menuToggle span {
    font-size: 25px;
}

#brend {
    background-color: #aa0a0c;
    width: auto;
    width: 99.5px;
}

#brend>a {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#brend a {
    color: #fff;
}

.rightMenu {
    display: flex;
    height: 100%;
    border-left: 1px solid #666;
}

@media screen and (min-width: 970px) {
    #menu {
        height: 50px;
    }
    .rightMenu {
        border-right: 1px solid #666;
    }
    .openMenu {
        border-bottom: 1px solid #666 !important;
    }
    #mainNav {
        flex-grow: 1;
        display: flex !important;
    }
    #mainNav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        border-right: 1px solid #666666;
    }
    #menuBtn {
        display: none;
    }
    #top_profile_menu {
        top: 49px;
    }
}

@media screen and (max-width: 969px) {
    .menu_open {
        overflow-y: hidden !important;
    }
    .openMenu {
        border-bottom: 2px solid #aa0a0c !important;
    }
    #menu {
        justify-content: space-between;
        height: 60px !important;
    }
    #mainNav {
        position: fixed;
        left: 0;
        top: 60px;
        width: 400px;
        max-width: 100% !important;
        height: calc(100vh - 60px);
        overflow-y: auto;
        display: none;
        z-index: 15;
        border-right: 1px solid #666;
        background-color: #f0f0f0;
    }
    #mainNav ul {
        flex-direction: column;
        width: 100%;
    }
    #mainNav ul li {
        width: 100%;
        height: 54px;
        border-bottom: 1px solid #666;
    }
    #mainNav ul li a {
        align-items: center;
        width: 100%;
        padding: 0 20px;
    }
    #menuBtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #top_profile_menu {
        top: 59px;
    }
}


/*Регистрация (кнопки в меню)*/

.loginScheckIn {
    font-size: 20px;
    cursor: pointer;
    height: 100%;
}


/*Вход для юзера (Модальное окно)*/

#LOGIN .modal-body {
    padding: 5%;
    font-size: 14px;
}

#LOGIN .modal-content {
    border-radius: 3px !important;
}

#LOGIN .modal-body h3 {
    text-align: center;
    margin-top: 0px;
}

#LOGIN .modal-body form {
    width: 90%;
    padding-left: 10%;
}

.buttonLogin {
    width: 80%;
    margin-left: 10%;
    background-color: #e90052;
    color: #fff;
    text-align: center;
    height: 34px;
    line-height: 34px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#LOGIN .modal-dialog {
    width: 25% !important;
    margin: 30px auto;
}

.form-group {
    width: 100% !important;
}

.socialLogin {
    padding: 5%;
}

.loginFacebook,
.loginGoogle,
.loginTwitter,
.loginVk {
    height: 35px;
    width: 47.5%;
    margin-right: 1.25%;
    margin-left: 1.25%;
    margin-bottom: 2.5%;
    float: left;
    text-align: center;
    color: #fff;
    line-height: 35px;
}

.loginFacebook p,
.loginGoogle p,
.loginTwitter p,
.loginVk p {
    margin: 0px !important;
}

.loginFacebook {
    background-color: #4f61b5;
}

.loginGoogle {
    background-color: #f73231;
}

.loginTwitter {
    background-color: #00abf0;
}

.loginVk {
    background-color: #3b699b;
}

.otherActions {
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
}

.otherActions:hover a,
.otherActions:focus a {
    color: #c91a10;
    text-decoration: underline;
    background-color: transparent;
}

.otherActions a {
    color: #EF4036;
}

.ism-or {
    width: 75%;
    margin: 5px auto 5px auto;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
}

.ism-or span {
    background: #fff;
    padding: 7px;
    position: relative;
    top: 9px;
}


/*checkbox*/

form [type="text"],
form [type="email"],
form [type="password"] {
    background-color: #fff;
    border: 1px solid #cccccc;
    padding: 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none !important;
    color: #222;
    width: 100%;
    height: 47px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}


/*Profile user */

.name_user_in_menu {
    font-size: 12.5px;
    font-weight: 700;
}

.user_profile>div,
.user_profile>i {
    margin: 0 5px;
    align-self: center;
}

.user_profile .fa-sign-in {
    font-size: 25px;
}

.user_profile .fa-caret-down {
    opacity: 0.5;
}

.imgUserNav {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666;
}

.imgUserNav img {
    width: 100%;
}

.user_profile {
    /*min-width: 99.5px;*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    /*align-items: center;*/
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}


/*Всплывающие окно юзера */

#top_profile_menu {
    position: absolute;
    right: -1px;
    background-color: #f0f0f0;
    font-size: 14px;
    color: #222;
    line-height: 40px;
    border: 1px solid #666;
    border-top: 0 solid silver;
    width: 200px;
    padding: 4px 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    display: none;
}

#top_profile_menu a {
    display: block;
    white-space: nowrap;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}

.line_solid {
    margin: 4px 13px;
    border-top: 1px solid #dbe4ec;
}

#top_profile_menu a:hover {
    text-decoration: none;
    background-color: #d7d7d7;
    color: #aa0a0c;
}

.posirion_reletive {
    position: relative;
}

.posirion_reletive i {
    position: absolute;
    top: -21.5px;
    right: 35px;
    opacity: 1;
    z-index: 10000;
    font-size: 25px;
}

.active_top_profile_menu {}

.show_top_profile_menu {
    display: block;
}

.active_top_profile_menu i {
    opacity: 1;
}

.relative_container {
    position: relative;
    height: 100%;
}


/*Инфа юзер правая колонка */

.img_flex {
    display: flex;
    justify-content: center;
    text-align: center;
}

.user_date_img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    align-self: center;
}

.user_date_img img {
    width: 100%;
    height: auto;
}

.position_fixed {
    position: absolute;
}

.fixed_col {
    position: fixed;
    bottom: 25px;
}

.fixed_col_top {
    position: fixed;
}


/*Second nav */

@media screen and (max-width: 749px) {
    .table_nav_records hr {
        display: none;
    }
    .table_nav_records .tab {
        width: 100%;
        /*margin-top: 10px;*/
    }
    .table_nav_records .tab ul {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
    }
    .table_nav_records .lineHover {
        display: none;
    }
    .table_nav_records .tab ul li,
    .tabResponsive {
        margin-top: 10px;
        border: 1px solid silver;
    }
    .addTag {
        margin-top: 10px;
    }
    .table_nav_records .activeRecords,
    .menu_individualNews_active li {
        background-color: #dbdada;
    }
    /*POst list*/
    .postHr {
        display: none;
    }
    .menu_individualNews {
        margin: 0px 0 20px !important;
        width: 100% !important;
    }
    .menu_individualNews ul {
        width: 100% !important;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    .menu_individualNews .hover_menu {
        display: none;
    }
    .menu_individualNews li {
        display: block;
        margin-right: 2.5px !important;
        margin-left: 2.5px !important;
        position: relative;
        float: left;
        padding: 5px 10px !important;
    }
    .addTagParent {
        background-color: #fff !important;
    }
}

.menu_individualNews_active {
    font-weight: 900;
}

@media screen and (max-width: 500px) {
    .name_user_in_menu {
        display: none;
    }
    .user_profile {
        align-items: center !important;
    }
    .rightMenu,
    .loginScheckIn {
        flex-grow: 1 !important;
        align-self: center;
    }
    #top_profile_menu {
        top: 59px;
    }
}

@media screen and (max-width: 400px) {
    .rightMenu,
    .loginScheckIn {
        flex-grow: 1 !important;
        align-self: center;
    }
}


/*Modal css */


/*Offer news*/

.content_author {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.content_author .textOfferNews,
.content_author .textOfferArticle {
    flex-grow: 1;
}

.content_author textarea {
    width: 100%;
    min-height: 150px;
}

.imgAuthorOfferNews {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.imgAuthorOfferNews img {
    width: 100%;
}

.dowPhoto {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.downloadImg i {
    font-size: 25px;
    cursor: pointer;
}

.downloadImg:hover {
    color: #aa0a0c;
}

.offerNewsFormImg textarea,
.offerArticleFormImg textarea {
    width: 100%;
    height: 25px;
    overflow: hidden;
}

.downloadImg {
    cursor: pointer;
    position: relative;
}

.downloadImg input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/*Offer news modal*/

#offerNewsModal .content,
#offerNewsModal footer,
#offerArticleModal .content,
#offerArticleModal footer {
    background-color: #fff;
}

#offerNewsModal footer,
#offerArticleModal footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid silver;
    padding: 0 20px;
}

#offerNewsModal footer button,
#offerArticleModal footer button {
    margin-left: 5px;
}

#offerNewsModal .content,
#offerArticleModal .content {
    padding: 20px;
}

#offerNewsModal header,
#offerArticleModal header {
    width: 100%;
    background-color: #aa0a0c;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    color: #fff;
}

#offerNewsModal header span,
#offerArticleModal header span {
    font-size: 18px;
    cursor: pointer;
}

#offerNewsModal header span:hover,
#offerArticleModal header span:hover {
    opacity: 0.7;
}

#offerNewsModal header h3,
#offerArticleModal header h3 {
    margin: 0 !important;
}

.imgOfferNews,
.imgOfferArticle {
    margin-top: 15px;
    max-width: 100%;
    max-height: 300px;
}

.btn-ok,
.btn-not {
    padding: 9px 16px 9px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
}

.btn-ok {
    background: #aa0a0c;
    color: #fff;
}

.btn-not {
    background: rgba(0, 0, 0, 0.24);
}

.btn-ok:hover {
    color: #fff;
    background-color: rgba(170, 10, 12, 0.84);
}

.btn-not:hover {
    color: #222;
    background: rgba(51, 39, 39, 0.2);
}

.newsDetail {
    position: relative;
}


/*Модальное окно ставка недели */

.modal_dialog {
    display: flex;
}

#my_weeks_bets {
    /*margin: 15vh auto;*/
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

@media (min-width: 768px) {
    #my_weeks_bets {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #my_weeks_bets {
        width: 100%;
    }
}


/*Выбор пользователя*/

.user_choice {
    font-size: 13px;
    border-radius: 4px;
}

.header_user_choice {
    width: 100%;
    height: 35px;
    background-color: #e62117;
    color: #fff;
    text-align: center;
    line-height: 35px;
}

#user_choice_nav {
    width: 100%;
    height: 35px;
    position: relative;
    overflow: hidden;
}

.prev_week_bet,
.next_week_bet {
    position: absolute;
    height: 100%;
    text-align: center;
    line-height: 35px;
    width: 30px;
    color: #fff;
    background-color: #222;
    top: 0px;
    cursor: pointer;
}

.prev_week_bet {
    left: 0;
}

.next_week_bet {
    right: 0;
}

#all_weeks {
    width: 100%;
    height: auto;
}

.one_week_bet {
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    display: inline-block;
}

.body_user_choice {
    background-color: #e6ebf4;
    width: 100%;
    padding: 10px 10px 0;
}

.one_user_choice {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.history_bet:first-child .one_user_choice {
    display: none;
}

.history_bet:nth-child(n+2) .one_user_choice {
    display: block;
}

.one_user_choice>div:first-child {
    padding-bottom: 5px;
}

.one_user_choice>div:nth-child(2) {
    margin-top: 5px;
}

.one_user_choice:last-child {
    margin-bottom: 0 !important;
}

.delete_this_this_choice {
    opacity: 0.5;
    cursor: pointer;
}

.delete_this_this_choice:hover {
    opacity: 1;
}

.match_bet_choice {
    border-bottom: 1px solid #CCD1D9;
}

.total_kof {
    width: 100%;
    height: 35px;
    line-height: 35px;
    display: none;
}

.footer_user_choice {
    width: 100%;
    padding: 8px 10px;
    background-color: #e6ebf4;
}

.btn_success_bet {
    height: 35px;
    width: 100%;
    line-height: 35px;
    text-align: center;
    background-color: #e62117;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
}

.btn_success_bet:hover {
    background-color: rgba(230, 33, 23, 0.77);
}

.active_choice_bet {
    background-color: #0b68f4 !important;
    color: #fff !important;
}

.active_choice_bet .kof_can {
    color: #fff !important;
}

.marth_choice_this {
    display: block;
}

.kof_this_match,
.delete_this_this_choice {
    width: 20%;
    text-align: right;
}

.total_kof_these_matches {
    text-align: right;
}

.total_kof_these_matches,
.win_points {
    flex-grow: 1;
}

.kof_this_match,
.total_kof_these_matches,
.win_points {
    font-weight: 600;
    color: #c51255;
}

.match_bet_choice,
.user_match_bet_choice,
.total_kof {
    display: flex;
    flex-direction: row;
}

.marth_choice_this,
.result_math_and_won_team,
.total_kof>div:first-child,
.your_result_after>div:first-child {
    width: 80%;
}

.total_kof>div:first-child,
.your_result_after>div:first-child {
    font-weight: 600;
}

.your_choice_team {
    font-weight: 600;
}

.team_can,
.kof_can {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.not_results,
.success_bet {
    text-align: center;
    font-weight: 600;
    width: 100%;
}

.your_result_after {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 7px;
}


/*Информация юзер и таблица прогнозистов*/

.table_forecasters_and_user_infa {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 20px;
}

.name_user_info h3 {
    margin: 0 5px 10px 0;
}

.name_user_info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo_user {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 15px;
}

.photo_user img {
    width: 100%;
}

.place_result {
    height: 30px;
    width: 30px;
    background-image: url(../img/Gold_Silver_and_Bronze_Medals_Transparent_PNG_Clip_Art_Image.png);
    background-size: calc(155px / 1.6666666666);
}

.place_result span {
    display: none;
}

.gold_vedal {
    background-position: calc(-2px / 1.666666) calc(-1px / 1.666666);
}

.sliver_medal {
    background-position: calc(-53px / 1.666666) calc(-1px / 1.666666);
}

.bronze_medal {
    background-position: calc(-104px / 1.666666) calc(-1px / 1.666666);
}

.show_all_table_forecasters a {
    display: block;
    padding: 5px 12px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 11px;
    background-color: #e62117;
    border-radius: 2px;
}

.show_all_table_forecasters a:hover {
    text-decoration: none;
    color: #fff;
}


/*Выбор результата*/

.mathes_can_bet {
    padding: 4px 10px 10px;
    width: 100%;
    background-color: #e6ebf4;
}

.one_math_can_bet {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.one_math_can_bet>div {
    padding: 0 5px;
    height: 24px;
    border-radius: 2px;
    margin: 6px 1px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 600;
}

.result_can {
    cursor: pointer;
    line-height: 24px;
    display: flex;
    flex-direction: row;
}

.kof_can {
    color: #0b68f4;
    width: 36px;
    text-align: right;
}

.team_can {
    width: calc( 100% - 36px);
}

.result_can:hover {
    color: #0b68f4;
}

.data_time_can {
    text-align: center;
    line-height: 30px;
}

@media screen and (min-width: 970px) {
    #week_bets_top .modal_dialog {
        width: 900px;
        margin: 30px auto;
    }
    .bet_in_modal {
        width: calc( 70% - 20px);
        margin-right: 20px;
    }
    .user_choice {
        width: 30%;
    }
    .one_math_can_bet {
        height: 30px;
    }
    .teams_can {
        width: calc( 31.5% - 2px);
    }
    .data_time_can {
        width: calc( 25% - 2px);
    }
    .draw_can {
        width: calc( 12% - 2px);
    }
    .team_can,
    .kof_can {
        line-height: 24px;
        max-height: 24px;
    }
    .name_user_info {
        width: calc(100% - 85px);
    }
}

@media screen and (min-width: 650px) and (max-width: 969px) {
    #week_bets_top .modal_dialog {
        width: 600px;
        margin: 30px auto;
    }
    .bet_in_modal {
        width: 100%;
        margin-bottom: 20px;
    }
    .user_choice {
        width: 100%;
    }
    .one_math_can_bet {
        height: 30px;
    }
    .teams_can {
        width: calc( 31.5% - 2px);
    }
    .data_time_can {
        width: calc( 25% - 2px);
    }
    .draw_can {
        width: calc( 12% - 2px);
    }
    .team_can,
    .kof_can {
        line-height: 24px;
        max-height: 24px;
    }
    .name_user_info {
        width: calc(100% - 85px);
    }
}

@media screen and (max-width: 649px) {
    #week_bets_top .modal_dialog {
        width: 95%;
        margin: 10px 2.5%;
    }
    .bet_in_modal {
        width: 100%;
        margin-bottom: 20px;
    }
    .user_choice {
        width: 100%;
    }
    .teams_can {
        width: 100%;
    }
    .data_time_can:before {
        content: 'Начало матча: '
    }
    .data_time_can {
        width: 100%;
        background-color: #e6ebf4 !important;
        padding-top: 14px !important;
        line-height: 20px !important;
        text-align: left !important;
    }
    .draw_can {
        width: 100%;
    }
    .one_math_can_bet>div {
        height: 34px !important;
        margin: 3px 0 !important;
    }
    .team_can,
    .kof_can {
        line-height: 34px;
        max-height: 34px;
    }
    .name_user_info {
        width: 100%;
        margin-top: 20px;
    }
    .name_user_info {
        justify-content: center !important;
        align-items: center;
    }
    .name_user_info>div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .name_user_info h3 {
        font-size: 18px !important;
        margin: 0 0 10px 0 !important;
    }
    .name_user_info>div {
        white-space: nowrap;
    }
    .table_forecasters_and_user_infa {
        justify-content: center;
        align-items: center;
    }
    .photo_user {
        width: 150px !important;
        height: 150px !important;
        margin-right: 0px !important;
    }
    #hrefMyProfile {
        display: none;
    }
}

#hrefMyProfile {
    font-size: 16px;
    font-weight: 600;
}

.modal_dialog {
    position: relative;
}

@media screen and (min-width: 650px) {
    .close_modal {
        color: #fff;
        font-size: 20px;
        top: -20px;
        right: 10px;
    }
}

@media screen and (max-width: 649px) {
    .close_modal {
        color: #222;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 4px solid #222;
        font-size: 25px;
        top: 10px;
        right: calc(2.5% + 10px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .close_modal span {
        align-self: center;
    }
}

.relativeModal {
    position: relative;
    width: 100%;
    height: 100%;
}

.close_modal {
    opacity: 0.65;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.close_modal:hover {
    opacity: 1;
}

/*Достижения пользователя*/
.closedAkardion .glyphicon-minus,
.openingAkardion .glyphicon-plus {
    display: none;
}

.users_progress {
    width: 100%;
    margin-top: 10px;
}

.users_progress section {
    width: 100%;
}
.contentRating {
    display: none;
    padding: 0 10px 10px;
}

.users_progress header,
.contentRating {
    width: 100%;
}

.contentRating span p {
    margin: 0;
}

.users_progress .contentRating>span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid silver;
}

.users_progress header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e62117;
    cursor: pointer;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
}

.users_progress header span {
    color: #e62117;
}

.users_progress header:hover {
    background-color: #d7d7d7;
}

.users_progress header h3 {
    font-size: 18px;
}

.users_progress header h3,
.users_progress header p {
    margin: 0;
}


/*User avatar*/


/*Flex img */

.flexImg {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.flexImg img {
    width: 100%;
    flex-shrink: 0;
}

.bigWidth img {
    height: 100% !important;
    width: auto !important;
    /*min-width: 100%;*/
    align-self: center;
}

/*Comments*/

.coments_author {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}

.coments_author img {
    width: 100%;
}

.content_coment {
    margin-left: 60px;
}

.coment_author_time {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.coment_author_time a {
    margin-right: 5px;

}

.coment_author_time p {
    margin: 0;
    color: #7f8992;
}

.coment_author_time a {
    font-weight: 600;
}

.show_all_coment:hover {
    background: #eee;
}

.show_all_coment {
    margin: 20px auto;
    cursor: pointer;
    width: 240px;
    height: 35px;
    line-height: 35px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #656D78;
    background: #fff;
    border: 1px solid #afadad;
    border-radius: 2px;
}

.btnFhouse {
    padding: 9px 16px 9px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #aa0a0c;
    color: #fff;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
}


.btnFhouse:hover {
    background-color: rgba(170, 10, 12, 0.84) !important;
    color: #fff !important;
}



/*Send comments*/

.sendComment {
    display: flex;
    width: 100%;
}

.authorComent {
    display: block;
    margin-right: 10px;
}

.formSendComment {
    width: calc( 100% - 60px )
}

.forPlaceholder {
    width: 100%;
}
.formSendComment >input {
    outline: none;
    
}

.sendBtn {
    padding-top: 8px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}

.sendBtn p {
    color: #ee0221;
    margin: 0;
    flex-grow: 1;
}

.formSendComment >input[type="submit"] {
    float: right;
}
