select {
    height: 30px;
    border-radius: 3px;
    padding: 0 10px;
}

.contentMainBets {
    width: 100%;
    padding: 20px;
}

.comtainer {
    margin: 0px !important;
}

.preview_main_weeks_matches,
.div_for_championships_all_prognosis {
    background-color: #fff;
    border: 1px solid #CCD1D9;
}

.preview_main_weeks_matches {
    padding: 20px;
}

.fixed {
    position: fixed;
    bottom: 15px;
    margin-right: 0px;
}


/*Превью к матчам */

.preview_main_weeks_matches {
    position: relative;
}

.before_date {
    width: 30px;
    height: 16px;
    background-color: #ff7d00;
    position: absolute;
    top: 10px;
    left: 0px;
}

.date_aritle {
    position: absolute;
    top: 10px;
    left: 40px;
    color: #656D78;
}

.ArticleText {
    width: 100%;
    margin: 0% 0% 0% 0% !important;
}

.one_main_match {
    margin-left: 5px;
}

.ArticleText p {
    text-align: justify;
}

.img_one_main_match {
    float: left;
    width: 50%;
    margin: 0% 2% 0% 0% !important;
    overflow: hidden;
    height: 300px;
}

.img_one_main_match img {
    width: 100%;
}

.ArticleName {
    margin: 0% 0% 0% 0% !important;
}

.match_stats li {
    list-style: none;
}

.statistical_data {
    min-height: 32px;
    width: 100%;
    line-height: 32px;
    font-size: 14px;
    color: #76766f !important;
    padding: 8px 0px 8px 18px;
    font-weight: 400;
    opacity: 0.7;
}

.statistical_data:hover {
    border-left: 2px solid #76766f;
    font-size: 14px;
    text-decoration: none;
    color: #242424 !important;
    opacity: 1;
}

.statistical_data:focus {
    text-decoration: none;
    opacity: 1;
}

.active_stat {
    border-left: 2px solid #e62117;
    color: #242424;
    font-weight: 600;
    font-size: 14px;
    color: #242424 !important;
    opacity: 1;
}

.active_stat:hover {
    border-left: 2px solid #e62117;
}

.match_stats .row {
    margin-left: 0px;
    margin-right: 0px;
}

.match_stats {
    border-top: 4px solid #e8e8e8;
    margin-top: 15px;
}

.match_stats h3 {
    color: #1d71b9;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu_stat {}

.menu_stat ul {
    padding: 0px;
}

h2 {
    font-size: 28px;
    color: #1d71b9;
    font-weight: 600;
}

h3 {
    font-size: 23px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}


/*Навигация между превью */

.fixed_col {
    position: fixed;
    bottom: 25px;
}

.fixed_col_top {
    position: fixed;
}

.row {
    position: relative !important;
}


/*All reviews */

.container_all_preview {
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
}


/*Навигация между статьями */

#all_bets_nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.change_champ {
    margin: 0 5px 10px;
    background-image: url(../img/menu_nav.png);
    background-position-y: 0;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0;
}

.change_champ:hover {
    opacity: 1 !important;
}

.active_champ {
    opacity: 1 !important;
}


/*Навигация между турами */

.navigation_between_tour {
    width: calc(100% + 44.5px);
    margin-left: -22.25px;
    padding: 0px 20px;
    height: 50px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;
}

.container_tour {
    overflow: hidden;
    width: calc(100% - 40px);
    margin: 0px 20px;
    height: 50px;
}

.nav_ul_tour {
    display: flex;
    height: 50px;
    padding: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    width: auto;
    flex-direction: row;
}

#id_list_tour {
    display: none;
}

.nav_ul_tour li {
    list-style: none;
    text-align: center;
    position: relative;
    line-height: 50px;
}

.nav_ul_tour li:hover .hover_menu {
    top: 46px !important;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.nav_ul_tour li a {
    width: 60px;
    display: block;
    color: #76766f;
    text-decoration: none;
    font-size: 12px;
}

.hover_menu {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 50px;
    background-color: #76766f;
}

.active_menu {
    top: 46px !important;
    background-color: #e62117;
}


/*Arrow in nav between tour*/

#arrow_left_tour,
#arrow_right_tour {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    z-index: 2;
    border-radius: 50%;
    background-color: rgba(204, 204, 204, 0.86);
    ;
    color: #222;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

#arrow_left_tour:hover,
#arrow_right_tour:hover {
    background-color: rgba(204, 204, 204, 0.39);
}

#arrow_left_tour {
    left: 10px;
}

#arrow_right_tour {
    right: 10px;
}


/*Прогнозы на все матчи правая колонка*/

.name_right_column {
    width: 100%;
    margin-bottom: 10px;
}

.name_right_column a {
    font-weight: 600;
    font-size: 22px;
    color: #1d71b9;
}

.name_right_column a:hover,
.name_right_column a:focus {
    color: #1d71b9;
}

#bets_all_championships {
    background-color: #fff;
    padding: 10px 15px 15px;
    border: 1px solid #afadad;
}

.linkOtherBet {
    width: 100%;
    display: flex;
}

.linkOtherBet:nth-last-child(n+2) {
    margin-bottom: 10px;
}

.imgChampNav {
    background-image: url(../../static/img/menu_nav.png);
    height: 60px;
    width: 60px;
    background-position: -10px 0;
    margin-right: 10px;
    opacity: 0;
}

.linkOtherBet:hover .championship_title {
    color: #1d71b9;
}

.linkOtherBet:hover .imgChampNav {
    opacity: 1 !important;
}

#bets_all_championships>a {
    color: #222
}

#bets_all_championships>a:hover {
    text-decoration: none;
    color: #222;
}

.championat_bet_preview {
    padding: 5px 0px;
    width: calc( 100% - 70px);
}

.championship_title {
    font-size: 18px;
    font-weight: 600;
}

.current_tour_right {
    font-size: 13px;
    color: #999a9c;
    font-weight: 600;
}


/*Турнирные таблицы */

.table_rating_forecasters {
    margin-bottom: 20px;
}

.table_rating_forecasters {
    width: 100%;
}

.head_table {
    height: 80px;
    width: 100%;
    background-color: #e62117;
    border-radius: 3px 3px 0 0;
}

.nav_table,
.table_name {
    height: 40px;
    width: 100%;
}

.table_name {
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: 600;
}

.nav_table {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
}

.nav_table>div {
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 40px;
    background-color: #aa0a0c;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    flex: 1;
}

.active_tab_section {
    background-color: #fff !important;
    color: #222 !important;
}

.nav_table>div:not(:last-child) {
    margin-right: 5px;
}

.nav_table>div:hover {
    background-color: #881012;
}

.select_tab_conteiner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 10px 0 10px;
}

.select_table {
    display: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
}

.select_table>div {
    padding-top: 5px;
}


/*Body table*/

.body_table {
    width: 100%;
    background-color: #fff;
    padding: 0;
    font-size: 13px;
    border: 1px solid #afadad;
    border-top: 0px solid silver;
}

.one_position {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 35px;
    border-bottom: 1px solid #CCD1D9;
    align-items: center;
}

#loader img {
    width: 35px;
    height: 35px;
}

.time_rating .one_position:nth-child(1) {
    font-weight: 600;
}

.one_position>div {
    line-height: 35px;
}

.one_position>div:first-child {
    padding-left: 10px;
}

.one_position>div:last-child {
    padding-right: 10px;
}

.team_name {
    width: 45%;
    display: flex;
    align-items: center;
}

.team_table {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 35px;
    max-height: 35px;
}

.team_games {
    width: 12%;
    text-align: center;
}

.team_goals {
    text-align: center;
    width: 14%;
}

.team_pts {
    width: 14%;
    text-align: center;
}

.choosen_championship {
    margin: 20px 0px 10px;
    font-size: 22px;
    font-weight: 600;
    width: 100%;
}

.after_nav_tour {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.championat {
    width: 100%;
    height: 100%;
}

.tours {
    display: none;
    width: 100%;
    height: 100%;
}

.title_hide {
    display: none;
}

.forecasters_name {
    width: calc( 100% - 110px);
    height: 100%;
    display: flex;
    align-items: center;
}

.position {
    width: 50px;
}

.forecasters_pts {
    width: 70px;
    text-align: center;
}


/*Футер таблицы*/

.body_table .all_team_table {
    border: 0px solid #fff !important;
}

.all_team_table {
    border: 1px solid silver;
    border-top: 0 solid #fff;
}

.loader {
    width: 100%;
    padding: 10px;
    display: none;
}

.loader>img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
}

.all_team_table aside {
    display: block;
    padding: 10px 0;
}


/*Превью к матчам */

.preview_one_match {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0px;
    border-top: 1px solid #CCD1D9;
}

.preview_one_match:last-child {
    padding: 10px 0 0;
}

.teams_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    height: 45px;
}

.teams_img>div {
    display: flex;
}

.img_logo_one_team {
    width: 45px;
}

.img_logo_one_team img {
    max-width: 45px;
    max-height: 45px;
    margin: auto;
}

.match_date {
    font-size: 13px;
}

.match_time {
    font-size: 13px;
    font-weight: 600;
}

.match_time span {
    font-weight: 500;
}

.title_match {
    font-weight: 600;
    font-size: 18px;
    color: #1d71b9;
}

.bet_match {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0px 0;
}

.evnt_bet {
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    padding: 0px 8px;
    background: #d3d3d3;
    color: #3c3e41;
    border-radius: 3px;
    height: 24px;
    margin-bottom: 10px;
}

.evnt_bet span {
    font-weight: 500;
}

.admin_bets_one_match {
    margin-bottom: 10px;
    border: 2px solid #d3d3d3;
    height: 24px;
    font-size: 12px;
    padding: 0px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.our_bet {
    margin-left: 5px;
}

.result_match {
    margin-top: 5px;
    font-weight: 600;
}

.result_match span {
    margin-left: 5px;
    font-weight: 500;
}


/*Комментарии превью матчей */

.add_comment_prev {
    padding: 10px 0;
    padding-bottom: 10px;
    width: calc(100% - 10px);
    border-width: 1px 0;
    border-style: solid;
    border-color: #CCD1D9;
}

.line_img_placeholder_comment {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title_comments {
    color: #1d71b9;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

.text_area_comment_prev {
    width: calc(100% - 45px);
    min-height: 35px;
}

#type_comment {
    height: 35px;
    min-height: 35px;
    overflow-y: hidden;
    width: 100%;
    outline: none;
    resize: none;
    font-size: 12px;
    border-width: 0 0 1px;
    background-color: #E8E8E8;
    border-color: #76766f;
    padding: 10px;
}

#type_comment:focus {
    border-color: #e62117;
    background-color: #fff;
}

.author_comment_prev {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.send_comment_prev {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.author_comment_prev img {
    width: 100%;
}

.author_comment_prev {
    float: left;
}

.block_comments_preview {
    font-size: 12px;
    overflow-y: auto;
}

.user_comment {
    overflow-y: auto;
    padding: 0px;
}

.comment_placeholder {
    flex-grow: 1;
}

.content_coment {
    margin-left: 50px;
    padding-bottom: 10px;
}

.coment_author_time {
    min-width: 51%;
    color: #7f8992;
}

.coment_author_time a {
    font-weight: 600;
}

.blockquote {
    padding: 3% 3% 0 3%;
}

.blockquote:hover {
    background-color: #f0f2f5;
}

.author_name_date {
    color: #7f8992;
    font-weight: 500;
    font-size: 16px;
}

.author_name_date a {
    color: #222;
    font-size: 24px;
    font-weight: 600;
    margin-right: 7px;
    margin-left: 10px;
}

.all_comment_for_preview {
    overflow: hidden;
}

.user_comment_preview:first-child {
    padding-top: 10px;
}

.block_comments_preview::-webkit-scrollbar {
    width: 10px;
}

.block_comments_preview::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.block_comments_preview::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

.block_comments_preview::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

.more_comment_prev {
    padding: 5px 15px;
    margin: 0px auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #656D78;
    background: #fff;
    border: 1px solid #afadad;
    border-radius: 2px;
    cursor: pointer;
    width: 200px;
    text-align: center;
}

.more_comment_prev:hover {
    background: #eee;
}

.user_comment hr {
    margin: 20px 0 0;
    border-top: 1px solid #ccd1d9;
}


/*Навигация три топовые матчи */

#match_top_nav {
    display: flex;
    width: 100%;
    padding: 10px 40px;
    position: relative;
    justify-content: space-between;
    margin-bottom: 15px;
}

.nextMatch,
.prevMatch {
    position: absolute;
    top: 0;
    background-color: rgba(242, 242, 242, 0.9);
    color: #222;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.nextMatch {
    left: calc(100% - 40px);
}

.prevMatch {
    right: calc(100% - 40px);
}

.nextMatch:hover,
.prevMatch:hover {
    background-color: #e4e4e4;
}

#match_top_nav figure {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.7;
}

figure.order2TopMatch {
    flex-grow: 1;
    opacity: 1 !important;
    display: flex !important;
    order: 2;
}

figure.order2TopMatch figcaption {
    display: block !important;
}

figure.order1TopMatch {
    order: 1;
}

figure.order3TopMatch {
    order: 3;
}

section.order2TopMatch {
    display: block;
}

section.order1TopMatch,
section.order3TopMatch {
    display: none;
}

@media screen and (min-width: 750px) {
    figure.order2TopMatch {
        border-right: 4px solid #e4e4e4;
        border-left: 4px solid #e4e4e4;
    }
}

@media screen and (max-width: 749px) {
    #match_top_nav figure {
        display: none;
    }
}

#match_top_nav figcaption {
    text-align: center;
    display: none;
}

#match_top_nav figcaption h4 {
    margin-bottom: 0;
}

#match_top_nav figcaption p {
    margin: 0;
    color: #9c9c9c;
}

#match_top_nav .teamsTop {
    display: flex;
    justify-content: center;
    align-items: center;
}

#match_top_nav .teamLogo {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    align-self: center;
    color: #bbb;
    font-weight: 700;
}

.teamLogo img {
    align-self: center;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}


/*Топ 3 матча main */

.top_match header {
    margin-bottom: 10px;
    position: relative;
}

.top_match header h2 {
    font-size: 2.2rem;
}

.top_match header h2,
.top_match header p {
    margin: 0;
    width: 100%;
}

.top_match header p {
    margin-top: 5px;
    font-size: 13px;
    color: #999a9c;
}

.prev_info_text {
    font-size: 16px;
}

.prev_info_text img {
    max-width: 50%;
}

.prev_info_text img:nth-child(2n) {
    float: left;
}

.prev_info_text img:nth-child(2n - 1) {
    float: right;
}

.make_bet button {
    height: 30px !important;
    padding: 0 16px;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    background: none;
    border: 0;
    border-radius: 2px;
    background: #e62117;
    color: #fff;
    box-sizing: border-box;
}

.make_bet button:hover {
    background: #881012;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}


/*ТОП матчи недели правая колонка*/

#top_matches_right {
    background-color: #fff;
    border: 1px solid #afadad;
    margin-bottom: 20px;
}

.header_top_matches_right {
    background: #f0f0f0;
    padding: 10px;
    font-weight: 600;
}

.footer_top_matches_right {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 35px;
}

.footer_top_matches_right>div {
    width: 50%;
    cursor: pointer;
    text-align: center;
    height: 100%;
    line-height: 35px;
    font-weight: 700;
}

.footer_top_matches_right>div a {
    color: #222;
    display: block;
    width: 100%;
    height: 100%;
}

.footer_top_matches_right>div a:hover,
.footer_top_matches_right>div a:focus,
.footer_top_matches_right>div a:active {
    color: #aa0a0c;
    text-decoration: none;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.footer_top_matches_right>div:first-child {
    border-right: 1px solid #afadad;
}

.footer_top_matches_right>div:hover {
    background-color: #d7d7d7;
    color: #aa0a0c;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.body_top_matches_right {
    width: 100%;
}

.body_top_matches_right>div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #afadad;
}

.day_one_top_match_right {
    width: 15%;
    text-align: center;
    height: 100%;
    line-height: 35px;
    color: #e62117;
    font-weight: 600;
}

.team_one_top_match_right {
    width: 32.5%;
    display: flex;
    height: 100%;
    justify-content: center;
}

.logo_one_top_match_right {
    width: 35px;
    float: left;
}

.logo_one_top_match_right img {
    max-width: 25px;
    max-height: 25px;
    margin: 5px 0;
}

.name_team_one_top_match_right {
    line-height: 35px;
    font-weight: 600;
}

.time_one_top_match_right {
    width: 20%;
    color: #000;
    margin: 5px 0;
    height: 25px;
    text-align: center;
    background-color: #d7d7d7;
    line-height: 25px;
}


/*Ставка в модальном окне*/


/*Select */

#country_champ>span,
.type_euro_champ>span,
.continent_sel>span {
    display: none;
}

.history_bet {
    display: none;
}


/*New main bets */

.super_title {
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
    padding: 0 10px;
}

.top_match {
    display: none;
}

.mainBetHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 20px 0;
}

.makeBetModal {
    margin-bottom: 10px;
}

.mainBetHeader h2 {
    margin: 0 20px 10px 0;
    text-transform: uppercase;
    flex-grow: 1;
    font-size: 1.5rem;
    color: #222;
}

.time_start {
    margin-top: 15px;
    padding: 7px 20px;
}

.time_start,
.mainBetHeader {
    font-weight: 700;
    color: #222;
    background-color: #e4e4e4;
    width: 100%;
}


/*Responsive*/

.articles {
    border: 1px solid #afadad;
}

.infoUserRight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (min-width: 1170px) {
    .articles {
        width: 70%;
        margin-right: 20px;
    }
    .infoUserRight {
        width: calc(30% - 20px);
    }
    .infoUserRight>div {
        width: 100%;
    }
    #bets_all_championships {
        margin-top: 20px;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .articles {
        width: 100%;
        margin-bottom: 20px;
    }
    .infoUserRight {
        width: 100%;
    }
    .infoUserRight>div {
        width: 350px;
        margin: 0 5px;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .articles {
        width: 100%;
        margin-bottom: 20px;
    }
    .infoUserRight {
        width: 100%;
        justify-content: space-between;
    }
    .infoUserRight>div {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 749px) {
    .articles {
        width: 100%;
    }
    .infoUserRight {
        width: 100%;
    }
    .infoUserRight>div {
        width: 95%;
    }
    #bets_all_championships {
        margin-top: 20px;
    }
}


/*Nav responsive bets*/

@media screen and (min-width: 970px) {
    .change_champ {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 969px) {
    .change_champ {
        width: 45px;
        height: 45px;
        background-size: 600px;
    }
}


/*all responsive*/

@media screen and (min-width: 750px) {
    .articles {
        border: 1px solid #afadad;
    }
    body {
        padding-top: 70px;
        padding-bottom: 20px;
    }
    /*Прогнозы и комментарии*/
    .after_nav_tour {
        width: calc(100% + 10px);
    }
    .preview_one_championship {
        width: calc(100% - 300px);
        margin-right: 15px;
    }
    .block_comments_for_one_champ {
        width: 285px;
        border-left: 1px solid #CCD1D9;
        padding: 10px 0px 0px 15px;
    }
}

@media screen and (max-width: 749px) {
    .articles {
        border: 0px solid #afadad;
    }
    body {
        padding-top: 70px;
        padding-bottom: 20px;
    }
    /*Прогнозы и комментарии*/
    .after_nav_tour {
        width: 100%;
    }
    .preview_one_championship {
        width: 100%;
    }
    .block_comments_for_one_champ {
        margin-top: 20px;
        width: 100%;
    }
}


/*One match bet */

.preview_one_championship>main,
.preview_one_championship>footer {
    width: 100%;
}

.teams_logo_s_time {
    display: flex;
}

@media screen and (min-width: 550px) {
    .teams_logo_s_time {
        width: 100px;
        flex-direction: column;
    }
    .match_discription {
        width: calc(100% - 100px);
    }
    .match_discription {
        padding-left: 10px;
    }
    .match_date {
        margin-top: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 549px) {
    .teams_logo_s_time {
        width: 100%;
    }
    .match_discription {
        width: 100%;
    }
    .dateMatchBet {
        display: flex;
        flex-wrap: wrap;
        margin-left: 5px;
    }
    .dateMatchBet>div {
        margin: 0 5px 5px;
    }
    .title_match {
        margin-top: 5px;
    }
}


/*Bet table css*/

@media screen and (min-width: 1170px) {
    .tableAllusers {
        width: 60%;
        margin-right: 20px;
    }
    .rightTable {
        width: calc( 40% - 20px);
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .tableAllusers {
        width: 60%;
        margin-right: 20px;
    }
    .rightTable {
        width: calc( 40% - 20px);
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .tableAllusers {
        width: 55%;
        margin-right: 20px;
    }
    .rightTable {
        width: calc( 45% - 20px);
    }
}

@media screen and (max-width: 749px) {
    .tableAllusers {
        width: 95%;
        margin: auto;
        margin-bottom: 20px;
    }
    .rightTable {
        width: 95%;
        margin: auto;
    }
}


/*Pagination*/

#paginationTable ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#paginationTable ul li {
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px 2.5px 0;
    color: #656D78;
    background: #fff;
    border: 1px solid #afadad;
    border-radius: 2px;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

#paginationTable ul li.newLi:nth-child(2),
#paginationTable ul li.newLi:nth-last-child(2) {
    display: block !important;
}

#paginationTable ul li.newLi {
    display: none;
}

#paginationTable.showLi .newLi {
    display: block !important;
}

#paginationTable ul li.currentPagination {
    background: #d8d8d8 !important;
}

#paginationTable ul li:hover,
#paginationTable ul li:focus {
    background: #d8d8d8;
}

.veryLittlePag #prevPagination,
.veryLittlePag #nextPagination {
    display: none;
}


/*Little Pagination */

.litlePagination #firstDot,
.litlePagination #lastDot {
    display: none;
}

.litlePagination .newLi {
    display: none;
}


/*Current first*/

.currentFirst #firstDot {
    display: none;
}


/*Current last*/

.currentLast #lastDot {
    display: none;
}
