body {
    background-color: #eaeaea;
    font-size: 1.6rem;
}

.comtainer {
    margin: 0px !important;
}

.my_weeks_bets .row {
    margin: 0px !important;
}

.preview_main_weeks_matches,
.my_weeks_bets,
.div_for_championships_all_prognosis {
    background-color: #fafafa;
    border: 1px solid #CCD1D9;
}

.preview_main_weeks_matches,
.my_weeks_bets {
    padding: 20px;
}

.preview_main_weeks_matches {
    padding-top: 40px;
}

.my_weeks_bets {
    margin-bottom: 20px;
}

.fixed {
    position: fixed;
    bottom: 15px;
    margin-right: 0px;
}


/*Weeks prognosis*/

.weeksProg {
    border: 1px solid #e4e4e4;
    border-collapse: collapse !important;
    margin-top: 10px;
}

.user_infa {
    width: 100%;
    height: 50px;
}

.name_user {
    line-height: 50px;
}

.photo_user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.photo_user img {
    width: 100%;
    margin-bottom: 10px;
}


/*Превью к матчам */

.preview_main_weeks_matches {
    position: relative;
}

.before_date {
    width: 30px;
    height: 16px;
    background-color: #ff7d00;
    position: absolute;
    top: 10px;
    left: 0px;
}

.date_aritle {
    position: absolute;
    top: 10px;
    left: 40px;
    color: #656D78;
}

.ArticleText {
    width: 100%;
    margin: 0% 0% 0% 0% !important;
}

.one_main_match {
    margin-left: 5px;
}

.ArticleText p {
    text-align: justify;
}

.img_one_main_match {
    float: left;
    width: 50%;
    margin: 0% 2% 0% 0% !important;
    overflow: hidden;
    height: 300px;
}

.img_one_main_match img {
    width: 100%;
}

.ArticleName {
    margin: 0% 0% 0% 0% !important;
}

h2 {
    margin: 0px !important;
    margin: 0px !important;
}

.match_stats li {
    list-style: none;
}

.statistical_data {
    min-height: 32px;
    width: 100%;
    line-height: 32px;
    font-size: 14px;
    color: #76766f !important;
    padding: 8px 0px 8px 18px;
    font-weight: 400;
    opacity: 0.7;
}

.statistical_data:hover {
    border-left: 2px solid #76766f;
    font-size: 14px;
    text-decoration: none;
    color: #242424 !important;
    opacity: 1;
}

.statistical_data:focus {
    text-decoration: none;
    opacity: 1;
}

.active_stat {
    border-left: 2px solid #e90052;
    color: #242424;
    font-weight: 600;
    font-size: 14px;
    color: #242424 !important;
    opacity: 1;
}

.active_stat:hover {
    border-left: 2px solid #e90052;
}

.match_stats .row {
    margin-left: 0px;
    margin-right: 0px;
}

.match_stats {
    border-top: 4px solid #e8e8e8;
    margin-top: 15px;
}

.match_stats h3 {
    color: #1d71b9;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu_stat {}

.menu_stat ul {
    padding: 0px;
}

h2 {
    font-size: 28px;
    color: #1d71b9;
    font-weight: 600;
}

h3 {
    font-size: 23px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}


/*ТАблица превью */

.name_championship {
    background-color: #e90052;
    color: #fafafa;
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.this_club_in_table {
    background-color: #FCF1B7;
}

.table_championship img {
    height: 20px;
    max-width: 20px;
}

.table_championship {
    border: 1px solid #e8e8e8;
    border-top: 0;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
}

.table_championship table {
    margin-bottom: 0px;
}

.table_championship table tr {
    padding-top: 10px;
    padding-bottom: 10px;
}


/*Последние результаты*/

.last_result img {
    height: 20px;
    width: auto;
}

.last_result table tr td {
    text-align: center;
    font-size: 12px;
}

.defeat,
.draw,
.victory {
    padding: 4px;
    text-align: center;
    color: #fff;
    border-radius: 20%;
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    cursor: pointer;
    font-weight: 600;
    display: none;
}

.defeat {
    background-color: #d81920;
}

.draw {
    background-color: #76766f;
}

.victory {
    background-color: #13cf00;
}


/*Nav prognosis*/

.table_nav_prognossis {
    background-color: #00ff87;
    height: 80px;
    border-radius: 3px 3px 0 0;
    font-weight: 600;
    font-size: 14px;
}

.table_nav_prognossis ul {
    margin-bottom: 0px;
}

.table_nav_prognossis a {
    color: #242424;
}

.table_nav_prognossis td:nth-child(2+3n) {
    padding-left: 0px !important;
}

.table_nav_prognossis td:nth-child(1+3n) {
    padding-right: 0px !important;
}

.table_nav_prognossis div:first-child {
    height: 39px;
    line-height: 39px;
    color: #38003c;
    font-weight: 600;
    font-size: 18px;
}

.table_nav_prognossis tr:nth-child(2) {
    background-color: #e4e4e4;
}

.table_nav_prognossis .tab ul {
    display: flex;
    width: 100%;
    padding: 0 30% 0 20px;
}

.table_nav_prognossis .tab_active {
    background-color: #fafafa !important;
    color: #1d2f3e !important;
}

.table_nav_prognossis .tab ul li {
    background: #0db566;
    color: #fff;
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.1rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    transition: all .2s;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
}

.table_nav_prognossis .tab ul li:hover {
    background-color: #188b55;
}

.table_nav_prognossis .tab ul li:not(:last-child) {
    margin-right: .5rem;
}

.table_nav_prognossis .table_nav_forecasters {
    height: 80px;
    background-color: #00ff87;
    border-radius: 3px 3px 0 0;
}


/*Table top-10*/

.table > tbody > tr:first-child > td {
    border-top: 0px !important;
    font-weight: bold;
    color: #666;
}

.table_top_forecasters a {
    color: #242424;
}

.table_top_forecasters td:nth-child(2+3n) {
    padding-left: 0px !important;
}

.table_top_forecasters td:nth-child(1+3n) {
    padding-right: 0px !important;
}

.table_nav_forecasters div:first-child {
    height: 39px;
    line-height: 39px;
    text-align: center;
    color: #fafafa;
    font-weight: 600;
    font-size: 16px;
}

.table_nav_forecasters tr:nth-child(2) {
    background-color: #e4e4e4;
}

.tab ul {
    display: flex;
    width: 100%;
    padding: 0 .5rem;
}

.tab_active {
    background-color: #fafafa !important;
    color: #1d2f3e !important;
}

.tab ul li {
    background: #b60040;
    color: #fff;
    padding: 1.3rem 1rem;
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.1rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    transition: all .2s;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
}

.tab ul li:hover {
    background-color: #83002e;
}

.tab ul li:not(:last-child) {
    margin-right: .5rem;
}

.table_nav_forecasters {
    height: 80px;
    background-color: #e90052;
    border-radius: 3px 3px 0 0;
}

.user_foto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}

.user_foto img {
    width: 100%;
    height: auto;
}

.user_prognosist {
    line-height: 35px;
}

.table_top_forecasters {
    font-size: 12px;
    border-right: 1px solid #CCD1D9;
    border-left: 1px solid #CCD1D9;
    border-bottom: 1px solid #CCD1D9;
    background-color: #fafafa;
    margin-bottom: 20px;
}

.table_top_forecasters tr {
    height: 100%;
    line-height: 35px;
}

.table_top_forecasters tr td {
    padding: 2px 8px !important;
    vertical-align: middle !important;
}

.table_top_forecasters tr:first-child td {
    padding: 8px !important;
}

.table_top_forecasters table {
    margin-bottom: 0px;
}

.table_top_forecasters table tr:first-child {
    color: #666;
}

.img_country_forecaster {
    height: 100%;
    display: flex;
    justify-content: center;
    width: auto;
    float: left;
}

.img_country_forecaster img {
    display: inline-block;
    margin-right: 1rem;
    width: auto;
    max-height: 15px;
    box-sizing: border-box;
    align-self: center;
}

.full_list_record {
    box-sizing: border-box;
    float: left;
    background-color: #e8e8e8;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    margin: 3%;
    padding: 3% 3%;
    border-radius: 3px;
    width: 94%;
    font-size: 12px;
}

.full_list_record:hover {
    background-color: #e90052;
}

.full_list_record:hover a {
    color: #fafafa;
    text-decoration: none;
}

#arrow_record {
    float: right;
}


/*End table top-10*/

.onePrognosisLast {
    margin: 0% 0% 0% 0% !important;
    padding: 4% 4% 4% 4% !important;
}


/*Навигация между превью */

.navigation_between_preview {
    background-color: #292a2e;
    color: #fff;
}

.navigation_between_preview .nav_ul {
    display: block;
    height: 43px;
    padding: 0px;
    margin-bottom: 0px;
}

.navigation_between_preview .nav_ul li {
    list-style: none;
    float: left;
    display: inline-block;
    position: relative;
}

.navigation_between_preview .nav_ul li span {
    position: absolute;
    top: 34px;
    right: 14px;
    height: 12px;
    display: none;
}

.navigation_between_preview .nav_ul li a:hover span {
    color: #fff;
}

.navigation_between_preview .nav_ul li a {
    color: #fff;
    font-size: 12px;
    display: block;
    padding: 13px 14px;
    font-weight: 600;
    position: relative;
}

.navigation_between_preview .nav_ul li a:focus {
    text-decoration: none;
}

.navigation_between_preview .active_nav_ul {
    font-weight: 600;
    text-decoration: none;
}

.navigation_between_preview .active_nav_ul span {
    display: block !important;
    color: #fff;
}

.navigation_between_preview .nav_ul li:nth-child(1) a:hover,
.navigation_between_preview ul li:nth-child(1) .active_nav_ul,
.navigation_between_preview .nav_ul li:nth-child(6) a:hover,
.navigation_between_preview ul li:nth-child(6) .active_nav_ul {
    text-decoration: none;
    background-color: #ec0000;
    color: #fafafa;
}

.navigation_between_preview .nav_ul li:nth-child(2) a:hover,
.navigation_between_preview ul li:nth-child(2) .active_nav_ul,
.navigation_between_preview .nav_ul li:nth-child(7) a:hover,
.navigation_between_preview ul li:nth-child(7) .active_nav_ul {
    text-decoration: none;
    background-color: #0091ff;
    color: #fafafa;
}

.navigation_between_preview .nav_ul li:nth-child(3) a:hover,
.navigation_between_preview ul li:nth-child(3) .active_nav_ul,
.navigation_between_preview .nav_ul li:nth-child(8) a:hover,
.navigation_between_preview ul li:nth-child(8) .active_nav_ul {
    text-decoration: none;
    background-color: #ff7d00;
    color: #fafafa;
}

.navigation_between_preview .nav_ul li:nth-child(4) a:hover,
.navigation_between_preview ul li:nth-child(4) .active_nav_ul,
.navigation_between_preview .nav_ul li:nth-child(9) a:hover,
.navigation_between_preview ul li:nth-child(9) .active_nav_ul {
    text-decoration: none;
    background-color: #2446a3;
    color: #fafafa;
}

.navigation_between_preview .nav_ul li:nth-child(5) a:hover,
.navigation_between_preview ul li:nth-child(5) .active_nav_ul,
.navigation_between_preview .nav_ul li:nth-child(10) a:hover,
.navigation_between_preview ul li:nth-child(10) .active_nav_ul {
    text-decoration: none;
    background-color: #ffba14;
    color: #fafafa;
}

.navigation_between_preview .channel_view {
    width: 100%;
    height: 20px;
    line-height: 20px;
}

.channel_view h4 {
    float: left;
    margin-right: 15px;
    font-size: 20px !important;
    margin-top: 0px;
    margin-bottom: 0px;
}

.channel_view img {
    height: 20px;
    float: left;
    width: auto;
    margin-right: 15px;
}

.fixed_col {
    position: fixed;
    bottom: 25px;
}

.fixed_col_top {
    position: fixed;
}

.row {
    position: relative !important;
}


/*All reviews */

.container_all_preview {
    background-color: #fafafa;
    border: 1px solid #CCD1D9;
    border-top: 0px solid #fff !important;
    padding: 20px;
}


/*Навигация между статьями */

#all_bets_nav {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.change_champ {
    width: 63px;
    height: 60px;
    background-image: url(../img/menu_nav.png);
    background-position-y:0; 
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.3; 
}

.change_champ:hover {
    opacity: 1;
}

.active_champ {
    opacity: 1;
}


/*Навигация между турами */

.navigation_between_tour {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 0px 20px;
    height: 50px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;
}


.nav_ul_tour {
    display: block;
    height: 50px;
    padding: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    width: auto;
    padding-left: 20px;
}

.nav_ul_tour li {
    list-style: none;
    float: left;
    display: inline-block;
    position: relative;
}

.nav_ul_tour li:hover .hover_menu {
    top: 46px !important;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.nav_ul_tour li {
    line-height: 50px;
}

.nav_ul_tour li a {
    padding: 4px 20px;
    display: block;
    color: #76766f;
    text-decoration: none;
    font-size: 12px;
}

.hover_menu {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 50px;
    background-color: #76766f;
}

.active_menu {
    top: 46px !important;
    background-color: #e90052;
}

/*Arrow in nav between tour*/
#arrow_left_tour,
#arrow_right_tour {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    z-index: 2;
    border-radius: 50%;
    background-color: rgba(204, 204, 204, 0.86);;
    color: #333;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

#arrow_left_tour:hover,
#arrow_right_tour:hover {
    background-color: rgba(204, 204, 204, 0.39);
}

#arrow_left_tour {
    left: 10px;
}

#arrow_right_tour {
   right: 10px; 
}


/*Ставка недели*/

.one_main_match_bet {
    display: flex;
    width: 70%;
    height: 50px;
    justify-content: center;
    flex-direction: row;
    font-size: 13px;
    font-weight: 600;
}

.choose_result {
    display: flex;
    flex: 6;
    background-color: #eee;
}

.choose_result_active {
    background-color: #0e5fc7;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMTMzZDkzIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwODgwZmEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMTMzZDkzIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, rgb(19, 61, 147)), color-stop(0.5, rgb(8, 128, 250)), color-stop(1, rgb(19, 61, 147)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom, rgb(19, 61, 147) 0%, rgb(8, 128, 250) 50%, rgb(19, 61, 147) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top, rgb(19, 61, 147) 0%, rgb(8, 128, 250) 50%, rgb(19, 61, 147) 100%);
    background-image: -ms-repeating-linear-gradient(bottom, rgb(19, 61, 147) 0%, rgb(8, 128, 250) 50%, rgb(19, 61, 147) 100%);
    color: #fafafa;
}

div.choose_result_active:hover {
    background-color: #0e5fc7;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMTMzZDkzIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwODgwZmEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMTMzZDkzIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, rgb(19, 61, 147)), color-stop(0.5, rgb(8, 128, 250)), color-stop(1, rgb(19, 61, 147)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom, rgb(19, 61, 147) 0%, rgb(8, 128, 250) 50%, rgb(19, 61, 147) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top, rgb(19, 61, 147) 0%, rgb(8, 128, 250) 50%, rgb(19, 61, 147) 100%);
    background-image: -ms-repeating-linear-gradient(bottom, rgb(19, 61, 147) 0%, rgb(8, 128, 250) 50%, rgb(19, 61, 147) 100%);
    color: #fafafa;
}

.hosts_team:hover,
.guests_team:hover,
.coefficient_draw:hover {
    background-color: rgba(91, 178, 214, 0.93);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMjc4ZmJhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM4ZWQ0ZjEiIHN0b3Atb3BhY2l0eT0iMC44NiIgb2Zmc2V0PSIwLjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMjc4ZmJhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, rgb(39, 143, 186)), color-stop(0.5, rgba(142, 212, 241, 0.86)), color-stop(1, rgb(39, 143, 186)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom, rgb(39, 143, 186) 0%, rgba(142, 212, 241, 0.86) 50%, rgb(39, 143, 186) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top, rgb(39, 143, 186) 0%, rgba(142, 212, 241, 0.86) 50%, rgb(39, 143, 186) 100%);
    background-image: -ms-repeating-linear-gradient(bottom, rgb(39, 143, 186) 0%, rgba(142, 212, 241, 0.86) 50%, rgb(39, 143, 186) 100%);
}

.choose_result > div {
    height: 100%;
    line-height: 50px;
}

.one_main_match_bet div {
    align-self: center;
}

.time_match {
    flex: 1;
    text-align: center;
    height: 52px;
    line-height: 52px;
    padding-left: 12px;
    padding-right: 12px;
}

.hosts_team,
.guests_team {
    flex: 2;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.hosts_team div:last-child,
.guests_team div:last-child {
    float: right;
}

.container_img_team_main_bet {
    height: 25px;
    float: left;
    margin-right: 10px;
}

.container_img_team_main_bet img {
    height: 100%;
    width: auto;
}

.coefficient_draw {
    text-align: center;
    cursor: pointer;
}

.coefficient_home_team,
.coefficient_draw,
.coefficient_quest_team {
    flex: 1;
}

.coefficient_draw i {
    color: blue;
    margin-right: 5px;
}


/*Прогнозы на все матчи правая колонка*/

#bets_all_championships {
    width: 100%;
    background-color: #fafafa;
    padding: 10px 15px;
}

.bets_one_championship {
    width: 100%;
    height: 60px;
    background-image: url(../img/all_championship_right_column.jpg);
    background-repeat: no-repeat;
    background-position-x: -10px;
    cursor: pointer;
}

.bets_one_championship:hover {
    opacity: 0.7;
}


