.col-lg-44 {
    width: 26%;
    float: right;
}

.col-lg-88 {
    width: 72%;
    float: left;
    margin-right: 2%;
}

.title_and_all {
    height: 30px;
    margin-bottom: 10px;
}

.title_and_all h2 {
    margin-bottom: 0px !important;
    font-size: 13px;
}


/*Слайдер*/

.head_nav,
.footer_nav {
    width: 100%;
    height: 43px;
    background-color: #fafafa;
    border-right: 1px solid #ccd1d9;
}

.slaider_gallery {
    background-color: #fafafa;
    height: 552px;
    margin-bottom: 25px;
}

.slaider_foto {
    background-color: #1c1d1e;
}

.description_foto {
    font: bold 16px/20px 'Roboto', sans-serif;
    font-weight: normal;
    color: #8e979f;
}

.body_slaider_gallery {
    height: 100%;
}

#wrapper_foto {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content_foto {
    flex: 1 0 auto;
}

.footer_nav {
    flex: 0 0 auto;
}

.head_nav ul {
    margin-bottom: 0px !important;
}

.nav_ul {
    display: block;
    height: 43px;
    padding: 0px;
}

.nav_ul li {
    list-style: none;
    float: left;
    display: inline-block;
}

.nav_ul li span {
    position: absolute;
    top: 34px;
    right: 14px;
    height: 12px;
    display: none;
}

.nav_ul li a:hover span {
    color: #1d2f3e;
}

.nav_ul li a {
    color: #434a54;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    padding: 13px 14px;
    font-weight: 600;
    position: relative;
}

.nav_ul li a:focus {
    text-decoration: none;
}

.nav_ul li a img {
    height: 12px;
    width: auto;
}

.nav_ul li:nth-child(1) a:hover,
ul li:nth-child(1) .active_nav_ul {
    text-decoration: none;
    background-color: #ec0000;
    color: #fafafa;
}

.nav_ul li:nth-child(2) a:hover,
ul li:nth-child(2) .active_nav_ul {
    text-decoration: none;
    background-color: #0091ff;
    color: #fafafa;
}

.nav_ul li:nth-child(3) a:hover,
ul li:nth-child(3) .active_nav_ul {
    text-decoration: none;
    background-color: #ff7d00;
    color: #fafafa;
}

.nav_ul li:nth-child(4) a:hover,
ul li:nth-child(4) .active_nav_ul {
    text-decoration: none;
    background-color: #2446a3;
    color: #fafafa;
}

.nav_ul li:nth-child(5) a:hover,
ul li:nth-child(5) .active_nav_ul {
    text-decoration: none;
    background-color: #ffba14;
    color: #fafafa;
}

.active_nav_ul {
    color: #fafafa !important;
    text-decoration: none;
}

.active_nav_ul span {
    display: block !important;
    color: #1c1d1e;
}


/*Картинка слайдер */

.slaider_foto_base {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 464px;
}

.img_slaider {
    width: 100%;
    overflow: hidden;
    height: 464px;
    display: flex;
    justify-content: center;
    background-color: #1c1d1e;
}

ul {
    margin: 0px !important;
    padding: 0px !important;
}

#foto_full {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fafafa;
    opacity: 0.8;
    font-size: 30px;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.img_slaider img {
    align-self: center;
    display: none;
}

.slaider_gallery {
    border: 1px solid #ccd1d9;
}

.slaider_gallery .col-lg-4 {
    margin-left: 0px !important;
    padding: 25px !important;
}

.foto_left,
.foto_right {
    color: #fafafa;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 40%;
    font-size: 40px;
}

.foto_left:hover,
.foto_right:hover {
    opacity: 0.8;
}

.foto_right {
    right: 0px;
    padding: 15px 15px 15px 25px;
}

.foto_left {
    left: 0px;
    padding: 15px 25px 15px 15px;
    /*display:none;*/
}


/* Альбомы */

.color_line {
    width: 100%;
    height: 5px;
    background-color: #267788;
    position: relative;
}

.icon_for_album {
    position: absolute;
    color: #fafafa;
    font-size: 16px;
    top: -40px;
    left: 8px;
    display: flex;
}

.icon_foto {
    float: left;
    height: 35px;
    width: 35px;
    background-color: #135965;
    line-height: 35px;
    text-align: center;
}

.quantity_foto_in_album {
    height: 35px;
    width: 35px;
    background-color: #267788;
    line-height: 35px;
    text-align: center;
}

.all_of_units {
    background-color: #ebebeb;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    float: right;
    font-size: 14px;
    padding: 0px;
    color: #333;
    height: 30px;
    display: flex;
    justify-content: center;
}

.all_of_units span:nth-child(1) {
    margin: 0px 15px 0px 30px;
    align-self: center;
}

.all_of_units span:nth-child(2) {
    float: right;
    margin-right: 7px;
    align-self: center;
}

.all_of_units:hover {
    background-color: #e90052;
    color: white;
}

.div_album h2 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 24px;
    float: left;
}

.div_album {
    overflow: hidden;
    position: relative;
    background-color: #fafafa;
    padding: 20px;
    border: 1px solid #CCD1D9;
    margin-bottom: 25px;
}

.container_album {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
}

.one_album {
    width: 100%;
    max-height: 280px;
}

.main_foto_albub {
    width: 100%;
    height: 175px;
    overflow: hidden;
}

.main_foto_albub img {
    width: 100%;
}

.title_and_all_albums {
    height: 33px;
}

.before_current_album {
    border-bottom: 1px solid #CCD1D9;
    margin: 0px 5px 15px;
    width: 100%;
}

.discription_album {
    padding: 10px;
    color: #242424;
    font-size: 15px;
    font-weight: 600;
}

.current_album {
    color: #e90052;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.more_cmment {
    cursor: pointer;
    width: 25%;
    margin: 0 auto 20px;
    padding: 5px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    color: #656D78;
    background: #fff;
    border: 1px solid #CCD1D9;
    border-radius: 2px;
}

.more_cmment:hover {
    text-decoration: none!important;
    background: #eee;
}

.more_album {
    cursor: pointer;
    width: 100%;
    margin: 0 auto 0px;
    padding: 5px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    color: #656D78;
    background: #fff;
    border: 1px solid #CCD1D9;
    border-radius: 2px;
}

.more_album:hover {
    text-decoration: none!important;
    background: #eee;
}


/*Для нового слайдера*/

.slider_photo_list {
    position: relative;
}


/*Ксс для комментрриев */

.comments_base {
    background-color: #fafafa;
    border-bottom: 1px solid #CCD1D9;
    border-left: 1px solid #CCD1D9;
    border-right: 1px solid #CCD1D9;
    padding: 25px;
}

.comments_base2 {
    background-color: #fafafa;
    border-bottom: 1px solid #CCD1D9;
    border-left: 1px solid #CCD1D9;
    border-right: 1px solid #CCD1D9;
}

.coments_author {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.coments_author img {
    width: 100%;
}

.content_coment {
    margin-left: 60px;
}

.coment_author_time {
    min-width: 51%;
    color: #7f8992;
}

.coment_author_time a {
    font-weight: 600;
}

.blockquote {
    padding: 3% 3% 0 3%;
}

.blockquote:hover {
    background-color: #f0f2f5;
}

.author_name_date {
    color: #7f8992;
    font-weight: 500;
    font-size: 16px;
}

.author_name_date a {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin-right: 7px;
    margin-left: 10px;
}

.show_all_coment {
    display: block;
    cursor: pointer;
    color: #55677d;
    background: #f0f2f5;
    line-height: 32px;
    border-radius: 2px;
    text-align: center;
    margin-top: 5px;
    margin: 5px 10% 24px 10%;
}


/*Описания фото */

.discription_and_like {
    display: inline-block;
    margin-bottom: 25px;
    padding: 25px;
    background-color: #fafafa;
    border-right: 1px solid #CCD1D9;
    border-left: 1px solid #CCD1D9;
    border-bottom: 1px solid #CCD1D9;
}

.discription_foto {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    float: left;
    max-width: 70%;
}

.discription_foto span {
    position: absolute;
    top: 100%;
    left: 0;
    color: #939699;
    padding: 0 1px;
    font-size: 13px;
}


/*Css for like s dislike*/

.like,
.dislike {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    color: #fafafa;
    font-size: 22px;
    text-align: center;
    float: left;
    margin-left: 10px;
    opacity: 0.6;
    vertical-align: center;
    line-height: 40px;
}

.like_all:hover .quantity_like,
.like_all:hover .like,
.dislike_all:hover .quantity_dislike,
.dislike_all:hover .dislike {
    opacity: 1;
}

.like_all:hover .quantity_like,
.dislike_all:hover .quantity_dislike {
    color: black;
}

.like_all,
.dislike_all {
    color: black;
}

.quantity_like,
.quantity_dislike {
    font-size: 22px;
    line-height: 40px;
    float: left;
    margin-left: 7px;
    font-weight: 700;
    opacity: 0.6;
}

.like_and_dislike {
    float: right;
}

.block_like-dislike {
    width: 100%;
    height: 40px;
}
