.right {
    float: right;
}

.one_section_gallery {
    width: 30%;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.galleryDiv {
    overflow: hidden;
    position: relative;
    background-color: #fafafa;
    padding: 24px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.galleryDiv h3 {
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 24px;
}

.img_gallery {
    width: 100%;
    overflow: hidden;
    height: 250px;
}

.img_gallery img {
    width: 100%;
    height: 250px;

}


.imgSectionGallery {
    width: 100% !important;
    height: auto !important;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    transform: scale(2.2);
    border-radius: 10px;
}

.one_section_gallery:hover .imgSectionGallery {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
    border-radius: 10px;
}

.albumName {
    margin-top: 0px;
    padding: 8px 10px;
    font-size: 13px !important;
    position: absolute;
    background-color: #e90052;
    display: block;
    bottom: 20px;
    left: 5%;
    width: 70%;
    margin-bottom: 0px;
    font-weight: bold;
    color: white;
    line-height: 13px !important;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-radius: 2px;
}

.albumIcon {
    margin-top: 0px;
    font-size: 13px !important;
    position: absolute;
    background-color: #e90052;
    display: block;
    bottom: 20px;
    left: 77%;
    width: 11%;
    margin-bottom: 0px;
    font-weight: bold;
    color: white;
    line-height: 13px !important;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-radius: 2px;
}

.one_section_gallery:hover h3 {
    bottom: 65px;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.one_section_gallery:hover h3 {
    background-color: #38003c;
}

.infaAlbum {
    margin: 0px !important;
    padding: 3% 8% !important;
    width: 100% !important;
    height: 60px !important;
    position: absolute !important;
    top: 270px;
    background-color: #38003c;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.one_section_gallery:hover .infaAlbum {
    top: 210px;
}

span > img {
    width: auto;
    height: 29px;
    color: white;
    padding: 8% 8%;
}

.infaAlbum > p {
    margin: 0px;
    font-size: 1.4em;
    color: white;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
