.conteinerLogin {
    border: 1px solid #CCD1D9;
    background-color: #fff;
    padding: 20px 20px 10px;
}

#id_country {
    width: 100%;
}

select {
    height: 35px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none !important;
}

.forPlaceholder p {
    margin-top: 5px;
}

@media screen and (min-width: 1170px) {
    .conteinerLogin {
        width: 70%;
        margin-right: 20px;
    }
    .advertising {
        width: calc(30% - 20px);
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .conteinerLogin {
        width: 70%;
        margin-right: 20px;
    }
    .advertising {
        width: calc(30% - 20px);
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .conteinerLogin {
        width: 100%;
        margin-bottom: 20px;
    }
    .advertising {
        width: 100%;
    }
}

@media screen and (max-width: 749px) {
    .conteinerLogin {
        width: 100%;
        margin-bottom: 20px;
    }
    .advertising {
        width: 100%;
    }
}

#uploadAvatar {
    width: 100%;
    height: 35px;
    resize: none;
    overflow: hidden;
    outline: none;
    padding: 6px;
}

.finishLogin {
    padding: 0px 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainH {
    margin: 0 0 20px 0;
    font-weight: 900;
}


/*Select */

.choseDayBitrh {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.formLogin {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.formLogin label {
    display: flex;
    flex-direction: column;
}

.formLogin label span {
    color: #e62117;
}

.formLogin:nth-last-child(n+2) {
    margin-bottom: 15px;
}

@media screen and (min-width: 1170px) {
    .choseDayBitrh select {
        width: 32%;
    }
    .formLogin label {
        width: 30%;
    }
    .formLogin>div,
    .formLogin>select {
        width: 70%;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .choseDayBitrh select {
        width: 32%;
    }
    .formLogin label {
        width: 30%;
    }
    .formLogin>div,
    .formLogin>select {
        width: 70%;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .choseDayBitrh select {
        width: 32%;
    }
    .formLogin label {
        width: 30%;
    }
    .formLogin>div,
    .formLogin>select {
        width: 70%;
    }
}

@media screen and (max-width: 749px) {
    .choseDayBitrh select {
        width: 100%;
    }
    .choseDayBitrh select:nth-last-child(n+2) {
        margin-bottom: 10px;
    }
    .formLogin label {
        width: 100%;
    }
    .formLogin>div,
    .formLogin>select {
        width: 100%;
    }
}


/*Canvas */

canvas {
    width: 100%;
}

.imgCutting {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

@media screen and (min-width: 1170px) {
    .canvasParent,
    .conteinerAva {
        width: 50%;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .canvasParent,
    .conteinerAva {
        width: 50%;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .canvasParent,
    .conteinerAva {
        width: 50%;
    }
}

@media screen and (max-width: 749px) {
    .canvasParent,
    .conteinerAva {
        width: 100%;
    }
}

.uploadPhotoInput {
    width: 45px;
    height: 45px;
    border: 0px solid silver;
    background-color: #aa0a0c;
    border-radius: 3px;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    margin-left: 10px;
}

#dowPhoto {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.avatarImg {
    max-width: 80% margin: auto;
    overflow: hidden;
    border-radius: 100%;
}

.avatarImg img {
    width: 100%;
}

#cropBttn {
    float: right;
    margin-right: 20px;
}

.conteinerAva {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


/*Login (not register)*/

#signIn {
    padding: 20px;
}

#signIn h1 {
    font-size: 30px;
    font-weight: 900;
    color: #000;
    margin: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.signInhelp {
    display: flex;
    height: 40px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.signInhelp:nth-last-child(n+2) {
    margin-bottom: 5px;
}

.signInhelp h3 {
    margin: 0;
    line-height: 40px;
    margin-left: 20px;
    font-size: 22px;
}

.iconSign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-size: 25px;
}


/*Social login*/

.fb {
    background-color: #3b5998;
    border: 1px solid #324b82;
}

.fb:hover {
    background: linear-gradient( to bottom, #3b5998, #324b82);
}

.fb .iconSign {
    border-right: 1px solid #324b82;
}

.vk {
    background-color: #507299;
    border: 1px solid #305075;
}

.vk:hover {
    background: linear-gradient( to bottom, #507299, #305075);
}

.vk .iconSign {
    border-right: 1px solid #305075;
}

.gogle {
    background-color: #dd4b39;
    border: 1px solid #be4030;
}

.gogle:hover {
    background: linear-gradient( to bottom, #dd4b39, #be4030);
}

.gogle .iconSign {
    border-right: 1px solid #be4030;
}

.odnoklasniki {
    background-color: #ee8208;
    border: 1px solid #c77110;
}

.odnoklasniki:hover {
    background: linear-gradient( to bottom, #ee8208, #c77110);
}

.odnoklasniki .iconSign {
    border-right: 1px solid #c77110;
}

.tw {
    background-color: #55acee;
    border: 1px solid #4893cc;
}

.tw:hover {
    background: linear-gradient( to bottom, #55acee, #4893cc);
}

.tw .iconSign {
    border-right: 1px solid #4893cc;
}

.loginBtn {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.content h2 {
    font-size: 28px;
    font-weight: 900;
    margin-top: 0;
}

.loginBtn a {
    color: #222;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.loginBtn a:hover,
.loginBtn a:focus,
.loginBtn a:active,
.loginBtn a:visited {
    color: #222;
    text-decoration: none;
}

.btnLogin,
.finishLogin {
    padding: 7px 16px 8px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #aa0a0c;
    color: #fff;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
}

.btnRegister {
    padding: 7px 16px 8px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    background: red;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
}

.btnLogin:hover,
.btnLogin:focus,
.btnLogin:active,
.finishLogin:hover,
.finishLogin:focus,
.finishLogin:active {
    background-color: rgba(170, 10, 12, 0.76);
    color: #fff;
}

.btnLogin,
.btnRegister {
    width: calc( 50% - 5px);
}

@media screen and (min-width: 1170px) {
    #signIn {
        width: 800px;
        margin: auto;
        border: 1px solid #afadad;
    }
    .loginWith,
    .simpleLogin {
        width: 50%;
    }
    .loginWith {
        padding-right: 20px;
        border-right: 1px solid silver;
    }
    .simpleLogin {
        padding-left: 20px;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    #signIn {
        width: 800px;
        margin: auto;
        border: 1px solid #afadad;
    }
    .loginWith,
    .simpleLogin {
        width: 50%;
    }
    .loginWith {
        padding-right: 20px;
        border-right: 1px solid silver;
    }
    .simpleLogin {
        padding-left: 20px;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    #signIn {
        width: 100%;
        border: 1px solid #afadad;
    }
    .loginWith,
    .simpleLogin {
        width: 50%;
    }
    .loginWith {
        padding-right: 20px;
        border-right: 1px solid silver;
    }
    .simpleLogin {
        padding-left: 20px;
    }
}

@media screen and (max-width: 749px) {
    #signIn {
        width: 100%;
    }
    .loginWith,
    .simpleLogin {
        width: 100%;
    }
    .loginWith {
        order: 2;
    }
    .simpleLogin {
        order: 1;
        margin-bottom: 20px;
    }
    #signIn h1 {
        margin-bottom: 20px;
    }
}


/*Textarea login*/

input[type="text"],
input[type="password"] {
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none !important;
    color: #cccccc;
}

input[type="text"]:focus,
input[type="password"] {
    border: 1px solid #b9b6b6;
    color: #222;
}

.simpleLogin label {
    font-size: 14px !important;
    text-transform: uppercase;
}


/*Media for border main*/

@media screen and (min-width: 970px) {
    .conteinerLogin {
        border: 1px solid #afadad;
    }
    body {
        padding-top: 70px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 969px) {
    .conteinerLogin {
        border: 0px solid #666;
    }
    body {
        padding-top: 70px;
        padding-bottom: 20px;
    }
}


/*Register last*/

#messageEror {
    color: #e62117;
    width: 100%;
    text-align: right;
}

#registerFooter {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.cutImg {
    display: flex;
    justify-content: space-between;
}

.avatarChoose {
    max-width: 100%;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    display: none;
    margin-top: 20px;
}

.avatarChoose img {
    width: 100%;
}

.closeImg {
    cursor: pointer;
    position: absolute;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    color: #fff;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    top: 15px;
    opacity: 0.7;
}

.closeImg:hover {
    opacity: 1;
}

#erorSrc {
    display: none;
    color: #aa0a0c;
}
