.conteinerLogin {
    border: 1px solid #CCD1D9;
    background-color: #fafafa;
    padding: 20px;
}

#id_country {
    width: 100%;
}

select {
    height: 25px;
}

@media screen and (min-width: 1170px) {
    .conteinerLogin {
        width: 70%;
        margin-right: 20px;
    }
    .advertising {
        width: calc(30% - 20px);
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .conteinerLogin {
        width: 70%;
        margin-right: 20px;
    }
    .advertising {
        width: calc(30% - 20px);
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .conteinerLogin {
        width: 100%;
        margin-bottom: 20px;
    }
    .advertising {
        width: 100%;
    }
}

@media screen and (max-width: 749px) {
    .conteinerLogin {
        width: 100%;
        margin-bottom: 20px;
    }
    .advertising {
        width: 100%;
    }
}

#uploadAvatar {
    width: 100%;
    height: 35px;
    resize: none;
    overflow: hidden;
    outline: none;
    padding: 6px;
}

.finishLogin {
    padding: 0px 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #38003C;
    color: #fff;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

.finishLogin span {
    float: right;
    line-height: 24px;
}

.finishLogin:hover {
    background-color: #13cf00;
}

.unimportant {
    color: #13cf00;
}

#mainH {
    margin: 0 0 20px 0;
    font-weight: 900;
}


/*Select */

.choseDayBitrh {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.formLogin {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.formLogin:nth-last-child(n+2) {
    margin-bottom: 15px;
}

@media screen and (min-width: 1170px) {
    .choseDayBitrh select {
        width: 32%;
    }
    .formLogin label {
        width: 30%;
    }
    .formLogin>div,
    .formLogin>select {
        width: 70%;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .choseDayBitrh select {
        width: 32%;
    }
    .formLogin label {
        width: 40%;
    }
    .formLogin>div,
    .formLogin>select {
        width: 70%;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .choseDayBitrh select {
        width: 32%;
    }
    .formLogin label {
        width: 30%;
    }
    .formLogin>div,
    .formLogin>select {
        width: 70%;
    }
}

@media screen and (max-width: 749px) {
    .choseDayBitrh select {
        width: 100%;
    }
    .formLogin label {
        width: 100%;
    }
    .formLogin>div,
    .formLogin>select {
        width: 100%;
    }
}


/*Canvas */


canvas {
    width: 100%;
}

.imgCutting {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cutImg {
    padding: 10px;
}

@media screen and (min-width: 1170px) {
    .canvasParent,
    .conteinerAva {
        width: 50%;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .canvasParent,
    .conteinerAva {
        width: 50%;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .canvasParent,
    .conteinerAva {
        width: 50%;
    }
}

@media screen and (max-width: 749px) {
    .canvasParent,
    .conteinerAva {
        width: 100%;
    }
}

.uploadPhotoInput {
    width: 100%;
    height: 35px;
    border: 1px solid silver;
    background-color: red;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#dowPhoto {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.cutImg>input,
.cutImg>textarea, 
.cutImg>div {
    margin-bottom: 10px;
    width: 100%;
}

.avatarImg {
    max-width: 80%
    margin: auto;
    overflow: hidden;
    border-radius: 100%;
}

.avatarImg img {
    width: 100%;
}
#cropBttn {
    float: right;
    margin-right: 20px;
}
.conteinerAva {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
