.container_unit {
    border-bottom: 4px solid #e8e8e8;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

h2,
h3,
h4 {
    color: #1d2f3e;
    font-weight: 600;
}

a {
    color: #242424;
}

a:hover,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}

.full_list_record a:hover,
.full_list_record a:focus {
    color: #fff !important;
    text-decoration: none !important;
}

.full_list_record:hover a {
    color: #fff !important;
    text-decoration: none !important;
}

.articles {
    padding-bottom: 0 !important;
}

.all_of_units {
    background: linear-gradient(to bottom, #eaeaea, #d7d7d7);
    border-radius: 4px;
    float: right;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    font-size: 13px;
    color: #222;
    padding: 0 10px;
}

.all_of_units span {
    margin-right: 20px;
}

.all_of_units:hover {
    color: #fff;
    background-color: #e62117;
    background: linear-gradient(to bottom, #e62117, #e62117);
}


/*Главная новость*/

.title_and_all {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
}

.title_and_all h2 {
    margin: 0;
}

.container_all {
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #ccd1d9;
}

.container_all a {
    color: #1d2f3e !important;
}

.main_news h2 {
    margin-top: 0px;
}

.main_img {
    overflow: hidden;
}

.main_img img {
    width: 100%;
    height: auto;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}


/*Последние новости */

.container_news {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
}

.one_news_img {
    width: 100%;
    overflow: hidden;
}

.one_news_img img {
    width: 100%;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.one_news:hover img {
    transform: scale(1.2);
}

.one_news:hover h4 {
    font-weight: 700 !important;
}

.container_unit {
    height: auto;
}

.one_news_info {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 16px;
    max-height: 48px;
    margin: 5px 10px 10px;
}

.one_news_info h4 {
    font-size: 14px !important;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400 !important;
}

.one_news_info span {
    color: #e62117;
    font-size: 12px;
    font-weight: 700;
}


/*Альбомы на главной*/

.main_last_album h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.album_img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album_img img {
    width: 100%;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.main_last_album a:hover img,
.last_albums:hover img {
    transform: scale(1.2);
}

.last_albums:hover .discription_last_album {
    font-weight: 700;
}

.back_color_main_album {
    background-color: #267788;
}

.discription_main_last_album {
    color: #fafafa;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 22px;
    max-height: 66px;
    margin: 5px 10px 10px;
    font-size: 20px;
}

.discription_last_album {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-height: 18px;
    /* fallback */
    max-height: 36px;
    margin: 10px;
    font-size: 18px;
}

.discription_main_last_album h2,
.discription_main_last_album h3,
.discription_main_last_album h4 {
    color: #fafafa;
}

.color_line {
    width: 100%;
    height: 5px;
    background-color: #267788;
    position: relative;
}


/*main album icon*/

.main_album_flex .icon_for_album {
    position: absolute;
    color: #fafafa;
    font-size: 20px;
    bottom: 20px;
    left: 15px;
    display: flex;
}

.main_album_flex .icon_foto {
    float: left;
    height: 45px;
    width: 45px;
    background-color: #135965;
    line-height: 45px;
    text-align: center;
}

.main_album_flex .quantity_foto_in_album {
    height: 45px;
    width: 45px;
    background-color: #267788;
    line-height: 45px;
    text-align: center;
}


/*last 4 album icon*/

.four_album .icon_for_album {
    position: absolute;
    color: #fafafa;
    font-size: 16px;
    bottom: 15px;
    left: 10px;
    display: flex;
}

.four_album .icon_foto {
    float: left;
    height: 35px;
    width: 35px;
    background-color: #135965;
    line-height: 35px;
    text-align: center;
}

.four_album .quantity_foto_in_album {
    height: 35px;
    width: 35px;
    background-color: #267788;
    line-height: 35px;
    text-align: center;
}

.container_unit .row {
    margin: 0px !important;
    padding: 0px !important;
}


/*Infa user*/

.user_date {
    padding: 24px;
    background-color: #fafafa;
    border: 1px solid #ccd1d9;
}

.user_date h3 {
    margin-top: 0px;
}

.offerNews {
    padding: 24px;
    background-color: #fafafa;
    border: 1px solid #ccd1d9;
    margin-top: 24px;
}

.articles {
    background-color: #fafafa;
    border: 1px solid #ccd1d9;
    padding: 24px;
}

.user_date table {
    margin-bottom: 0px;
    border-bottom: 1px solid #ddd;
}

.user_information tr td:nth-child(2) a {
    float: right;
}

.user_information tr td:nth-child(1) a {
    font-weight: bold;
}

.position_relative {
    position: relative;
}

.rightlyarticle .fa {
    margin-left: 10px;
    font-size: 16px;
    opacity: 0.8;
}

.rightlyarticle .fa:hover {
    opacity: 1;
}


/*Адаптивность */

.main_news a {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.main_news:hover img {
    transform: scale(1.2);
}

.main_news:hover h2 {
    color: #337ab7 !important;
}

.main_news_infa p {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
}

@media screen and (min-width: 1170px) {
    .main_img {
        width: 55%;
        margin-right: 15px;
    }
    .main_news_infa {
        width: calc(45% - 15px);
        S
    }
    .one_news {
        width: 25%;
    }
    .title_and_all h2 a {
        font-size: 26px;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .main_img {
        width: 55%;
        margin-right: 15px;
    }
    .main_news_infa {
        width: calc(45% - 15px);
    }
    .one_news {
        width: 50%;
    }
    .one_news:nth-last-child(n+3) {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .main_img {
        width: 55%;
        margin-right: 15px;
    }
    .main_news_infa {
        width: calc(45% - 15px);
    }
    .one_news {
        width: 50%;
    }
    .one_news:nth-last-child(n+3) {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 500px) and (max-width: 749px) {
    .one_news {
        width: 50%;
    }
    .one_news:nth-last-child(n+3) {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    .one_news {
        width: 100%;
        margin-bottom: 15px;
        border-bottom: 1px solid silver;
    }
    .one_news:last-child {
        margin-bottom: 0 !important;
        border-bottom: 0px solid silver;
    }
    .title_and_all h2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 749px) {
    .main_img {
        width: 100%;
    }
    .main_news_infa {
        width: 100%;
    }
    .main_news_infa h2 {
        font-size: 22px;
    }
}


/*Albums main*/

.main_gallery_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
}

.main_album_flex {
    display: flex;
    flex-direction: column;
    height: 350px;
}

.main_last_album {
    height: 350px;
}

.main_last_album .album_img {
    flex-grow: 1;
}

.four_album {}

.last_albums {
    float: left
}

@media screen and (min-width: 1170px) {
    .main_last_album {
        width: 50%;
    }
    .four_album {
        width: 50%;
    }
    .last_albums {
        width: 50%;
        height: 175px;
    }
    .last_albums .album_img {
        height: 110px;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .main_last_album {
        width: 50%;
    }
    .four_album {
        width: 50%;
    }
    .last_albums {
        width: 50%;
        height: 175px;
    }
    .last_albums .album_img {
        height: 110px;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {

    .main_last_album {
        width: 45%;
    }
    .four_album {
        width: 55%;
    }
    .last_albums {
        width: 50%;
        height: 175px;
    }
    .last_albums .album_img {
        height: 110px;
    }
}

@media screen and (min-width: 601px) and (max-width: 749px) {
    .last_albums:nth-last-child(n+3) {
        display: none;
    }
    .main_last_album {
        width: 65%;
    }
    .four_album {
        width: 35%;
    }
    .last_albums {
        width: 100%;
        height: 175px;
    }
    .last_albums .album_img {
        height: 110px;
    }
}

@media screen and (max-width: 600px) {
    .main_last_album {
        width: 100% !important;
        height: 210px !important;
        margin-bottom: 15px !important;
    } 
    .main_album_flex {
      height: 210px !important;  
    }
    .main_last_album .album_img {
        height: 210px !important;
    }
    .four_album {
        width: 100%;
    }
    .last_albums {
        width: 100%;
        height: 275px;
    } 
    .last_albums .album_img {
        height: 210px;
    } 
}


/*Articles main*/

.flex_container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

.one_read_article_info {
    padding: 50px 15px 15px 15px;
}

.articleSrc {
    width: 100%;
    height: 100%;
}

.articleSrc:hover .one_read_article_info h3 {
    color: #1d71b9;
}

.one_read_article_info h3 {
    font-weight: 600;
    margin-bottom: 5px;
}

.author_img img {
    width: 100%;
}

.one_read_article_img {
    width: 100%;
    overflow: hidden;
}

.one_read_article_img img {
    width: 100%;
}

.one_read_article {
    border: 1px solid #afadad;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.one_read_article {
    display: block;
}

@media screen and (min-width: 1170px) {
    .author_img {
        width: 70px !important;
        height: 70px !important;
    }
    .flex_container {
        justify-content: space-between;
    }
    .one_read_article {
        width: 49%;
    }
    .author_img {
        bottom: calc(100% - 35px) !important;
    }
    .relative_article p {
        font-size: 14px;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .author_img {
        width: 60px !important;
        height: 60px !important;
    }
    .flex_container {
        justify-content: space-between;
    }
    .one_read_article {
        width: 49%;
    }
    .author_img {
        bottom: calc(100% - 35px) !important;
    }
    .relative_article p {
        font-size: 14px;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .author_img {
        width: 70px !important;
        height: 70px !important;
    }
    .flex_container {
        justify-content: space-between;
    }
    .one_read_article {
        width: 49%;
    }
    .author_img {
        bottom: calc(100% - 35px) !important;
    }
    .relative_article p {
        font-size: 14px;
    }
}

@media screen and (max-width: 749px) {
    .main_news_infa h2 {
        margin-top: 15px;
    }
    .author_img {
        width: 70px !important;
        height: 70px !important;
    }
    .flex_container {
        justify-content: center;
    }
    .one_read_article {
        margin-bottom: 10px;
    }
    .author_img {
        bottom: calc(100% - 35px) !important;
    }
    .relative_article p {
        font-size: 12px;
    }
}

@media screen and (min-width: 600px) and (max-width: 749px) {
    .one_read_article {
        width: 60%;
    }
}

.relative_article {
    position: relative;
}

.relative_article p {
    position: absolute;
    left: 105px;
    top: 5px;
    font-weight: 600;
    color: #1d2f3e;
}

.one_read_article_info p {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.author_img {
    overflow: hidden;
    border-radius: 50%;
    background-color: #d9dde0;
    border: 2px solid #d9dde0;
    position: absolute;
}

.info_time_article {
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.before_date {
    width: 45px;
    height: 16px;
    background-color: #e62117;
    margin-right: 5px;
}

.date_aritle {
    color: #656D78;
}

.one_read_article:hover .one_read_article_img img {
    transform: scale(1.25);
}

.one_read_article_img img {
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}


/*Record main*/

.records_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (min-width: 1170px) {
    .records_list {
        justify-content: space-between;
    }
    .records_list>div {
        width: 32.5%;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .records_list {
        justify-content: space-between;
    }
    .records_list>div {
        width: 49%;
    }
    .records_list>div:last-child {
        display: none;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .records_list {
        justify-content: space-between;
    }
    .records_list>div {
        width: 32.5%;
    }
}

@media screen and (min-width: 550px) and (max-width: 749px) {
    .records_list {
        justify-content: space-between;
    }
    .records_list>div {
        width: 49%;
    }
    .records_list>div:last-child {
        display: none;
    }
}

@media screen and (max-width: 549px) {
    .records_list>div {
        width: 100%;
    }
    .records_list>div:nth-last-child(n+2) {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 749px) {
    .author_img {
        width: 50px !important;
        height: 50px !important;
    }
    .author_img {
        bottom: calc(100% - 25px) !important;
        left: 10px !important;
    }
    .relative_article p {
        left: 65px !important;
        top: 5px;
    }
    .info_time_article {
        margin-top: 30px !important;
    }
}
