/*Header search*/

.right_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

#offerNewsBtn {
    height: 30px !important;
    padding: 0 16px;
    margin: 0 10px 10px 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 30pxpx;
    text-align: center;
    text-decoration: none;
    background: none;
    border: 0;
    border-radius: 2px;
    background: #aa0a0c;
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#offerNewsBtn:hover {
    background: rgba(170, 10, 12, 0.84);
}

.searchRecord {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    margin-bottom: 10px;
}

.searchRecord textarea {
    width: 225px;
    height: 100%;
    font-size: 15px;
    overflow: hidden;
    padding: 5px;
    outline: none;
    font-weight: 400 !important;
}

.searchRecord button {
    width: 30px;
    height: 30px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    background: #aa0a0c;
    border-color: #aa0a0c;
    text-transform: uppercase;
}

.searchRecord .btn-primary:hover,
.searchRecord .btn-primary:focus,
.searchRecord .btn-primary:visited,
.searchRecord .btn-primary:active {
    color: #fff;
    background: rgba(170, 10, 12, 0.84);
    border-color: rgba(170, 10, 12, 0.84);
}

.tab div:first-child {
    padding: 0px 6px;
}

.textNews {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px;
    max-height: 40px;
}

#mainNews .textNews {
    -webkit-line-clamp: 6;
    line-height: 20px;
    max-height: 120px;
}

.articles a {
    color: #222 !important;
}

h3 {
    margin-top: 0px !important;
}

.HEADINGoneArticle h3 {
    font-weight: bold !important;
}

.timeSpan {
    color: #7f8992;
    margin-bottom: 5px;
}

.IMGoneArticle {
    width: 200px;
    height: 150px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 2%;
    border: 1px solid silver;
}

.IMGoneArticle {
    /*display: flex;*/
}

.IMGoneArticle img {
    width: 100%;
    float: left;
}

.TEXToneArticle {
    text-align: justify;
}

.rightlyarticle {
    float: right;
}

.glyphicon-thumbs-up {
    margin-left: 15px;
}

.pagination {
    margin: 0 !important;
}

.navigationArticle {
    height: 34px;
}

.oneArticle a:nth-child(1):hover {
    text-decoration: none;
}

.goNews .IMGoneArticle:hover ~ .HEADINGoneArticle h3,
.goNews .HEADINGoneArticle:hover h3 {
    color: #61A27C;
}


/*.oneArticle a:nth-child(1):hover h3 {
    color: #61A27C;
}
*/

.oneArticle a:nth-child(1):hover < .oneArticle {
    background-color: silver;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 50%;
    left: auto;
    display: none;
}

.active a {
    color: #fff !important;
}


/*Правая колонка новостей*/

.onenews {
    margin-bottom: 5px;
}

.timeSpan {
    margin-right: 10px;
}

.timeSpanDAY {
    margin-right: 6px;
    color: #7f8992;
    margin-bottom: 10px;
}

.onenews a {
    text-align: justify;
}

.textoneNews {
    overflow: hidden;
}

h3 {
    font-weight: bold !important;
}

.commentAllNews {
    color: #7f8992;
}

.commentAllNews:hover {
    color: #222;
}

.onenews:last-child {
    margin-bottom: 10px !important;
}


/*Индивидуальные новости*/

.div_individualNews {
    margin-bottom: 0;
}

.menu_individualNews a:hover,
.menu_individualNews a:active {
    text-decoration: none;
    /*color: #e62117 !important;*/
}

hr {
    margin-bottom: 23px;
    margin-top: 0px;
    border-top: 2px solid #eee;
}

.menu_individualNews {
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
}

.hover_menu {
    height: 4px;
    bottom: 0px;
    position: absolute;
    background-color: #e62117;
    width: 100%;
    visibility: hidden;
}

.menu_individualNews li:active .hover_menu {
    visibility: visible;
}

.menu_individualNews_active .hover_menu {
    visibility: visible;
}

.menu_individualNews ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu_individualNews li {
    display: block;
    overflow: hidden;
    margin-right: 5px;
    position: relative;
    float: left;
    padding-bottom: 5px;
}

.mainNews {
    height: 350px !important;
    position: relative;
}

.mainNews .IMGoneArticle {
    width: 50% !important;
    height: 350px !important;
}

.mainNews .timeSpan {
    float: none;
}

.mainNews h3 {
    margin-bottom: 0px;
}

.mainNews .TEXToneArticle {
    margin: 10px 0px;
}

.mainNews .dataCommentsLikes {
    margin-bottom: 10px;
}

.dataCommentsLikes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.plus_units {
    color: #e62117;
}


/*Предложить новость */

.img_offerNews {
    width: 15%;
    height: 49.188px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5%;
}

.img_offerNews img {
    width: 100%;
}

.offerNews .glyphicon {
    font-size: 32px;
    float: left;
}

.img_offerNews {
    float: left;
}

textarea {
    resize: none;
}

.button_offer {
    float: right;
}

.offerNews .form-control {
    display: block;
    width: 80%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px #fff #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.user_date {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #afadad;
}

.offerNews {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #afadad;
    margin-top: 20px;
}

.articles {
    background-color: #fff;
    border: 1px solid #afadad;
    padding: 20px;
}

.click_textArea {
    height: 34px;
    /*display: none;*/
}

.user_date table {
    margin-bottom: 0px;
    border-bottom: 1px solid #ddd;
}

.user_information tr td {
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}

.user_information tr td p {
    margin: 0;
}

.position_relative {
    position: relative;
}

.position_fixed {
    position: absolute;
}

.rightlyarticle .fa {
    margin-left: 10px;
    font-size: 16px;
    opacity: 0.8;
}

.rightlyarticle .fa:hover {
    opacity: 1;
}


/*like and dislike */


/*<a href="#"> <i class="fa fa-comment" aria-hidden="true"> 154</i></a>
<i class="fa fa-thumbs-up" aria-hidden="true"> 32</i> 
<i class="fa fa-thumbs-down" aria-hidden="true"> 12</i>*/


/*CSS for POst_detail*/

.article_detail {
    background-color: #fff;
    border: 1px solid #afadad;
    position: relative;
    font-size: 16px;
}

.article_text {
    text-align: justify;
}

.article_detail_img {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    border-top: 1px solid #afadad;
    border-left: 1px solid #afadad;
    border-right: 1px solid #afadad;
}

.article_detail_img img {
    width: 100%;
}

@media screen and (min-width: 501px) {
    .article_detail_img {
        max-height: 400px;
    }
}

@media screen and (max-width: 500px) {
    .article_detail_img {
        max-height: calc( 100vw - 40px);
    }
}

.article_detail_content {
    padding: 30px;
    position: relative;
}

.author_img img {
    z-index: 8;
}

.article_title {
    font-size: 28px;
    color: #1d71b9;
    font-weight: 600;
    padding: 0;
    text-align: left;
}

.blockquote {
    padding: 3% 3% 0 3%;
}

.blockquote:hover {
    background-color: #f0f2f5;
}

.author_name_date {
    color: #7f8992;
    font-weight: 500;
}

.comments_base {
    background-color: #fff;
    border-bottom: 1px solid #afadad;
    border-left: 1px solid #afadad;
    border-right: 1px solid #afadad;
    padding: 30px;
}

.comments_base2 {
    background-color: #fff;
    border-bottom: 1px solid #afadad;
    border-left: 1px solid #afadad;
    border-right: 1px solid #afadad;
}

.share_soc {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
}

.share_soc a {
    background-color: #bdc3c7;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 17px;
    float: left;
    color: #fff;
    margin-left: 5px;
    opacity: 0.8;
    display: block;
}

.share_soc a:hover {
    background-color: #95a5a6;
    color: #fff;
}

.share_soc i {
    margin-top: 7px;
}

.article_detail hr {
    margin-bottom: 5px;
    margin-top: 15px;
    border-top: 1px solid #afadad;
}

.like,
.dislike {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    text-align: center;
    float: left;
    margin-left: 10px;
    opacity: 0.6;
    vertical-align: center;
    line-height: 40px;
}

.like_all:hover .quantity_like,
.like_all:hover .like,
.dislike_all:hover .quantity_dislike,
.dislike_all:hover .dislike {
    opacity: 1;
}

.like_all:hover .quantity_like,
.dislike_all:hover .quantity_dislike {
    color: black;
}

.like_all,
.dislike_all {
    color: black;
}

.quantity_like,
.quantity_dislike {
    font-size: 22px;
    line-height: 40px;
    float: left;
    margin-left: 7px;
    font-weight: 700;
    opacity: 0.6;
}

.teg_post_detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
}

.teg_post_detail h3 {
    margin: 0 10px 10px 0;
}

.block_like-dislike {
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

#without_padding {
    padding: 0px
}


/*Модальное окно  выбор тегов для своей ленты*/

.changeNews {
    cursor: pointer;
    height: auto;
}

#modal_my_feed_change .modal-header {
    background-color: #aa0a0c;
    color: #fff;
}

#modal_my_feed_change .modal-body {
    padding: 0px !important;
}

.modal-body {}

.search_tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 45px;
    width: 100%;
    border-bottom: 1px solid #e7e8ec;
}

.you_teg {
    width: 100%;
    border-bottom: 1px solid #e7e8ec;
    padding: 10px 10px 5px;
}

.info_about_tags {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}


/*All tags*/

.for_tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.tags__item {
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font: normal 12px/16px 'Roboto', sans-serif;
    height: 22px;
    margin: 5px 6px 5px 0;
    padding-left: 7px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.tags__item:before {
    content: '';
    border-left: 1px solid #abacad;
    border-bottom: 1px solid #abacad;
    width: 16px;
    height: 16px;
    position: absolute;
    -webkit-transform: translate(-40%, 15%) rotate(45deg) skew(16deg, 16deg);
    transform: translate(-40%, 15%) rotate(45deg) skew(16deg, 16deg);
}

.tags__item:hover,
.tags__item:active,
.tags__item:visited,
.tags__item:focus {
    color: #222;
    text-decoration: none;
}

.tags__item>span {
    border: 1px solid #abacad;
    border-left: none;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1px 8px 0 3px;
    text-transform: lowercase;
}

.tumbTags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modalTag {
    padding: 4px 10px;
    border-radius: 10px;
    border: 1px solid silver;
    margin: 0 2.5px 5px;
}

.modalTag span {
    margin: 0 2px;
}

.modalTag {
    color: #222;
}

.modalTag:hover,
.modalTag:active,
.modalTag:visited,
.modalTag:focus,
{
    color: #222 !important;
    text-decoration: none !important;
}

.modalTag i {
    font-weight: 900;
    cursor: pointer;
}

.modalTag i:hover {
    color: #e62117;
}

.more_tags {
    min-height: 420px !important;
    width: 100%;
    overflow-y: scroll;
    max-height: 300px;
}

.one_tag_for_choose {
    height: 45px;
    border-bottom: 1px solid #e7e8ec;
    margin: 0px 25px;
}

.close {
    color: #fff !important;
    opacity: 0.7 !important;
}

.modal-title {
    font-weight: 600 !important;
}

.close:hover {
    color: #fff !important;
    opacity: 1 !important;
}

.one_tag_for_choose:last-child {
    border-bottom: 0px;
}

.one_tag_for_choose:hover {
    background-color: #fafbfc;
}

.this_tag {
    height: 45px;
    line-height: 45px;
    float: left;
}

.choose_tag_success {
    width: 22px;
    height: 22px;
    background: #fff;
    -webkit-box-shadow: 0 0 0 1px #c4ccd4 inset;
            box-shadow: 0 0 0 1px #c4ccd4 inset;
    border-radius: 100%;
    line-height: 22px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.icon_search {
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    line-height: 45px;
    text-align: center;
    font-size: 25px;
    color: silver;
}

.search_and_top_tags textarea {
    height: 100%;
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    border: 0px !important;
    line-height: 45px;
    padding: 0px !important;
    overflow: hidden !important;
}

.choose_tag_success span {
    color: #fff;
    font-size: 12px;
}

.flex_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    float: right;
}

.success_tag {
    background-color: #e62117;
    -webkit-box-shadow: 0 0 0 0px !important;
            box-shadow: 0 0 0 0px !important;
    border: 1px solid #e62117;
}

.search_and_top_tags textarea:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.you_teg {
    width: 100%;
}

.modal-footer {
    position: relative !important;
}

.modal_cancel,
.modal_save {
    height: 30px !important;
    padding: 0 16px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    vertical-align: top;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    background: none;
    border: 0;
    border-radius: 2px;
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.modal_cancel:hover {
    background-color: rgba(51, 39, 39, 0.2);
}

.modal_cancel {
    background: rgba(0, 0, 0, 0.24);
}

.modal_cancel a {
    line-height: 30px;
}

.modal_cancel:hover a {
    text-decoration: none;
}

.modal_save {
    background: #aa0a0c;
}

.modal_save:hover {
    background: rgba(170, 10, 12, 0.84);
}

.modal_save a {
    color: #fff !important;
}

.modal_save:hover a {
    color: #fff !important;
    text-decoration: none;
}


/*Следующие новости */

.next_news {
    width: 100%;
    height: 112.5px;
    display: block;
}

.next_news:nth-last-child(n+2) {
    margin-bottom: 10px;
}

.next_news:hover,
.next_news:focus,
.next_news:visited,
.next_news:active {
    text-decoration: none;
}

.next_news:hover .title_next_news {
    color: #1d71b9;
}

.next_news:hover .img_next_news img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.next_news:not(:last-child) .next_news {
    margin-bottom: 20px;
}

.next_news_container {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #afadad;
}

.img_next_news {
    float: left;
    margin-right: 10px;
    height: 112.5px;
    width: 150px;
}

.img_next_news img {
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.date_next_news {
    position: absolute;
    color: #7f8992;
}


/*new style */

main {
    max-width: 1170px !important;
    margin: auto;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.oneArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
}

.footerNews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}

.quantityComments a {
    margin-left: 5px;
}

.infoNews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.infoNews h3 {
    margin-bottom: 5px;
    font-size: 2rem;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 2.2rem;
    max-height: 4.4rem;
}

.infoNews time {
    margin-bottom: 10px;
    color: #969191 !important;
}

.oneArticle:hover h3 {
    color: #337ab7 !important;
}

.oneArticle:hover .imgContainer>img {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
}

.imgContainer>img {
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.infoUserRight {
    padding: 10px;
    border: 1px solid #afadad;
}

@media screen and (min-width: 1170px) {
    #mainNews {
        height: 300px !important;
    }
    #mainNews .imgContainer {
        height: 300px !important;
        width: 400px !important;
    }
    #mainNews .infoNews {
        width: calc(100% - 410px) !important;
    }
    .imgContainer {
        height: 150px;
        width: 200px;
        margin-right: 10px;
    }
    .infoNews {
        width: calc(100% - 210px)
    }
    .articles {
        width: 70%;
        margin-right: 20px;
    }
    .infoUserRight {
        width: calc(30% - 20px);
    }
    .oneArticle {
        height: 150px;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    #mainNews {
        height: 225px !important;
    }
    #mainNews .imgContainer {
        height: 225px !important;
        width: 300px !important;
    }
    #mainNews .infoNews {
        width: calc(100% - 310px) !important;
    }
    .imgContainer {
        height: 150px;
        width: 200px;
        margin-right: 10px;
    }
    .infoNews {
        width: calc(100% - 210px)
    }
    .articles {
        width: 100%;
    }
    .infoUserRight {
        display: none;
    }
    .oneArticle {
        height: 150px;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    #mainNews {
        height: 300px !important;
    }
    #mainNews .imgContainer {
        height: 300px !important;
        width: 400px !important;
    }
    #mainNews .infoNews {
        width: calc(100% - 410px) !important;
    }
    .imgContainer {
        height: 150px;
        width: 200px;
        overflow: hidden;
        margin-right: 10px;
    }
    .infoNews {
        width: calc(100% - 210px)
    }
    .articles {
        width: 100%;
    }
    .infoUserRight {
        display: none;
    }
    .oneArticle {
        height: 150px;
    }
}

@media screen and (max-width: 749px) {
    .infoNews {
        width: 100%;
    }
    .imgContainer {
        width: 100%;
        max-height: calc( 75vw - 40px);
    }
    .articles {
        width: 100%;
    }
    .infoUserRight {
        display: none;
    }
    .quantityComments {
        margin-top: 5px;
    }
    .oneArticle {
        border-bottom: 1px solid silver;
        padding-bottom: 5px;
    }
    .oneArticle>a {
        width: 100%;
    }
}


/*Post detail*/

.title_next_news {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: #222;
    margin: 0;
    font-size: 1.8rem;
    line-height: 2rem;
}

.author_name_date a {
    color: #222;
    font-size: 24px;
    font-weight: 600;
    margin: 0 2.5px;
    display: block;
}

.author_name_date {
    position: absolute;
    z-index: 4;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
}

.author_name_date p {
    margin: 0 2.5px;
    line-height: 16px;
    padding-top: 7px;
}

.next_article_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.next_article_container .one_read_article {
    background-color: #fff;
    border: 1px solid #afadad;
}

.one_read_article_info {
    padding: 10px;
}

.one_read_article_img img {
    width: 100%;
}

.article_title h2 {
    font-size: 26px;
    font-weight: 700;
}

.plus_units:hover {
    color: #aa0a0c;
}

@media screen and (min-width: 750px) {
    .plus_units {
        font-size: 19px;
        line-height: 19px;
    }
}

@media screen and (max-width: 749px) {
    .plus_units {
        font-size: 30px;
        line-height: 30px;
        margin-left: 5px;
    }
}

@media screen and (min-width: 1170px) {
    .next_article_container .one_read_article {
        width: 49%;
    }
    #modal_my_feed_change .modal-dialog {
        width: 525px !important;
    }
    .author_img {
        width: 100px;
        height: 100px;
        bottom: calc(100% - 40px);
    }
    .author_name_date {
        font-size: 16px;
        left: 130px;
        width: calc(100% - 130px);
    }
    .author_name_date a {
        font-size: 22px;
    }
    .newsDetail {
        width: 55%;
        margin-right: 20px;
    }
    .next_news_container {
        width: calc(45% - 20px);
    }
    .next_article_container {
        width: calc(45% - 20px);
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .next_article_container .one_read_article {
        width: 100%;
        margin-bottom: 20px;
    }
    #modal_my_feed_change .modal-dialog {
        width: 525px !important;
    }
    .author_img {
        width: 80px;
        height: 80px;
        bottom: calc(100% - 40px);
    }
    .author_name_date {
        font-size: 16px;
        left: 110px;
        width: calc(100% - 110px);
    }
    .author_name_date a {
        font-size: 22px;
    }
    .newsDetail {
        width: 55%;
        margin-right: 20px;
    }
    .next_news_container {
        width: calc(45% - 20px);
    }
    .next_article_container {
        width: calc(45% - 20px);
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .next_article_container .one_read_article {
        width: 49%;
    }
    #modal_my_feed_change .modal-dialog {
        width: 95% !important;
    }
    .author_img {
        width: 100px;
        height: 100px;
        bottom: calc(100% - 40px);
    }
    .author_name_date {
        font-size: 16px;
        left: 130px;
        width: calc(100% - 130px);
    }
    .author_name_date a {
        font-size: 22px;
    }
    .newsDetail {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
    .next_article_container {
        margin-bottom: 20px;
        width: 100%;
    }
    .next_news_container {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 749px) {
    .addTagParent.menu_individualNews_active .addTag {
        background-color: #fff !important;
    }
    .next_article_container .one_read_article {
        width: 100%;
        margin-bottom: 20px;
    }
    #modal_my_feed_change .modal-dialog {
        width: 95% !important;
    }
    .author_img {
        width: 60px;
        height: 60px;
        bottom: calc(100% - 40px);
    }
    .author_name_date {
        font-size: 14px;
        left: 90px;
        width: calc(100% - 90px);
    }
    .author_name_date a {
        font-size: 20px;
    }
    .newsDetail {
        margin-bottom: 20px;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
    .next_news_container {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
    .next_article_container {
        margin-bottom: 20px;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
    .headerAllnews {
        margin-bottom: 0 !important;
    }
    .footerNews {
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .article_title h2 {
        font-size: 18px !important;
    }
    .author_img {
        left: 10px;
    }
    .author_name_date {
        left: 75px;
        width: calc(100% - 75px);
    }
    .article_detail_content {
        padding: 35px 10px 10px !important;
    }
    .comments_base {
        padding: 10px;
    }
    .comments_base h3 {
        font-size: 18px;
    }
    .next_news_container {
        padding: 10px;
    }
    .next_news {
        margin-bottom: 10px;
    }
    .author_name_date {
        height: 40px; font-size: 13px !important
    }
    .author_name_date a {
        font-size: 18px !important;
    }
    .author_name_date a {
        width: 100%;
    }
    .author_name_date p {
        width: 100%;
        margin-top: -10px;
        padding-top: 0 !important;
    }
}

.headerAllnews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 10px;
}

.headerAllnews h3 {
    font-size: 30px;
    color: #000;
    font-weight: 900;
}


/*Article detail */

.one_read_article a {
    color: #222;
}

.modal-footer .modal_cancel a {
    color: #222 !important;
    text-decoration: none !important;
}

.one_read_article a:hover,
.one_read_article a:focus,
.modal-footer .modal_cancel a:hover,
.modal-footer .modal_cancel a:focus {
    color: #222 !important;
    text-decoration: none !important;
}

.one_read_article a:hover .one_read_article_info>h3 {
    color: #1d71b9;
}


/*all responsive*/

@media screen and (min-width: 970px) {
    .articles {
        border: 1px solid #afadad;
    }
    body {
        padding-top: 70px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 969px) {
    .articles {
        border: 0px solid #afadad;
    }
    body {
        padding-top: 70px;
        padding-bottom: 20px;
    }
}
