.oneArticle {
    margin-bottom: 23.391px;
    min-height: 150px;
    height: 150px;
    position: relative;
}

.col-lg-8 a {
    color: #333 !important;
}

h3 {
    margin-top: 0px !important;
}

.HEADINGoneArticle h3 {
    font-weight: bold !important;
}

.timeSpan {
    color: #7f8992;
}

.IMGoneArticle {
    width: 200px;
    height: 150px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 2%;
}
.IMGoneArticle {
    /*display: flex;*/
}

.IMGoneArticle img {
    width: 100%;
    float: left;
}

.TEXToneArticle {
    text-align: justify;
}

.rightlyarticle {
    float: right;
}

.quantityComments {
    float: left;
}

.quantityComments {
    position: absolute;
    right: 4px !important;
    bottom: 2px;
}

.glyphicon-thumbs-up {
    margin-left: 15px;
}

.pagination {
    margin: 0 !important;
}

.navigationArticle {
    height: 34px;
}

.oneArticle a:nth-child(1):hover {
    text-decoration: none;
}

.goNews .IMGoneArticle:hover ~ .HEADINGoneArticle h3,
.goNews .HEADINGoneArticle:hover h3 {
    color: #61A27C;
}


/*.oneArticle a:nth-child(1):hover h3 {
    color: #61A27C;
}
*/

.oneArticle a:nth-child(1):hover < .oneArticle {
    background-color: silver;
}

.tegArticle {
    background-color: #F66301;
    padding: 2px 6px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: lowercase;
}

.dataCommentsLikes a:nth-child(2),
.dataCommentsLikes a:nth-child(3),
.dataCommentsLikes a:nth-child(4) {
    color: #fafafa !important;
}

.dataCommentsLikes a:nth-child(2):hover,
.dataCommentsLikes a:nth-child(3):hover,
.dataCommentsLikes a:nth-child(4):hover {
    text-decoration: none !important;
}

.dataCommentsLikes {
    position: absolute;
    bottom: 2px;
    left: 214.656px;
}

.tegArticle:nth-child(3) {
    background-color: #1A6CE0;
}

.tegArticle:nth-child(4) {
    background-color: #E92657;
}

.tegArticle:nth-child(5) {
    background-color: #45AA2B;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 50%;
    left: auto;
    display: none;
}

.active a {
    color: #fafafa !important;
}


/*Правая колонка новостей*/

.onenews {
    margin-bottom: 5px;
}

.timeSpan {
    float: left;
    margin-right: 10px;
    display: inline;
}

.timeSpanDAY {
    margin-right: 6px;
    color: #7f8992;
    margin-bottom: 10px;
}

.onenews a {
    text-align: justify;
}

.textoneNews {
    overflow: hidden;
}

h3 {
    font-weight: bold !important;
}

.commentAllNews {
    color: #7f8992;
}

.commentAllNews:hover {
    color: #333;
}

.onenews:last-child {
    margin-bottom: 10px !important;
}


/*Индивидуальные новости*/

.div_individualNews {
    margin-bottom: 0;
}

.menu_individualNews a:hover,
.menu_individualNews a:active {
    text-decoration: none;
    color: #F66301 !important;
}

hr {
    margin-bottom: 23px;
    margin-top: 0px;
    border-top: 2px solid #eee;
}

.menu_individualNews {
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
}

.hover_menu {
    height: 4px;
    bottom: 0px;
    position: absolute;
    background-color: #F66301;
    width: 100%;
    visibility: hidden;
}

.menu_individualNews li:active .hover_menu {
    visibility: visible;
}

.menu_individualNews li:hover .menu_individualNews,
.menu_individualNews li:active .menu_individualNews {
    color: #F66301;
}

.menu_individualNews_active a {
    color: #F66301 !important;
}

.menu_individualNews_active .hover_menu {
    visibility: visible;
}

.menu_individualNews ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.menu_individualNews a {
    padding: 0px 5px;
    font-weight: bold;
    font-size: 14px;
}

.menu_individualNews li {
    display: block;
    overflow: hidden;
    margin-right: 5px;
    position: relative;
    float: left;
    padding-bottom: 5px;
}

.mainNews {
    height: 350px !important;
    position: relative;
}

.mainNews .IMGoneArticle {
    width: 50% !important;
    height: 350px !important;
}

.mainNews .timeSpan {
    float: none;
}

.mainNews h3 {
    margin-bottom: 0px;
}

.mainNews .TEXToneArticle {
    margin: 10px 0px;
}

.mainNews .dataCommentsLikes a:nth-child(1) {
    color: #fafafa !important;
}

.mainNews .dataCommentsLikes {
    position: static;
}

.mainNews .tegArticle:nth-child(2) {
    background-color: #1A6CE0;
}

.mainNews .tegArticle:nth-child(3) {
    background-color: #E92657;
}

.mainNews .dataCommentsLikes {
    margin-bottom: 5px;
}


/*.dataCommentsLikes_main {
    position: absolute !important;
    bottom: 2px;
    left: 382px;
}*/

.plus_units {
    color: #F66301;
    font-size: 19px;
    line-height: 19px;
}


/*Предложить новость */

.img_offerNews {
    width: 15%;
    height: 49.188px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5%;
}

.img_offerNews img {
    width: 100%;
}

.offerNews .glyphicon {
    font-size: 32px;
    float: left;
}

.img_offerNews {
    float: left;
}

textarea {
    resize: none;
}

.button_offer {
    float: right;
}

.offerNews .form-control {
    display: block;
    width: 80%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px #fafafa #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.user_date {
    padding: 24px;
    background-color: #fafafa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.offerNews {
    padding: 24px;
    background-color: #fafafa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-top: 24px;
}

.articles {
    background-color: #fafafa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 24px;
}

.click_textArea {
    height: 34px;
    /*display: none;*/
}

.user_date_img {
    width: 60%;
    margin-left: 20%;
    height: 196px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 24px;
}

.user_date_img img {
    width: 100%;
    height: 328px;
}

.user_date table {
    margin-bottom: 0px;
    border-bottom: 1px solid #ddd;
}

.user_information tr td:nth-child(2) a {
    float: right;
}

.user_information tr td:nth-child(1) a {
    font-weight: bold;
}

.position_relative {
    position: relative;
}

.position_fixed {
    position: absolute;
}

.rightlyarticle .fa {
    margin-left: 10px;
    font-size: 16px;
    opacity: 0.8;
}

.rightlyarticle .fa:hover {
    opacity: 1;
}


/*like and dislike */


/*<a href="#"> <i class="fa fa-comment" aria-hidden="true"> 154</i></a>
<i class="fa fa-thumbs-up" aria-hidden="true"> 32</i> 
<i class="fa fa-thumbs-down" aria-hidden="true"> 12</i>*/


/*CSS for POst_detail*/

.article_detail {
    background-color: #fafafa;
    border: 1px solid #CCD1D9;
    position: relative;
    font-size: 16px;
}

.article_text {
    text-align: justify;
}

.article_detail_img {
    width: 100%;
    max-height: 470px;
    overflow: hidden;
    background-color: #fafafa;
    border-top: 1px solid #CCD1D9;
    border-left: 1px solid #CCD1D9;
    border-right: 1px solid #CCD1D9;
}

.article_detail_img img {
    width: 100%;
}

.article_detail_content {
    padding: 30px;
    position: relative;
}

.article_author {}

.author_img {
    position: absolute;
    left: 30px;
    top: -60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #d9dde0;
    border: 2px solid #d9dde0;
}

.author_img img {
    width: 100%;
    z-index: 100;
}

.author_name_date {
    position: absolute;
    left: 130px;
    top: 10px;
    z-index: 100;
}

.article_title {
    font-size: 28px;
    color: #1d71b9;
    font-weight: 600;
    padding: 0;
    text-align: left;
}

.coments_author {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}

.coments_author img {
    width: 100%;
}

.content_coment {
    margin-left: 60px;
}

.coment_author_time {
    min-width: 51%;
    color: #7f8992;
}

.coment_author_time a {
    font-weight: 600;
}

.blockquote {
    padding: 3% 3% 0 3%;
}

.blockquote:hover {
    background-color: #f0f2f5;
}

.author_name_date {
    color: #7f8992;
    font-weight: 500;
    font-size: 16px;
}

.author_name_date a {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin-right: 7px;
    margin-left: 10px;
}

.show_all_coment {
    display: block;
    cursor: pointer;
    color: #55677d;
    background: #f0f2f5;
    line-height: 32px;
    border-radius: 2px;
    text-align: center;
    margin-top: 5px;
    margin: 5px 10% 24px 10%;
}

.comments_base {
    background-color: #fafafa;
    border-bottom: 1px solid #CCD1D9;
    border-left: 1px solid #CCD1D9;
    border-right: 1px solid #CCD1D9;
    padding: 30px;
}

.comments_base2 {
    background-color: #fafafa;
    border-bottom: 1px solid #CCD1D9;
    border-left: 1px solid #CCD1D9;
    border-right: 1px solid #CCD1D9;
}

.share_soc {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
}

.share_facebook,
.share_vk,
.share_twitter {
    background-color: #bdc3c7;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 17px;
    float: left;
    color: #fafafa;
    margin-left: 5px;
    opacity: 0.8;
}

.share_facebook:hover,
.share_vk:hover,
.share_twitter:hover {
    background-color: #95a5a6;
}

.share_facebook i,
.share_vk i,
.share_twitter i {
    margin-top: 7px;
}

.article_detail hr {
    margin-bottom: 5px;
    margin-top: 15px;
    border-top: 1px solid #CCD1D9;
}

.like,
.dislike {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    color: #fafafa;
    font-size: 22px;
    text-align: center;
    float: left;
    margin-left: 10px;
    opacity: 0.6;
    vertical-align: center;
    line-height: 40px;
}

.like_all:hover .quantity_like,
.like_all:hover .like,
.dislike_all:hover .quantity_dislike,
.dislike_all:hover .dislike {
    opacity: 1;
}

.like_all:hover .quantity_like,
.dislike_all:hover .quantity_dislike {
    color: black;
}

.like_all,
.dislike_all {
    color: black;
}

.quantity_like,
.quantity_dislike {
    font-size: 22px;
    line-height: 40px;
    float: left;
    margin-left: 7px;
    font-weight: 700;
    opacity: 0.6;
}

.teg_post_detail {
    font-weight: 600;
}

.like_and_dislike {
    float: right;
}

.block_like-dislike {
    width: 100%;
    height: 40px;
}

#without_padding {
    padding: 0px
}