.tab div:first-child {
    padding: 0px 6px;
}

.more_article {
    cursor: pointer;
    width: 200px !important;
    margin: 0 auto 0px;
    padding: 5px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    color: #656D78;
    background: #fff;
    border: 1px solid #CCD1D9;
    border-radius: 2px;
}

.more_article:hover {
    background-color: rgba(195, 189, 189, 0.32);
}

.more_article:hover a,
.more_article:focus a,
.more_article:active a {
    text-decoration: none;
}

.articles a {
    color: #333 !important;
}

h3 {
    margin-top: 0px !important;
}

.HEADINGoneArticle h3 {
    font-weight: bold !important;
}

.timeSpan {
    color: #7f8992;
}

.IMGoneArticle {
    width: 200px;
    height: 150px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 2%;
    border: 1px solid silver;
}

.IMGoneArticle {
    /*display: flex;*/
}

.IMGoneArticle img {
    width: 100%;
    float: left;
}

.TEXToneArticle {
    text-align: justify;
}

.rightlyarticle {
    float: right;
}

.glyphicon-thumbs-up {
    margin-left: 15px;
}

.pagination {
    margin: 0 !important;
}

.navigationArticle {
    height: 34px;
}

.oneArticle a:nth-child(1):hover {
    text-decoration: none;
}

.goNews .IMGoneArticle:hover ~ .HEADINGoneArticle h3,
.goNews .HEADINGoneArticle:hover h3 {
    color: #61A27C;
}


/*.oneArticle a:nth-child(1):hover h3 {
    color: #61A27C;
}
*/

.oneArticle a:nth-child(1):hover < .oneArticle {
    background-color: silver;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 50%;
    left: auto;
    display: none;
}

.active a {
    color: #fafafa !important;
}


/*Правая колонка новостей*/

.onenews {
    margin-bottom: 5px;
}

.timeSpan {
    float: left;
    margin-right: 10px;
    display: inline;
}

.timeSpanDAY {
    margin-right: 6px;
    color: #7f8992;
    margin-bottom: 10px;
}

.onenews a {
    text-align: justify;
}

.textoneNews {
    overflow: hidden;
}

h3 {
    font-weight: bold !important;
}

.commentAllNews {
    color: #7f8992;
}

.commentAllNews:hover {
    color: #333;
}

.onenews:last-child {
    margin-bottom: 10px !important;
}


/*Индивидуальные новости*/

.div_individualNews {
    margin-bottom: 0;
}

.menu_individualNews a:hover,
.menu_individualNews a:active {
    text-decoration: none;
    /*color: #F66301 !important;*/
}

hr {
    margin-bottom: 23px;
    margin-top: 0px;
    border-top: 2px solid #eee;
}

.menu_individualNews {
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
}

.hover_menu {
    height: 4px;
    bottom: 0px;
    position: absolute;
    background-color: #F66301;
    width: 100%;
    visibility: hidden;
}

.menu_individualNews li:active .hover_menu {
    visibility: visible;
}

/*.menu_individualNews li:hover .menu_individualNews,
.menu_individualNews li:active .menu_individualNews {
    color: #F66301;
}*/

/*.menu_individualNews_active a {
    color: #F66301 !important;
}*/

.menu_individualNews_active .hover_menu {
    visibility: visible;
}

.menu_individualNews ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}



.menu_individualNews li {
    display: block;
    overflow: hidden;
    margin-right: 5px;
    position: relative;
    float: left;
    padding-bottom: 5px;
}

.mainNews {
    height: 350px !important;
    position: relative;
}

.mainNews .IMGoneArticle {
    width: 50% !important;
    height: 350px !important;
}

.mainNews .timeSpan {
    float: none;
}

.mainNews h3 {
    margin-bottom: 0px;
}

.mainNews .TEXToneArticle {
    margin: 10px 0px;
}

.mainNews .dataCommentsLikes {
    margin-bottom: 5px;
}

.plus_units {
    color: #F66301;
    font-size: 19px;
    line-height: 19px;
}


/*Предложить новость */

.img_offerNews {
    width: 15%;
    height: 49.188px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5%;
}

.img_offerNews img {
    width: 100%;
}

.offerNews .glyphicon {
    font-size: 32px;
    float: left;
}

.img_offerNews {
    float: left;
}

textarea {
    resize: none;
}

.button_offer {
    float: right;
}

.offerNews .form-control {
    display: block;
    width: 80%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px #fafafa #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.user_date {
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #CCD1D9;
}

.offerNews {
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #CCD1D9;
    margin-top: 20px;
}

.articles {
    background-color: #fafafa;
    border: 1px solid #CCD1D9;
    padding: 20px;
}

.click_textArea {
    height: 34px;
    /*display: none;*/
}

.user_date table {
    margin-bottom: 0px;
    border-bottom: 1px solid #ddd;
}

.user_information tr td:nth-child(2) a {
    float: right;
}

.user_information tr td:nth-child(1) a {
    font-weight: bold;
}

.position_relative {
    position: relative;
}

.position_fixed {
    position: absolute;
}

.rightlyarticle .fa {
    margin-left: 10px;
    font-size: 16px;
    opacity: 0.8;
}

.rightlyarticle .fa:hover {
    opacity: 1;
}


/*like and dislike */


/*<a href="#"> <i class="fa fa-comment" aria-hidden="true"> 154</i></a>
<i class="fa fa-thumbs-up" aria-hidden="true"> 32</i> 
<i class="fa fa-thumbs-down" aria-hidden="true"> 12</i>*/


/*CSS for POst_detail*/

.article_detail {
    background-color: #fafafa;
    border: 1px solid #CCD1D9;
    position: relative;
    font-size: 16px;
}

.article_text {
    text-align: justify;
}

.article_detail_img {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    background-color: #fafafa;
    border-top: 1px solid #CCD1D9;
    border-left: 1px solid #CCD1D9;
    border-right: 1px solid #CCD1D9;
}

.article_detail_img img {
    width: 100%;
}

.article_detail_content {
    padding: 30px;
    position: relative;
}

.author_img img {
    width: 100%;
    z-index: 100;
}

.article_title {
    font-size: 28px;
    color: #1d71b9;
    font-weight: 600;
    padding: 0;
    text-align: left;
}

.coments_author {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}

.coments_author img {
    width: 100%;
}

.content_coment {
    margin-left: 60px;
}

.coment_author_time {
    min-width: 51%;
    color: #7f8992;
}

.coment_author_time a {
    font-weight: 600;
}

.blockquote {
    padding: 3% 3% 0 3%;
}

.blockquote:hover {
    background-color: #f0f2f5;
}

.author_name_date {
    color: #7f8992;
    font-weight: 500;
}

.show_all_coment {
    display: block;
    cursor: pointer;
    color: #55677d;
    background: #f0f2f5;
    line-height: 32px;
    border-radius: 2px;
    text-align: center;
    margin-top: 5px;
    margin: 5px 10% 24px 10%;
}

.comments_base {
    background-color: #fafafa;
    border-bottom: 1px solid #CCD1D9;
    border-left: 1px solid #CCD1D9;
    border-right: 1px solid #CCD1D9;
    padding: 30px;
}

.comments_base2 {
    background-color: #fafafa;
    border-bottom: 1px solid #CCD1D9;
    border-left: 1px solid #CCD1D9;
    border-right: 1px solid #CCD1D9;
}

.share_soc {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
}

.share_facebook,
.share_vk,
.share_twitter {
    background-color: #bdc3c7;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 17px;
    float: left;
    color: #fafafa;
    margin-left: 5px;
    opacity: 0.8;
}

.share_facebook:hover,
.share_vk:hover,
.share_twitter:hover {
    background-color: #95a5a6;
}

.share_facebook i,
.share_vk i,
.share_twitter i {
    margin-top: 7px;
}

.article_detail hr {
    margin-bottom: 5px;
    margin-top: 15px;
    border-top: 1px solid #CCD1D9;
}

.like,
.dislike {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    color: #fafafa;
    font-size: 22px;
    text-align: center;
    float: left;
    margin-left: 10px;
    opacity: 0.6;
    vertical-align: center;
    line-height: 40px;
}

.like_all:hover .quantity_like,
.like_all:hover .like,
.dislike_all:hover .quantity_dislike,
.dislike_all:hover .dislike {
    opacity: 1;
}

.like_all:hover .quantity_like,
.dislike_all:hover .quantity_dislike {
    color: black;
}

.like_all,
.dislike_all {
    color: black;
}

.quantity_like,
.quantity_dislike {
    font-size: 22px;
    line-height: 40px;
    float: left;
    margin-left: 7px;
    font-weight: 700;
    opacity: 0.6;
}

.teg_post_detail {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.teg_post_detail h3 {
    margin: 0 10px 10px 0;
}

.like_and_dislike {
    float: right;
}

.block_like-dislike {
    width: 100%;
    height: 40px;
}

#without_padding {
    padding: 0px
}


/*Модальное окно  выбор тегов для своей ленты*/

.changeNews {
    cursor: pointer;
}

#modal_my_feed_change .modal-header {
    background-color: #e90052;
    color: #fafafa;
}

#modal_my_feed_change .modal-body {
    padding: 0px !important;
}

.modal-body {}

.search_tag {
    display: flex;
    height: 45px;
    width: 100%;
    border-bottom: 1px solid #e7e8ec;
}

.you_teg {
    width: 100%;
    border-bottom: 1px solid #e7e8ec;
    padding: 10px;
}

.info_about_tags {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}


/*All tags*/
.tagsConteiner {
    display: flex;
    flex-wrap: wrap;
}
.tags__item {
    color: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font: normal 12px/16px 'Roboto',sans-serif;
    height: 22px;
    margin: 1px 6px 4px 0;
    padding-left: 7px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.tags__item:before {
    content: '';
    border-left: 1px solid #abacad;
    border-bottom: 1px solid #abacad;
    width: 16px;
    height: 16px;
    position: absolute;
    -webkit-transform: translate(-40%,15%) rotate(45deg) skew(16deg,16deg);
    transform: translate(-40%,15%) rotate(45deg) skew(16deg,16deg);
}

.tags__item:hover,
.tags__item:active,
.tags__item:visited,
.tags__item:focus {
    color: #222;
    text-decoration: none;
}

.tags__item>span {
    border: 1px solid #abacad;
    border-left: none;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1px 8px 0 3px;
    text-transform: lowercase;
}


.tumbTags {
    display: flex;
}

.modalTag {
    padding: 4px 10px;
    border-radius: 10px;
    border: 1px solid silver;
    margin: 0 2.5px;
}

.modalTag span {
    margin: 0 2px; 
}

.modalTag {
    color: #222;
}

.modalTag:hover,
.modalTag:active,
.modalTag:visited,
.modalTag:focus, {
    color: #222 !important;
    text-decoration: none !important;
}

.modalTag i {
    font-weight: 900;
    cursor: pointer;
}

.modalTag i:hover {
    color: #e62117;
}


.more_tags {
    min-height: 420px !important;
    width: 100%;
    overflow-y: scroll;
    max-height: 300px;
}

.one_tag_for_choose {
    height: 45px;
    border-bottom: 1px solid #e7e8ec;
    margin: 0px 25px;
}

.close {
    color: #fafafa !important;
    opacity: 0.7 !important;
}

.modal-title {
    font-weight: 600 !important;
}

.close:hover {
    color: #fafafa !important;
    opacity: 1 !important;
}

.one_tag_for_choose:last-child {
    border-bottom: 0px;
}

.one_tag_for_choose:hover {
    background-color: #fafbfc;
}

.this_tag {
    height: 45px;
    line-height: 45px;
    float: left;
}

.choose_tag_success {
    width: 22px;
    height: 22px;
    background: #fff;
    box-shadow: 0 0 0 1px #c4ccd4 inset;
    border-radius: 100%;
    line-height: 22px;
    text-align: center;
    align-self: center;
}

.icon_search {
    height: 100%;
    flex: 1;
    line-height: 45px;
    text-align: center;
    font-size: 25px;
    color: silver;
}

.search_and_top_tags textarea {
    height: 100%;
    flex: 6;
    border: 0px !important;
    line-height: 45px;
    padding: 0px !important;
    overflow: hidden !important;
}

.choose_tag_success span {
    color: #fafafa;
    font-size: 12px;
}

.flex_right {
    display: flex;
    height: 100%;
    justify-content: center;
    float: right;
}

.success_tag {
    background-color: #e90052;
    box-shadow: 0 0 0 0px !important;
    border: 1px solid #e90052;
}

.search_and_top_tags textarea:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.you_teg {
    width: 100%;
}

.modal-footer {
    position: relative !important;
}

.modal_cancel,
.modal_save {
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    padding: 1.5% 3%;
    border-radius: 3px;
    font-size: 12px;
    margin-left: 10px;
}

.modal_cancel:hover {
    background-color: #e90052;
}

.modal_cancel:hover a {
    color: #fafafa !important;
    text-decoration: none;
}

.modal_cancel {
    background-color: #e8e8e8;
}

.modal_save {
    background-color: #38003c;
}

.modal_save a {
    color: #fafafa !important;
}

.modal_save:hover {
    background-color: rgba(91, 32, 96, 0.78);
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMzkwMTNkIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMzODAwM2MiIHN0b3Atb3BhY2l0eT0iMC42IiBvZmZzZXQ9IjAuMDAyMDAwMDAwMDAwMDAwMDI4MiIvPjxzdG9wIHN0b3AtY29sb3I9IiMzODAwM2MiIHN0b3Atb3BhY2l0eT0iMC42IiBvZmZzZXQ9IjAuMDAyIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzY0Mjg2OSIgc3RvcC1vcGFjaXR5PSIwLjgzIiBvZmZzZXQ9IjAuMjcxIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzY0Mjg2OSIgc3RvcC1vcGFjaXR5PSIwLjgzIiBvZmZzZXQ9IjAuODU1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzM4MDAzYyIgc3RvcC1vcGFjaXR5PSIwLjYiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, rgb(57, 1, 61)), color-stop(0.002, rgba(56, 0, 60, 0.6)), color-stop(0.002, rgba(56, 0, 60, 0.6)), color-stop(0.271, rgba(100, 40, 105, 0.83)), color-stop(0.855, rgba(100, 40, 105, 0.83)), color-stop(1, rgba(56, 0, 60, 0.6)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom, rgba(56, 0, 60, 0.6) 0.2%, rgba(100, 40, 105, 0.83) 27.1%, rgba(100, 40, 105, 0.83) 85.5%, rgba(56, 0, 60, 0.6) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top, rgba(56, 0, 60, 0.6) 0.2%, rgba(100, 40, 105, 0.83) 27.1%, rgba(100, 40, 105, 0.83) 85.5%, rgba(56, 0, 60, 0.6) 100%);
    background-image: -ms-repeating-linear-gradient(bottom, rgba(56, 0, 60, 0.6) 0.2%, rgba(100, 40, 105, 0.83) 27.1%, rgba(100, 40, 105, 0.83) 85.5%, rgba(56, 0, 60, 0.6) 100%);
}

.modal_save:hover a {
    color: #fafafa !important;
    text-decoration: none;
}


/*Следующие новости */

.next_news {
    width: 100%;
    height: 112.5px;
}

.next_news_container_href:not(:last-child) .next_news {
    margin-bottom: 20px;
}

.next_news_container {
    background-color: #fafafa;
    padding: 20px;
    border: 1px solid #CCD1D9;
}

.img_next_news {
    float: left;
    margin-right: 10px;
    height: 112.5px;
    width: 150px;
    overflow: hidden;
    position: relative;
}

.img_next_news img {
    width: 100%;
    height: auto;
}

.date_next_news {
    position: absolute;
    color: #7f8992;
}


/*new style */

main {
    max-width: 1170px !important;
    margin: auto;
    display: flex !important;
    flex-wrap: wrap;
    align-items: flex-start;
}

.imgContainer {
    display: block;
}

.oneArticle {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
}

.infoNews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgContainer img {
    width: 100%;
}

.footerNews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.titleStext:hover h3,
.imgContainer:hover~.infoNews h3 {
    color: #337ab7 !important;
}

.oneArticle:hover .imgContainer>img {
    transform: scale(1.15);
}

.imgContainer>img {
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

@media screen and (min-width: 1170px) {
    #mainNews {
        height: 300px !important;
    }
    #mainNews .imgContainer {
        height: 300px !important;
        width: 400px !important;
    }
    #mainNews .infoNews {
        width: calc(100% - 410px) !important;
    }
    .imgContainer {
        height: 150px;
        width: 200px;
        overflow: hidden;
        margin-right: 10px;
    }
    .infoNews {
        width: calc(100% - 210px)
    }
    .articles_list h3 {
        font-size: 2vw !important;
    }
    .articles {
        width: 70%;
        margin-right: 20px;
    }
    .infoUserRight {
        width: calc(30% - 20px);
    }
    .oneArticle {
        height: 150px;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    #mainNews {
        height: 225px !important;
    }
    #mainNews .imgContainer {
        height: 225px !important;
        width: 300px !important;
    }
    #mainNews .infoNews {
        width: calc(100% - 310px) !important;
    }
    .imgContainer {
        height: 150px;
        width: 200px;
        overflow: hidden;
        margin-right: 10px;
    }
    .infoNews {
        width: calc(100% - 210px)
    }
    .articles_list h3 {
        font-size: 2vw !important;
    }
    .articles {
        width: 100%;
    }
    .infoUserRight {
        display: none;
    }
    .oneArticle {
        height: 150px;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    #mainNews {
        height: 300px !important;
    }
    #mainNews .imgContainer {
        height: 300px !important;
        width: 400px !important;
    }
    #mainNews .infoNews {
        width: calc(100% - 410px) !important;
    }
    .imgContainer {
        height: 150px;
        width: 200px;
        overflow: hidden;
        margin-right: 10px;
    }
    .infoNews {
        width: calc(100% - 210px)
    }
    .articles_list h3 {
        font-size: 3vw !important;
    }
    .articles {
        width: 100%;
    }
    .infoUserRight {
        display: none;
    }
    .oneArticle {
        height: 150px;
    }
}

@media screen and (max-width: 749px) {
    .infoNews {
        width: 100%;
    }
    .imgContainer {
        width: 100%;
        overflow: hidden;
    }
    .articles_list h3 {
        font-size: 4vw !important;
    }
    .articles {
        width: 100%;
    }
    .infoUserRight {
        display: none;
    }
    .titleStext {
        margin: 10px 0;
    }
    .footerNews>div {
        width: 100%;
    }
    .quantityComments {
        margin-top: 5px;
    }
    .oneArticle {
        border-bottom: 1px solid silver;
        padding-bottom: 5px;
    }
}


/*Post detail*/

.title_next_news {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3
}

.newsDetail {
    margin-bottom: 20px;
}

.author_name_date a {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin-right: 7px;
    margin-left: 10px;
}

.author_name_date {
    position: absolute;
    z-index: 100;
}

.author_img {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    background-color: #d9dde0;
    border: 2px solid #d9dde0;
    left: 30px;
}

.next_article_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.next_article_container .one_read_article {
    background-color: #fff;
    border: 1px solid #CCD1D9;
}

.one_read_article_info {
    padding: 10px;
}

.one_read_article_img img {
    width: 100%;
}

@media screen and (min-width: 1170px) {
    .next_article_container .one_read_article {
        width: 49%;
    }
    #modal_my_feed_change .modal-dialog {
        width: 525px !important;
    }
    .author_img {
        width: 100px;
        height: 100px;
        bottom: calc(100% - 40px);
    }
    .author_name_date {
        font-size: 1.1vw;
        left: 130px;
        top: 10px;
    }
    .author_name_date a {
        font-size: 1.7vw;
    }
    .article_title h2 {
        font-size: 2vw !important;
    }
    .newsDetail {
        width: 55%;
        margin-right: 20px;
    }
    .next_news_container {
        width: calc(45% - 20px);
    }
    .next_article_container {
        width: calc(45% - 20px);
    }
    .title_next_news {
        line-height: 24px;
        max-height: 72px;
        margin: 5px 10px 10px;
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .next_article_container .one_read_article {
        width: 100%;
        margin-bottom: 20px;
    }
    #modal_my_feed_change .modal-dialog {
        width: 525px !important;
    }
    .author_img {
        width: 80px;
        height: 80px;
        bottom: calc(100% - 40px);
    }
    .author_name_date {
        font-size: 1.1vw;
        left: 110px;
        top: 10px;
    }
    .author_name_date a {
        font-size: 1.7vw;
    }
    .article_title h2 {
        font-size: 2vw !important;
    }
    .newsDetail {
        width: 55%;
        margin-right: 20px;
    }
    .next_news_container {
        width: calc(45% - 20px);
    }
    .next_article_container {
        width: calc(45% - 20px);
    }
    .title_next_news {
        line-height: 24px;
        max-height: 72px;
        margin: 5px 10px 10px;
        font-size: 2vw;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .next_article_container .one_read_article {
        width: 49%;
    }
    #modal_my_feed_change .modal-dialog {
        width: 95% !important;
    }
    .author_img {
        width: 100px;
        height: 100px;
        bottom: calc(100% - 40px);
    }
    .author_name_date {
        font-size: 1.8vw;
        left: 130px;
        top: 10px;
    }
    .author_name_date a {
        font-size: 2.7vw;
    }
    .article_title h2 {
        font-size: 3vw !important;
    }
    .newsDetail {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .next_article_container {
        margin-bottom: 20px;
        width: 100%;
    }
    .next_news_container {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
    .title_next_news {
        line-height: 24px;
        max-height: 72px;
        margin: 5px 10px 10px;
        font-size: 3vw;
    }
}

@media screen and (max-width: 749px) {
    .next_article_container .one_read_article {
        width: 100%;
        margin-bottom: 20px;
    }
    #modal_my_feed_change .modal-dialog {
        width: 95% !important;
    }
    .author_img {
        width: 60px;
        height: 60px;
        bottom: calc(100% - 40px);
    }
    .author_name_date {
        font-size: 2.1vw;
        left: 90px;
        top: 10px;
    }
    .author_name_date a {
        font-size: 3vw;
    }
    .article_title h2 {
        font-size: 4.5vw !important;
    }
    .newsDetail {
        width: 100%;
    }
    .next_news_container {
        width: 100%;
        margin-bottom: 20px;
    }
    .next_article_container {
        margin-bottom: 20px;
        width: 100%;
    }
    .title_next_news {
        line-height: 24px;
        max-height: 72px;
        margin: 5px 10px 10px;
        font-size: 4vw;
    }
}


/*Comments details*/

.sendComment {
    display: flex;
    width: 100%;
}

.authorComent {
    display: block;
    margin-right: 10px;
}

.formSendComment {
    flex-grow: 1;
}

.formSendComment .forPlaceholder>input {
    background-color: #fff !important;
    outline: none;
    border: 1px solid #CCD1D9 !important;
    border-radius: 1.5px;
}

.sendBtn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 0;
    align-items: center;
}

.sendBtn p {
    color: #ee0221;
}

.formSendComment >input[type="submit"] {
    float: right;
}

.headerAllnews {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/*Offer news*/

.content_author {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.content_author .textOfferNews {
    flex-grow: 1;
}

.content_author textarea {
    width: 100%;
    min-height: 150px;
}

.imgAuthorOfferNews {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.imgAuthorOfferNews img {
    width: 100%;
}

.dowPhoto {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.downloadImg i {
    font-size: 25px;
    cursor: pointer;
}

.downloadImg:hover {
    color: #e90052;
}

.offerNewsFormImg textarea {
    width: 100%;
    height: 25px;
    overflow: hidden;
}

.downloadImg {
    cursor: pointer;
    position: relative;
}

.downloadImg input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/*Offer news modal*/

#offerNewsModal .content,
#offerNewsModal footer {
    background-color: #fff;
}

#offerNewsModal footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid silver;
    padding: 0 20px;
}

#offerNewsModal footer button {
    margin-left: 5px;
}

#offerNewsModal .content {
    padding: 20px;
}

#offerNewsModal header {
    width: 100%;
    background-color: #e90052;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    color: #fff;
}

#offerNewsModal header span {
    font-size: 18px;
    cursor: pointer;
}

#offerNewsModal header span:hover {
    opacity: 0.7;
}

#offerNewsModal header h3 {
    margin: 0 !important;
}

.imgOfferNews {
    margin-top: 15px;
    max-width: 100%;
    max-height: 300px;
}

.btn-ok {
    background-color: #38003c;
    color: #fff;
    font-weight: 600;
}

.btn-not {
    background-color: #e8e8e8;
    color: #222;
    font-weight: 600;
}

.btn-ok:hover {
    color: #fff;
    background-color: rgb(113, 5, 121);
}

.btn-not:hover {
    color: #fff;
    background-color: #e90052;
}

.newsDetail {
    position: relative;
}


/*Article detail */

.one_read_article a {
    color: #333;
}

.one_read_article a:hover,
.one_read_article a:focus {
    color: #333;
    text-decoration: none;
}

.one_read_article a:hover .one_read_article_info>h3 {
    color: #1d71b9;
}
