.statsCard {
    background-color: #fff;
    padding: 20px;
    padding-bottom: 70px;
    border-top: 0px !important;
}

.title_and_all_albums {
    height: 40px;
}

.statsCard h2 {
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 24px;
    float: left;
}

.flex_container {
    width: 100%;
}

.thumbnails {
    /*width: 32%;*/
    vertical-align: top;
    border: 1px solid #afadad;
    border-radius: 5px;
}

.last_records .thumbnails:nth-child(3) {
    margin-right: 0 !important;
}

.thumbnails h3 {
    margin: 0px;
    padding: 0.3em 0;
    font-size: 16px;
    font-weight: 600;
    color: #1d71b9;
    padding: 1rem;
}


/*Stats her0*/

.record_hero_img {
    width: 132px !important;
}

.statsHero {
    display: flex;
    padding: 10px;
    height: 150px;
    background: #eaeaea;
    border-bottom: 1px solid #e8e8e8;
}

.img_container_hero {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #fff;
    background: #fff;
    float: right;
}

.img_container_hero img {
    width: 100%;
    height: auto;
}

.statsHero .statInfo {
    float: left;
    font-weight: 600;
    flex-grow: 1;
}

.relative_hero {
    position: relative;
}

.statsHero .statInfo a {
    font-size: 18px;
}

.statsHero .statInfo span {
    color: #e62117;
    position: absolute;
    font-size: 18px;
    top: 100%;
    left: 0px;
    font-weight: 600;
}

.statsList {
    overflow: hidden
}

.statsList a {
    color: #242424;
    text-decoration: none;
    display: block
}

.statsList a:focus,
.statsList a:hover {
    text-decoration: underline
}

.statsList .statsRow {
    border-bottom: 1px solid #e8e8e8;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.statsList .statsRow a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.statsList .statsRow .statName {
    margin-bottom: 0
}

.statsList .stat {
    margin-left: auto
}

.statsList .stat [class*=badge],
.statsList .stat a,
.statsList .statsBadge {
    display: inline-block;
    vertical-align: middle
}

.statsList .statsBadge {
    position: relative;
    top: -1px
}

.statsTitle {
    padding: 1rem;
    font-size: 1.4rem
}

.statsTitle .socialShare {
    margin-right: -.5rem
}

.statsTitle a {
    color: #242424;
    text-decoration: none;
    display: block
}

.statsTitle a:focus,
.statsTitle a:hover {
    text-decoration: underline
}

.socialShare {
    position: absolute;
    top: .6rem;
    right: .6rem
}

.statsCard .statsList {
    overflow: hidden
}

.statsList a {
    color: #242424;
    text-decoration: none;
    display: block
}

.statsList a:focus,
.statsList a:hover {
    text-decoration: underline
}

.statsList .statsRow a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.statsList .statsRow .statName {
    margin-bottom: 0
}

.statsList .stat {
    margin-left: auto
}

.statsList .stat [class*=badge],
.statsList .stat a,
.statsList .statsBadge {
    display: inline-block;
    vertical-align: middle
}

.statsList .statsBadge {
    position: relative;
    top: -1px
}

.badge-20 {
    margin-right: .5rem
}

.pos {
    margin-right: .5rem;
    font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif
}

.pos,
.teamInfo {
    display: inline-block;
    vertical-align: middle
}

.teamInfo {
    max-width: 60%
}

.position {
    margin-bottom: .5rem
}

.stat {
    float: right
}

.statName {
    font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-bottom: .3rem
}

.statNameSecondary {
    min-height: 11px;
    font-weight: 400;
    font-size: .9em;
    color: #76766f
}

.stat {
    color: #e62117;
}

.btn {
    margin: 1rem
}

.badge-100 {
    position: absolute;
    bottom: 1rem;
    right: 1rem
}

.playerClub {
    margin-right: .5rem
}

.flag {
    vertical-align: middle;
    margin-right: 5px
}

.flag-name {
    margin-top: 5px
}

ul#otis {
    list-style-type: none;
}

#list-group {
    margin-bottom: 0px;
}

#caption {
    padding: 0px;
}

.add_record {
    background-color: #ebebeb;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    float: right;
    font-size: 14px;
    padding: 0px;
    color: #222;
    height: 40px;
    display: flex;
    justify-content: center;
}

.add_record:hover {
    background-color: #e62117;
    color: white;
}

.add_record span:nth-child(1) {
    margin: 0px 15px 0px 30px;
    align-self: center;
}

.add_record span:nth-child(2) {
    float: right;
    margin-right: 7px;
    align-self: center;
}

.full_list_record {
    box-sizing: border-box;
    float: left;
    background-color: #e8e8e8;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    margin: 3%;
    padding: 3% 3%;
    border-radius: 3px;
    width: 94%;
    font-size: 12px;
}

.full_list_record:hover {
    background-color: #e62117;
    color: #fff;
}

.full_list_record:hover a {
    color: #fff;
    text-decoration: none;
}

.arrow_record {
    float: right;
}

#statInfo {
    padding-bottom: 10%;
}

.more_records {
    cursor: pointer;
    width: 230px;
    margin: -45px auto 0px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    color: #656D78;
    background: #fff;
    border: 1px solid #afadad;
    border-radius: 2px;
}

.more_records:hover {
    background: #eee;
}

.more_records a {
    display: block;
    width: 230px;
    padding: 5px;
    text-decoration: none;
    color: #222;
}

.more_records a:hover,
.more_records a:focus,
.more_records a:active {
    text-decoration: none;
    color: #222;
}


/*Navigation records*/

.table_nav_records {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 0 20px;
    border-bottom: 0px !important;
}

.table_nav_records h1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0;
    font-size: 30px;
    color: #000;
    font-weight: 900;
}

.table_nav_records h1 p {
    margin: 0 0 10px;
    padding: 0;
}

.searchRecord {
    width: 250px;
    display: flex;
    height: 30px;
    margin-bottom: 10px;
}

.searchRecord textarea {
    width: 225px;
    height: 100%;
    font-size: 15px;
    overflow: hidden;
    padding: 5px;
    outline: none;
    font-weight: 400 !important;
}

.form-control {
    outline: none !important;
}

.table_nav_records ul {
    display: flex;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.table_nav_records ul li {
    margin: 0 5px 0 0;
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
    display: block;
}

.table_nav_records ul li:hover .lineHover {
    top: calc(100% - 4px);
}

.activeRecords {
    font-weight: 900;
}

.activeRecords .lineHover {
    top: calc(100% - 4px);
}

.lineHover {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #e62117;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.table_nav_records hr {
    width: 100%;
    border-top: 2px solid #eee;
    margin: 0 !important;
}


/*Responsive*/

.recordsMain {
    margin-bottom: 10px;
}

@media screen and (min-width: 1170px) {
    .recordsMain {
        width: 70%;
        margin-right: 20px;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .recordsMain {
        width: 65%;
        margin-right: 20px;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .recordsMain {
        width: 100%;
    }
}

@media screen and (max-width: 749px) {
    .recordsMain {
        width: 100%;
    }
}


/*Masonry*/

#wrapper {
    width: 100%;
}

#list {
    width: calc(100% + 10px);
    /* 990px */
    overflow: hidden;
    margin-left: -5px;
    /* 15px */
    margin-bottom: -1.875em;
    /* 30px */
}

.item {
    float: left;
}

@media screen and (min-width: 1170px) {
    .item {
        width: calc(33.222222% - 10px);
        margin: 0 5px 10px 5px;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .item {
        width: calc(50% - 10px);
        margin: 0 5px 10px 5px;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .item {
        width: calc(50% - 10px);
        margin: 0 5px 10px 5px;
    }
}

@media screen and (min-width: 590px) and (max-width: 749px) {
    .item {
        width: calc(50% - 10px);
        margin: 0 5px 10px 5px;
    }
}

@media screen and (max-width: 589px) {
    .item {
        width: calc(100% - 10px) !important;
        margin: 0 auto 20px !important;
    }
}


/*Responsive other*/

@media screen and (min-width: 970px) {
    .table_nav_records {
        border: 1px solid #afadad;
    }
    .statsCard {
        border: 1px solid #afadad;
    }
    body {
        padding-top: 70px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 969px) {
    body {
        padding-top: 60px;
        padding-bottom: 0px;
    }
    .table_nav_records {
        border: 0px solid #afadad;
    }
    .statsCard {
        border: 0px solid #666;
    }
}
