.statsCard {
    background-color: #fafafa;
    padding: 20px 20px 20px 10px; 
    border: 1px solid #CCD1D9;
    border-top: 0px !important;
}

.title_and_all_albums {
    height: 40px;
}

.statsCard h2 {
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 24px;
    float: left;
}

.flex_container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
}

.statsCard .block_record {
    padding-left: 10px;
    margin-bottom: 10px;
}

.thumbnails {
    /*width: 32%;*/
    vertical-align: top;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.last_records .thumbnails:nth-child(3) {
    margin-right: 0 !important;
}

.thumbnails h3 {
    margin: 0px;
    padding: 0.3em 0;
    font-size: 16px;
    font-weight: 600;
    color: #1d71b9;
    padding: 1rem;
}


/*Stats her0*/

.record_hero_img {
    width: 132px !important;
}

.statsHero {
    display: flex;
    padding: 10px;
    height: 150px;
    background: #eaeaea;
    border-bottom: 1px solid #e8e8e8;
    background-image: url(https://psv4.vk.me/c812128/u75114231/docs/30d69a75a2bd/Bez_Imeni-1.png?extra=SYW47Wen3NkmAmonh54tsnO9puwftUtekKiaH-6QpS-tjC3ueEvIo8VdqWLS85BhwerWsh2Y2pa6WSd2-Kyz8tHBmGWt6v0gFpewH4anMtwFsizF6M1Hzw);
}

.img_container_hero {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #fff;
    background: #fff;
    float: right;
}

.img_container_hero img {
    width: 100%;
    height: auto;
}

.statsHero .statInfo {
    float: left;
    font-weight: 600;
    flex-grow: 1;
}

.relative_hero {
    position: relative;
}

.statsHero .statInfo a {
    font-size: 18px;
}

.statsHero .statInfo span {
    color: #e90052;
    position: absolute;
    font-size: 18px;
    top: 100%;
    left: 0px;
    font-weight: 600;
}

.statsList {
    overflow: hidden
}

.statsList a {
    color: #242424;
    text-decoration: none;
    display: block
}

.statsList a:focus,
.statsList a:hover {
    text-decoration: underline
}

.statsList .statsRow {
    border-bottom: 1px solid #e8e8e8;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.statsList .statsRow a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.statsList .statsRow .statName {
    margin-bottom: 0
}

.statsList .stat {
    margin-left: auto
}

.statsList .stat [class*=badge],
.statsList .stat a,
.statsList .statsBadge {
    display: inline-block;
    vertical-align: middle
}

.statsList .statsBadge {
    position: relative;
    top: -1px
}

.statsTitle {
    padding: 1rem;
    font-size: 1.4rem
}

.statsTitle .socialShare {
    margin-right: -.5rem
}

.statsTitle a {
    color: #242424;
    text-decoration: none;
    display: block
}

.statsTitle a:focus,
.statsTitle a:hover {
    text-decoration: underline
}

.socialShare {
    position: absolute;
    top: .6rem;
    right: .6rem
}

.statsCard .statsList {
    overflow: hidden
}

.statsList a {
    color: #242424;
    text-decoration: none;
    display: block
}

.statsList a:focus,
.statsList a:hover {
    text-decoration: underline
}

.statsList .statsRow a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.statsList .statsRow .statName {
    margin-bottom: 0
}

.statsList .stat {
    margin-left: auto
}

.statsList .stat [class*=badge],
.statsList .stat a,
.statsList .statsBadge {
    display: inline-block;
    vertical-align: middle
}

.statsList .statsBadge {
    position: relative;
    top: -1px
}

.badge-20 {
    margin-right: .5rem
}

.pos {
    margin-right: .5rem;
    font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif
}

.pos,
.teamInfo {
    display: inline-block;
    vertical-align: middle
}

.teamInfo {
    max-width: 60%
}

.position {
    margin-bottom: .5rem
}

.stat {
    float: right
}

.statName {
    font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-bottom: .3rem
}

.statNameSecondary {
    min-height: 11px;
    font-weight: 400;
    font-size: .9em;
    color: #76766f
}

.stat {
    color: #e90052;
}

.btn {
    margin: 1rem
}

.badge-100 {
    position: absolute;
    bottom: 1rem;
    right: 1rem
}

.playerClub {
    margin-right: .5rem
}

.flag {
    vertical-align: middle;
    margin-right: 5px
}

.flag-name {
    margin-top: 5px
}

ul#otis {
    list-style-type: none;
}

#list-group {
    margin-bottom: 0px;
}

#caption {
    padding: 0px;
}

.add_record {
    background-color: #ebebeb;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    float: right;
    font-size: 14px;
    padding: 0px;
    color: #333;
    height: 40px;
    display: flex;
    justify-content: center;
}

.add_record:hover {
    background-color: #e90052;
    color: white;
}

.add_record span:nth-child(1) {
    margin: 0px 15px 0px 30px;
    align-self: center;
}

.add_record span:nth-child(2) {
    float: right;
    margin-right: 7px;
    align-self: center;
}

.full_list_record {
    box-sizing: border-box;
    float: left;
    background-color: #e8e8e8;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    margin: 3%;
    padding: 3% 3%;
    border-radius: 3px;
    width: 94%;
    font-size: 12px;
}

.full_list_record:hover {
    background-color: #e90052;
    color: #fafafa;
}

.full_list_record:hover a {
    color: #fafafa;
    text-decoration: none;
}

.arrow_record {
    float: right;
}

#statInfo {
    padding-bottom: 10%;
}

.more_records {
    cursor: pointer;
    width: 32%;
    margin: 0 auto 0px;
    padding: 5px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    color: #656D78;
    background: #fff;
    border: 1px solid #CCD1D9;
    border-radius: 2px;
}

.more_records:hover {
    text-decoration: none!important;
    background: #eee;
}


/*Навигация между пазделами рекордов*/


/*Навигация между статьями */

.table > tbody > tr:first-child > td {
    border-top: 0px !important;
    font-weight: bold;
    color: #666;
}

.table_nav_records a {
    color: #242424;
}

.table_nav_records td:nth-child(2+3n) {
    padding-left: 0px !important;
}

.table_nav_records td:nth-child(1+3n) {
    padding-right: 0px !important;
}

.table_nav_records div:first-child {
    height: 39px;
    line-height: 39px;
    margin-left: 20px;
    color: #fafafa;
    font-weight: 600;
    font-size: 16px;
}

.table_nav_records tr:nth-child(2) {
    background-color: #e4e4e4;
}

.tab ul {
    display: flex;
    width: 100%;
    padding: 0 50% 0 20px;
}

.tab_active {
    background-color: #fafafa !important;
    color: #1d2f3e !important;
}

.tab ul li {
    background: #b60040;
    color: #fff;
    padding: 1.3rem 1rem;
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.1rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    transition: all .2s;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
}

.tab ul li:hover {
    background-color: #83002e;
}

.tab ul li:not(:last-child) {
    margin-right: 10px;
}

.table_nav_records {
    height: 80px;
    background-color: #e90052;
    border-radius: 7px 7px 0 0;
}


/*Масонри рекорды */

.persent-size {
    width: 33.333333%;
}


