.statsCard {
    background-color: #fafafa;
    padding: 25px;
    margin-bottom: 25px;
    border: 1px solid #CCD1D9
}

.title_and_all_albums {
    height: 40px;
}

.statsCard h2 {
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 24px;
    float: left;
}

.flex_container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
}

.thumbnail {
    margin: 0px;
    width: 32%;
    /*display: none;*/
    padding: 0px;
    margin-right: 2%;
    vertical-align: top; 

}

.thumbnail h3 {
    margin: 0px;
    padding: 0.3em 0;
    font-size: 18px;
    font-weight: 600;
    padding: 1rem;
}

.statsList {
    overflow: hidden
}

.statsCard .statsList a {
    color: #242424;
    text-decoration: none;
    display: block
}

.statsCard .statsList a:focus,
.statsCard .statsList a:hover {
    text-decoration: underline
}

.statsCard .statsList .statsRow {
    border-bottom: 1px solid #e8e8e8;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.statsCard .statsList .statsRow a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.statsCard .statsList .statsRow .statName {
    margin-bottom: 0
}

.statsCard .statsList .stat {
    margin-left: auto
}

.statsCard .statsList .stat [class*=badge],
.statsCard .statsList .stat a,
.statsCard .statsList .statsBadge {
    display: inline-block;
    vertical-align: middle
}

.statsCard .statsList .statsBadge {
    position: relative;
    top: -1px
}

.statsHero {
    padding: 1rem 1rem 5rem;
    background: #eaeaea;
    background-image: url(../i/bg-elements/stats-card.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: 1px solid #e8e8e8
}

@media (-moz-min-device-pixel-ratio:2),
(-webkit-min-device-pixel-ratio:2) {
    .statsCard .statsHero {
        background-image: url(../i/bg-elements/stats-card@x2.png);
        background-size: 250 215
    }
}

.statsCard .statsHero .pos {
    font-size: 1.2em;
    margin-bottom: .5rem
}

.statsCard .statsHero .statName {
    min-height: 4rem;
    font-size: 1.4em;
    line-height: 1.4
}

.statsCard .statsHero .statNameSecondary {
    margin-bottom: .5rem;
    font-size: 1em;
    white-space: nowrap
}

.statsCard .statsHero .stat {
    font-size: 1.6em;
    float: none;
    font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif
}

.statsCard .statsHero .heroBadgeContainer {
    width: 32px;
    height: 32px;
    position: relative;
    top: .4rem;
    left: .5rem;
    border-radius: 100%;
    background: #fff;
    z-index: 10
}

.statsCard .statsHero .statsBadge {
    float: none;
    position: absolute;
    width: 100%;
    height: 100%
}

.statsCard .statsHero .badge-20 {
    margin: .7rem .6rem
}

.statsCard .statsHero .statCardImg {
    position: absolute;
    right: -1rem;
    bottom: 0;
    max-width: 60%;
    max-height: 95%
}

.statsCard .statsHero.inactive .imgCropContainer {
    position: absolute;
    top: .8rem;
    right: .5rem;
    width: 11rem;
    height: 11rem;
    overflow: hidden;
    border-radius: 100%;
    background: #fff;
    border: 4px solid #fff
}

.statsCard .statsHero.inactive .imgCropContainer .statCardImg {
    max-width: none;
    max-height: none;
    width: 100%;
    position: static
}

.statsCard header {
    position: relative
}

.statsCard .statsTitle {
    padding: 1rem;
    font-size: 1.4rem
}

.statsCard .statsTitle .socialShare {
    margin-right: -.5rem
}

.statsCard .statsTitle a {
    color: #242424;
    text-decoration: none;
    display: block
}

.statsCard .statsTitle a:focus,
.statsCard .statsTitle a:hover {
    text-decoration: underline
}

.statsCard .socialShare {
    position: absolute;
    top: .6rem;
    right: .6rem
}

.statsCard .statsList {
    overflow: hidden
}

.statsCard .statsList a {
    color: #242424;
    text-decoration: none;
    display: block
}

.statsCard .statsList a:focus,
.statsCard .statsList a:hover {
    text-decoration: underline
}

.statsCard .statsList .statsRow a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.statsCard .statsList .statsRow .statName {
    margin-bottom: 0
}

.statsCard .statsList .stat {
    margin-left: auto
}

.statsCard .statsList .stat [class*=badge],
.statsCard .statsList .stat a,
.statsCard .statsList .statsBadge {
    display: inline-block;
    vertical-align: middle
}

.statsCard .statsList .statsBadge {
    position: relative;
    top: -1px
}

.statsCard .badge-20 {
    margin-right: .5rem
}

.statsCard .pos {
    margin-right: .5rem;
    font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif
}

.statsCard .pos,
.statsCard .teamInfo {
    display: inline-block;
    vertical-align: middle
}

.statsCard .teamInfo {
    max-width: 60%
}

.statsCard .position {
    margin-bottom: .5rem
}

.statsCard .stat {
    float: right
}

.statsCard .statName {
    font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1.1rem;
    margin-bottom: .3rem
}

.statsCard .statNameSecondary {
    min-height: 11px;
    font-weight: 400;
    font-size: .9em;
    color: #76766f
}

.statsCard .stat {
    color: #e90052;
}

.statsCard .statsHero {
    padding: 1rem 1rem 1rem;
    height: 12.5rem;
    background: #eaeaea;
    background-image: url(../i/bg-elements/stats-card.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: 1px solid #e8e8e8
}

@media (-moz-min-device-pixel-ratio:2),
(-webkit-min-device-pixel-ratio:2) {
    .statsCard .statsHero {
        background-image: url(../i/bg-elements/stats-card@x2.png);
        background-size: 250 215
    }
}

.statsCard .statsHero .statInfo {
    max-width: 6rem;
    position: relative;
    z-index: 10;
    white-space: normal;
    position: absolute;
    top: 3rem;
}

.statsCard .statsHero .pos {
    font-size: 1.2rem;
    margin-bottom: .5rem
}

.statsCard .statsHero .statName {
    min-height: 4rem;
    font-size: 1.4rem;
    line-height: 1.4
}

.statsCard .statsHero .statNameSecondary {
    margin-bottom: .5rem;
    font-size: 1rem;
    white-space: nowrap
}

.statsCard .statsHero .stat {
    font-size: 1.6em;
    float: none;
    font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif
}

.statsCard .statsHero .heroBadgeContainer {
    width: 32px;
    height: 32px;
    position: relative;
    top: .4rem;
    left: .5rem;
    border-radius: 100%;
    background: #fff;
    z-index: 10
}

.statsCard .statsHero .statsBadge {
    float: none;
    position: absolute;
    width: 100%;
    height: 100%
}

.statsCard .statsHero .badge-20 {
    margin: .7rem .6rem
}

.statsCard .statsHero .statCardImg {
    position: absolute;
    right: -1rem;
    bottom: 0;
    max-width: 60%;
    max-height: 95%
}

.statsCard .statsHero.inactive .imgCropContainer {
    position: absolute;
    top: .8rem;
    right: .5rem;
    width: 11rem;
    height: 11rem;
    overflow: hidden;
    border-radius: 100%;
    background: #fff;
    border: 4px solid #fff
}

.statsCard .statsHero.inactive .imgCropContainer .statCardImg {
    max-width: none;
    max-height: none;
    width: 100%;
    position: static
}

.statsCard .btn {
    margin: 1rem
}

.statsCard .badge-100 {
    position: absolute;
    bottom: 1rem;
    right: 1rem
}

.statsCard .playerClub {
    margin-right: .5rem
}

.statsCard .flag {
    vertical-align: middle;
    margin-right: 5px
}

.statsCard .flag-name {
    margin-top: 5px
}

ul#otis {
    list-style-type: none;
}

#list-group {
    margin-bottom: 0px;
}

#caption {
    padding: 0px;
}

#btn-record {
    margin-right: 10%;
}

.add_record {
    background-color: #ebebeb;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    float: right;
    font-size: 14px;
    padding: 0px;
    color: #333;
    height: 40px;
    display: flex;
    justify-content: center;
}



.add_record:hover {
    background-color: #e90052;
    color: white;
}

.add_record span:nth-child(1) {
    margin: 0px 15px 0px 30px;
    align-self: center;
}

.add_record span:nth-child(2) {
    float: right;
    margin-right: 7px;
    align-self: center;
}

.full_list_record {
    box-sizing: border-box;
    float: left;
    background-color: #ebebeb;
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    margin: 3%;
    padding: 2% 3%;
    border-radius: 3px;
    width: 94%;
}

.full_list_record:hover {
    background-color: #e90052;
    color: white;
}

#arrow_record {
    float: right;
}

#statInfo {
    padding-bottom: 10%;
}

.more_article {
    cursor: pointer;
    width: 32%;
    margin: 0 auto 20px;
    padding: 5px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    color: #656D78;
    background: #fff;
    border: 1px solid #CCD1D9;
    border-radius: 2px;
}

.more_article:hover {
    text-decoration: none!important;
    background: #eee;
}