.tableInfo {
    border: 1px solid #afadad;
}

@media screen and (min-width: 1170px) {
    .tableInfo {
        width: 70%;
        margin-right: 20px;
    }
    .advertising {
        width: calc(30% - 20px);
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .tableInfo {
        width: 70%;
        margin-right: 20px;
    }
    .advertising {
        width: calc(30% - 20px);
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .tableInfo {
        width: 100%;
        margin-bottom: 20px;
    }
    .advertising {
        width: 100%;
    }
}

@media screen and (max-width: 749px) {
    .tableInfo {
        width: 100%;
        margin-bottom: 20px;
    }
    .advertising {
        width: 100%;
    }
    .table {
        font-size: 12px !important;
    }
}

.block_table {
    background-color: #fff;
    padding: 24px;
}

.block_table .table_allnews_insection:nth-child(n+4) {
    margin-left: 5%;
}

.table_allnews_insection table {
    margin-bottom: 0px;
}

.block_table h1,
.block_table h2,
.block_table h3,
.block_table h4,
.block_table h5,
.block_table h6 {
    margin-top: 0px;
    margin-bottom: 10px;
    float: left;
}

.tableRecord {
    font-family: PremierSans-Regular, Arial, Helvetica Neue, Helvetica, sans-serif;
}

.tableRecord a {
    color: #242424;
}

.imageTableRecord {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    width: auto;
    line-height: 38px;
    box-sizing: border-box;
    max-height: 20px;
}

.recordArrow {
    float: right;
}

.recordNeartableRecord {
    border-top: solid #aa0a0c 5px;
}

table {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.otherRecords tr > th {
    text-align: center !important;
}

.fullRecord > td {
    text-align: center !important;
}

thead {
    border-top: solid #aa0a0c 5px;
}

.searchRecord {
    width: 35%;
    float: right;
    bottom: 10px;
    right: 11px;
}

.nameTableSsearch {
    margin: 0px 0px;
}

.divForTable {
    padding: 0px !important;
}


/*search */

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


/*Head table record*/

h1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 30px;
    color: #000;
    font-weight: 900;
}

h1 p {
    margin: 0 0 10px;
    padding: 0;
}

.searchRecord {
    display: flex;
    height: 30px;
}

.searchRecord textarea {
    height: 100%;
    font-size: 15px;
    overflow: hidden;
    padding: 5px;
    outline: none;
    font-weight: 400 !important;
}

.searchRecord button {
    width: 30px;
    height: 30px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    background: #aa0a0c;
    border-color: #aa0a0c;
    text-transform: uppercase;
}

.searchRecord .btn-primary:hover,
.searchRecord .btn-primary:focus,
.searchRecord .btn-primary:visited,
.searchRecord .btn-primary:active  {
    color: #fff;
    background: rgba(170, 10, 12, 0.84);
    border-color: rgba(170, 10, 12, 0.84);
}


/*More records */

.moreRecords {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (min-width: 1170px) {
    .moreRecords {
        justify-content: space-between;
    }
    .table_allnews_insection {
        width: 32% !important;
    }
    .searchRecord {
        width: 250px;
    }
    .searchRecord textarea {
        width: 225px;
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    .moreRecords {
        justify-content: center;
    }
    .table_allnews_insection {
        width: 49%;
        margin: 0 0.5% 10px;
    }
    .searchRecord {
        width: 250px;
    }
    .searchRecord textarea {
        width: 225px;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .moreRecords {
        justify-content: center;
    }
    .table_allnews_insection {
        width: 49%;
        margin: 0 0.5% 10px;
    }
    .searchRecord {
        width: 250px;
    }
    .searchRecord textarea {
        width: 225px;
    }
}

@media screen and (max-width: 749px) {
    .table_allnews_insection {
        width: 100%;
    }
    .table_allnews_insection:nth-last-child(n+2) {
        margin-bottom: 10px;
    }
    h1 p {
        width: 100%;
    }
    .searchRecord {
        width: 100%;
        margin-top: 10px;
    }
    .searchRecord textarea {
        width: calc(100% - 25px);
    }
}


/*Table responsive*/

.aTable {
    display: flex;
    justify-content: flex-start;
}

.infoRecordTable {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1170px) {
    h1 {
        font-size: 1.5vw;
    }
    .nationalHead:before {
        content: "Национальность";
    }
}

@media screen and (min-width: 970px) and (max-width: 1169px) {
    h1 {
        font-size: 2.2vw;
    }
    .infoRecordTable {
        display: none;
    }
    .nationalHead:before {
        content: "Нац";
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    h1 {
        font-size: 2.6vw;
    }
    .infoRecordTable {
        display: none;
    }
    .nationalHead:before {
        content: "Нац";
    }
}

@media screen and (max-width: 749px) {
    h1 {
        font-size: 4.5vw;
    }
    .infoRecordTable {
        display: none;
    }
    .nationalHead:before {
        content: "Нац";
    }
}

@media screen and (min-width: 970px) {
    .tableInfo {
        border: 1px solid #afadad;
    }
    body {
        padding-top: 70px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 969px) {
    .tableInfo {
        border: 0px solid #afadad;
    }
    body {
        padding-top: 70px;
        padding-bottom: 20px;
    }
}

.linkTable {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    color: #222;
    text-decoration: none;
    padding: 8px;
    width: 100%;
}

.linkTable:focus,
.linkTable:active,
.linkTable:visited {
    text-decoration: none;
    color: #222;
}

.linkTable:hover {
    text-decoration: none;
    color: #aa0a0c;
}
.otherRecords {
    width: 100%;
}
.table_allnews_insection tbody tr {
    width: 100% !important;
    height: auto !important;
}

.table_allnews_insection tbody td {
    padding: 0 !important;
    width: 100%;
    height: auto !important;
}

.table_allnews_insection tbody td:hover {
    background-color: #d7d7d7;
}

.linkTable p {
    margin: 0;
    height: auto;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: calc(100% - 30px) !important;
    line-height: 16px;
    max-height: 16px;
}


.fullRecord a {
    justify-content: center !important;
}

table {
    max-width: 100% !important;
}

/*Особенная таблица*/

.noClub tr th:nth-child(3) {
    display: none;
}

.noNational tr th:nth-child(4) {
    display: none;
}