{% extends "base.html" %} {% load staticfiles %} {% block head_title %} {{ title }} {% endblock head_title %} {% block head_extra %}
<link rel="stylesheet" href='{% static "css/gallery_style.css" %}'>
<script type="text/javascript" src="{% static 'js/gallery.js'  %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
{% endblock head_extra %} {% block content %}
<main>
    <div id="containner_all_gallery">
        <div class="container_slaider_albums" id="slaider_and_albums">
            <div id="slaider_foto">
                <div class="head_nav">
                    <ul class="nav_ul">
                        {% for section in sections %}
                        <li class="reset_variable">
                            <a href="#">{{ section.section_title }}<span
                                        class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                                    </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div id="mobileAlnbumShow">
                        Выбрать альбом
                    </div>
                </div>
                <div class="dialog_slaider">
                    <!-- div.img_slaider -->
                    <div id="flex_container_img_slaider">
                        <div id="container_img_in_slaider">
                            <img src="" alt="">
                            <div id="beforeSliderLoading"></div>
                        </div>
                        <div class="slider_click" id="area_for_left_arrow_slaider">
                            <div class="container_arow_slaider">
                                <i class="fa fa-chevron-left slider_click" id="icon_left" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="slider_click" id="area_for_right_arrow_slaider">
                            <div class="container_arow_slaider">
                                <i class="fa fa-chevron-right slider_click" id="icon_right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="url_list">
                        <ul class="list_src_slaider">
                        </ul>
                    </div>
                    <!-- Право-лево фото -->
                    <div class="footer_slaider">
                        <div class="slaider_footer_left">
                            <div class="album_slaider">Название альбома
                                <span id="number_photo">1</span> <span>of</span> <span id="quantity_photo_in_album"></span>
                            </div>
                            <div class="discription_photo_slaider">Подпись фотографии</div>
                        </div>
                        <div class="slaider_footer_right">
                            <div class="button_show_comments">
                                Комментарии <span></span>
                            </div>
                            <div class="slaider_photo_like">
                                <div class="block_like">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                    <div class="votes"></div>
                                </div>
                                <div class="block_dislike">
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                    <div class="votes">12</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="albums_right">
                <!-- Комментарии -->
                <div class="head_comment_slider">
                    Комментарии 14 <i class="fa fa-times" aria-hidden="true"></i></span>
                </div>
                <div id="comments_photo_slider">
                    <div class="block_comments">
                        <!-- if there are not comments -->
                        <!-- <div class="not_comments">
                                    <div class="icon_comment">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                    </div>
                                    <div class="show_user_not_comments">Be the first to comment on this photo.</div>
                                </div> -->
                        <!-- If there are several comments -->
                        <div class="user_comment">
                            <div class="comments_base2" id="without_paddin">
                                <div class="more_comment_photo">
                                    Показать предыдущие
                                </div>
                                <div class="all_comment_for_photo">
                                    <div class="blockquote">
                                        <a href="#">
                                            <div class="coments_author">
                                                <img src="/media/1/YdBB-4zlNa4.jpg" alt="">
                                            </div>
                                        </a>
                                        <div class="content_coment">
                                            <div class="coment_author_time">
                                                <a href="#">Дмитрий Мангура</a> </br>
                                                4 days, 23 hours ago
                                            </div>
                                            <div class="text_comment_slider">
                                                Атлетико проиграл в финале Лиги Чемпионов ОХтырке
                                            </div>
                                            <footer>
                                                <a class="comment-reply-btn" href="#">Удалить</a>
                                                <a class="comment-reply-btn" href="#">Ответить</a>
                                            </footer>
                                            <div class="comment-reply">
                                                <form method="POST" action=".">
                                                    <input type='hidden' name='csrfmiddlewaretoken' value='uRuHP0rG5SNPyDYp81AWqmIJguzMKehr' />
                                                    <input id="id_content_type" name="content_type" type="hidden" value="post" />
                                                    <input id="id_object_id" name="object_id" type="hidden" value="11" />
                                                    <div id="div_id_content" class="form-group">
                                                        <label for="id_content" class="control-label  requiredField">
                                                            content<span class="asteriskField">*</span> </label>
                                                        <div class="controls ">
                                                            <input class="textinput textInput form-control" id="id_content" name="content" placeholder="Оставить комментарий..." type="text" /> </div>
                                                    </div>
                                                    <input type="hidden" name="parent_id" value="10">
                                                    <input type="submit" value="Ответить" class="btn btn-default">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="add_comments">
                            <div class="comments_base">
                                <div class="coments_author">
                                    <img src="/media/1/YdBB-4zlNa4.jpg" alt="">
                                </div>
                                <div class="comment_placeholder">
                                    <form method="POST" action=".">
                                        <input type='hidden' name='csrfmiddlewaretoken' value='uRuHP0rG5SNPyDYp81AWqmIJguzMKehr' />
                                        <div class="forPlaceholder">
                                            <input id="id_content" name="content" placeholder="Оставить комментарий..." type="text" />
                                        </div>
                                        <input type="submit" value="Post comment" class="btn btn-default btn-send-comment">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Show/hide on click -->
                </div>
                <div class="selected_album">
                    <div class="quantity_album"></div>
                    <div class="arrow-right"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <div class="color_line_before_album"></div>
                <div class="list_albums">
                </div>
            </div>
        </div>
        <div class="tile_albums_foto">
            <div class="section_album">
                <span class="color_line_album"></span>
                <span>Лионель Месси &nbsp;|&nbsp;</span><span>28 october 1995</span>
            </div>
            <div id="wrapper">
                <div class="flex_container_albums" id="list">
                    <div class="more_photo" href="2">
                        ПОСМОТРЕТЬ БОЛЬШЕ
                    </div>
                </div>
            </div>
            <!-- Слайдер в модальном окне для фотографий с плитки -->
            <div id="slaider_modal" class="modal" role="dialog">
                <div class="modal-dialog">
                    <div class="flex_modal">
                        <!-- Modal content-->
                        <div class="modal_photos">
                            <div id="flex_container_img_modal">
                                <div class="container_photo_in_modal">
                                    <div id="beforeLoadModal"></div>
                                    <img src="" alt="">
                                </div>
                            </div>
                            <!-- Право-лево фото -->
                            <div class="area_for_left_arrow modal_slider_click" id="modal_left">
                                <div class="container_arow">
                                    <i class="fa fa-chevron-left modal_slider_click" id="modal_left_icon" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="area_for_right_arrow modal_slider_click" id="modal_right">
                                <div class="container_arow">
                                    <i class="fa fa-chevron-right modal_slider_click" aria-hidden="true" id="modal_right_icon"></i>
                                </div>
                            </div>
                            <div class="modal_footer">
                                <div class="slaider_footer_left">
                                    <div class="album_slaider">Название альбома
                                        <span id="number_photo">1</span> <span>of</span> <span id="quantity_photo_in_album">42</span>
                                    </div>
                                    <div class="discription_photo_slaider">Подпись фотографии</div>
                                </div>
                                <div class="slaider_footer_right">
                                    <div class="button_show_comments">
                                        Комментарии <span>21</span>
                                    </div>
                                    <div class="slaider_photo_like">
                                        <div class="block_like">
                                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                            <div class="votes">12</div>
                                        </div>
                                        <div class="block_dislike">
                                            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                            <div class="votes">12</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="comments_photo_modal">
                            <div class="block_comments">
                                <!-- if there are not comments -->
                                <!-- <div class="not_comments">
                                            <div class="icon_comment">
                                                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                            </div>
                                            <div class="show_user_not_comments">Be the first to comment on this photo.
                                            </div>
                                        </div> -->
                                <!-- If there are several comments -->
                                <div class="user_comment">
                                    <div class="comments_base2" id="without_paddin">
                                        <div class="more_comment_photo">
                                            Показать предыдущие
                                        </div>
                                        <div class="all_comment_for_photo">
                                            <div class="blockquote">
                                                <a href="#">
                                                    <div class="coments_author">
                                                        <img src="/media/1/YdBB-4zlNa4.jpg" alt="">
                                                    </div>
                                                </a>
                                                <div class="content_coment">
                                                    <div class="coment_author_time">
                                                        <a href="#">Дмитрий Мангура</a> </br>
                                                        4 days, 23 hours ago
                                                    </div>
                                                    <div class="text_comment_slider">
                                                        Атлетико проиграл в финале Лиги Чемпионов ОХтырке
                                                    </div>
                                                    <footer>
                                                        <a class="comment-reply-btn" href="#">Удалить</a>
                                                        <a class="comment-reply-btn" href="#">Ответить</a>
                                                    </footer>
                                                    <div class="comment-reply">
                                                        <form method="POST" action=".">
                                                            <input type='hidden' name='csrfmiddlewaretoken' value='uRuHP0rG5SNPyDYp81AWqmIJguzMKehr' />
                                                            <input id="id_content_type" name="content_type" type="hidden" value="post" />
                                                            <input id="id_object_id" name="object_id" type="hidden" value="11" />
                                                            <div id="div_id_content" class="form-group">
                                                                <label for="id_content" class="control-label  requiredField">
                                                                    content<span class="asteriskField">*</span> </label>
                                                                <div class="controls ">
                                                                    <input class="textinput textInput form-control" id="id_content" name="content" placeholder="Оставить комментарий..." type="text" /> </div>
                                                            </div>
                                                            <input type="hidden" name="parent_id" value="10">
                                                            <input type="submit" value="Ответить" class="btn btn-default">
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add_comments">
                                    <div class="comments_base">
                                        <div class="coments_author">
                                            <img src="/media/1/YdBB-4zlNa4.jpg" alt="">
                                        </div>
                                        <div class="comment_placeholder">
                                            <form method="POST" action=".">
                                                <input type='hidden' name='csrfmiddlewaretoken' value='uRuHP0rG5SNPyDYp81AWqmIJguzMKehr' />
                                                <div class="forPlaceholder">
                                                    <input id="id_content" name="content" placeholder="Оставить комментарий..." type="text" />
                                                </div>
                                                <input type="submit" value="Post comment" class="btn btn-default btn-send-comment">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Конец слайдера  модльном окне -->
                    </div>
                </div>
            </div>
        </div>
</main>
{% endblock content %}
