{% extends "base.html" %} {% load staticfiles %} {% block head_title %} {{ title }} {% endblock head_title %} {% block head_extra %}
<link rel="stylesheet" href='{% static "css/gallery_style.css" %}'>
<script type="text/javascript" src="{% static 'js/gallery.js'  %}"></script>
{% endblock head_extra %} {% block content %}
<div class="container">
    <div class="row">
        <!-- Слайдер фото  -->
        <div class="slaider_gallery">
            <div class="body_slaider_gallery">
                <div class="col-lg-8" id="wrapper_foto">
                    <div class="content_foto">
                        <div class="head_nav">
                            <ul class="nav_ul">
                                {% for section in sections %}
                                <li>
                                    <a href="#">{{ section.section_title }}<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="slider_photo_list">
                        </div>
                    </div>
                    <div class="footer_nav">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="description_foto">
                        Фанаты выбежали на газон
                    </div>
                    <div class="comment_slaider">
                    </div>
                </div>
            </div>
        </div>
        <!-- Все альбомы -->
        <div class="col-lg-8">
            {% for section in sections %}
            <div class="div_album">
                <div class="title_and_all">
                    <h2><a href='#'>{{ section.section_title }}</a></h2>
                    <a href="Больше">
                        <div class="all_of_units">
                            <span>Больше</span>
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        </div>
                    </a>
                </div>
                <div class="container_album">
                    {% for album in section.albums %}
                    <div class="one_album">
                        <a href="#">
                            <div class="main_foto_albub">
                                <img src="{{ album.image.url }}" alt="">
                            </div>
                            <div class="color_line">
                                <div class="icon_for_album">
                                    <div class="icon_foto">
                                        <i class="fa fa-camera" aria-hidden="true"></i>
                                    </div>
                                    <div class="quantity_foto_in_album">
                                        15
                                    </div>
                                </div>
                            </div>
                            <div class="discription_album">
                                {{ album.album_title }}
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
{% endblock content %}
