<div class="slaider_foto_base">
<div class="album_foto">
    {% for photo in photo_list %}
    <div class="left_right_foto">
        <div class="img_slaider">
            <img src="{{ photo.image.url }}" alt="">
        </div>
    </div>
{% endfor %}
</div>
    <i class="fa fa-expand" aria-hidden="true" id="foto_full"></i>
                            <a href="#">
                                <div class="foto_left">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                </div>
                            </a>
                            <a href="#">
                                <div class="foto_right">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </div>
                            </a>
    </div>
