 {% for article in articles_list %}
<div class="one_read_article">
    <a href="{{article.get_absolute_url}}">
        <div class="one_read_article_img">
            <img src="{{ article.image.url }}" alt="">
        </div>
        <div href="#" class="articles_author">
            <div class="author_img">
                <img src="{{article.user.avatar.url}}" alt="">
            </div>
            <p>{{article.user.first_name}} {{article.user.last_name}}</p>
        </div>
        <div class="before_date"></div>
        <span class="date_aritle"><strong>ПОСЛЕДНИЕ</strong> | {{article.timestamp}}</span>
        <div class="one_read_article_info">
            <h3>{{ article.article_title }}</h3>
            <div class="article_discription">
                {{ article.article_description }}
            </div>
        </div>
    </a>
</div>
{% endfor %}
