<div id="offerArticleModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <header>
            <h4>Предложить новость</h4>
            <span class="glyphicon glyphicon-remove" aria-hidden="true" data-dismiss="modal"></span>
        </header>
        <div class="content">
            <div class="content_author">
                <div class="imgAuthorOfferNews">
                    <img src="{{ request.user.avatar.url }}" alt="">
                </div>
                <div class="textOfferArticle">
                    <textarea class="type" placeholder="Текст новости..."></textarea>
                </div>
            </div>
            <form action="" class="offerArticleFormImg">
                <div class="dowPhoto">
                    <h4>Загрузить фото</h4>
                    <div class="downloadImg">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                        <input type="file" value="Загрузить файл" class="dowFileImg" id="offerArticleImgDownload">
                    </div>
                </div>
                <textarea placeholder="Ссылка на изображения" class="linkImgArticle"></textarea>
                <img src="" class="imgOfferArticle">
            </form>
        </div>
        <footer>
            <button class="btn btn-not" data-dismiss="modal">Отмена</button>
            <button class="btn btn-ok" id="offerArticleBtn" data-dismiss="modal">Предложить</button>
        </footer>
    </div>
</div>
