{% for article in articles_list %}
<div class="one_read_article item">
    <a href="{{article.get_absolute_url}}" class="articleSrc">
        <div class="one_read_article_img">
            <img src="{{ article.image.url }}" alt="">
        </div>
        <div class="relative_article">
            <div class="author_img">
                <img src="{{article.user.avatar.url}}" alt="">
            </div>
            <p>{{article.user.first_name}} {{article.user.last_name}}</p>
        </div>
        <div class="info_time_article">
            <div class="before_date"></div>
            <span class="date_aritle"><strong>ПОСЛЕДНИЕ</strong> | {{article.timestamp}}</span>
        </div>
        <div class="one_read_article_info">
            <h3>{{ article.article_title }}</h3>

            <p>
                {{ article.article_description }}
            </p>
        </div>      
    </a>
</div>
{% endfor %}
