{% extends "base.html" %} {% block head_title %}{{ title }}{% endblock head_title %} {% load staticfiles %} {% block head_extra %}
<link rel="stylesheet" href='{% static "css/article.css" %}'>
<style id="styleArticle"></style>
<script type="text/javascript" src="{% static 'js/article.js'  %}"></script>
<script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
{% endblock head_extra %} {% block content %}
<main class="mainContainer">
    <header class="headerMain table_nav_records">
        <h2>Статьи</h2>
        <aside class="right_header">
            <button id="offerNewsBtn" data-toggle="modal" data-target="#offerArticleModal">Предложить статью</button>
            <div class="searchRecord" id="find_article">
                <textarea placeholder="Найти сатью..."></textarea>
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </div>
        </aside>
        <nav class="tab">
            <ul class="nav_ul" id="navAjax">
                <li class="activeRecords" section-id="0">
                    Все
                    <div class="lineHover"></div>
                </li>
                {% for section in sections %}
                <li section-id="{{section.id}}">
                    {{ section.section_title }}
                    <div class="lineHover"></div>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <hr>
    </header>
    <div class="flex_container" id="list">
    </div>
    <footer id="progress" class="articleFooter" >
        <button class="more_active more_article loading" data-page="2" data-section="0">
            <i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
            <span class="doneMore">Посмотреть больше</span>
        </button>
    </footer>
</main>
{% endblock content %}
