{% extends "base.html" %} {% block head_title %}{{ title }}{% endblock head_title %} {% load staticfiles %} {% block head_extra %}
<link rel="stylesheet" href='{% static "css/article.css" %}'>
<script type="text/javascript" src="{% static 'js/article.js'  %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
{% endblock head_extra %} {% block content %}
<main>
    <!-- <div class="navigation_between_articles">
        <ul class="nav_ul">
            <li><a href="#">Все<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a></li>
            {% for section in sections %}
            <li><a href="#">{{ section.section_title }}<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a></li>
            {% endfor %}
        </ul>
        <button class="btn btn-default" data-toggle="modal" data-target="#offerNewsModal">Предложить статью</button>
    </div> -->
    <div class="table_nav_records">
        <h1>
            <p>Статьи</p>
            <button class="btn btn-default" data-toggle="modal" data-target="#offerNewsModal">Предложить статью</button>
        </h1>
        <div class="tab">
            <ul class="nav_ul">
                <!-- <li class="activeRecords">
                    Все
                    <div class="lineHover"></div>
                </li> -->
                {% for record_group in groups_tables %}
                <li >
                    {{ record_group.group }}
                    <div class="lineHover"></div>
                </li>
                {% endfor %}
                <li class="activeRecords">
                    <a href="#">
                        Все
                        <div class="lineHover"></div>
                    </a>
                </li>
                {% for section in sections %}
                <li>
                    <a href="#">
                        {{ section.section_title }} <div class="lineHover"></div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <hr>
    </div>
    <!-- Модальное окно для предложения новости -->
    <div id="offerNewsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <header>
                <h4>Предложить новость</h4>
                <span class="glyphicon glyphicon-remove" aria-hidden="true" data-dismiss="modal"></span>
            </header>
            <div class="content">
                <div class="content_author">
                    <div class="imgAuthorOfferNews">
                        <img src="{{ request.user.avatar.url }}" alt="">
                    </div>
                    <div class="textOfferNews">
                        <textarea class="type" placeholder="Текст новости..."></textarea>
                    </div>
                </div>
                <form action="" class="offerNewsFormImg">
                    <div class="dowPhoto">
                        <h4>Загрузить фото</h4>
                        <div class="downloadImg">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                            <input type="file" value="Загрузить файл" class="dowFileImg" id="offerImgDownload">
                        </div>
                    </div>
                    <textarea placeholder="Ссылка на изображения" class="linkImg"></textarea>
                    <img src="" class="imgOfferNews">
                </form>
            </div>
            <footer>
                <button class="btn btn-not" data-dismiss="modal">Отмена</button>
                <button class="btn btn-ok" data-dismiss="modal">Предложить</button>
            </footer>
        </div>
    </div>
    <div class="container_article" id="wrapper">
        <div class="flex_container" id="list">
        </div>
    </div>
    <div class="more_article">
        <a href="3">ПОСМОТРЕТЬ БОЛЬШЕ</a>
    </div>
</main>
{% endblock content %}
