{% extends "base.html" %} {% block head_title %}{{ title }}{% endblock head_title %} {% load staticfiles %} {% block head_extra %}
<link rel="stylesheet" href='{% static "css/article.css" %}'>
<script type="text/javascript" src="{% static 'js/article.js'  %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
{% endblock head_extra %} {% block content %}
<main>
    <!-- <div class="navigation_between_articles">
        <ul class="nav_ul">
            <li><a href="#">Все<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a></li>
            {% for section in sections %}
            <li><a href="#">{{ section.section_title }}<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a></li>
            {% endfor %}
        </ul>
        <button class="btn btn-default" data-toggle="modal" data-target="#offerNewsModal">Предложить статью</button>
    </div> -->
    <div class="table_nav_records">
        <h1>
            <p>Статьи</p>
            <div class="right_header">
               <button class="btn btn-default" id="offerNewsBtn" data-toggle="modal" data-target="#offerArticleModal">Предложить статью</button>
                <div class="searchRecord" id="find_article">
                    <textarea placeholder="Найти сатью..." ></textarea> 
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div> 
            </div>
        </h1>
        <div class="tab">
            <ul class="nav_ul">
                <!-- <li class="activeRecords">
                    Все
                    <div class="lineHover"></div>
                </li> -->
                {% for record_group in groups_tables %}
                <li>
                    {{ record_group.group }}
                    <div class="lineHover"></div>
                </li>
                {% endfor %}
                <li class="activeRecords">
                    <a href="#">
                        Все
                        <div class="lineHover"></div>
                    </a>
                </li>
                {% for section in sections %}
                <li>
                    <a href="#">
                        {{ section.section_title }} <div class="lineHover"></div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <hr>
    </div>
    <div class="container_article" id="wrapper">
        <div class="flex_container" id="list">
        </div>
    </div>
    <div class="more_article">
        <a href="3">ПОСМОТРЕТЬ БОЛЬШЕ</a>
    </div>
</main>
{% endblock content %}
