{% extends "base.html" %} {% load staticfiles %} {% block head_extra %}
<link rel="stylesheet" href='{% static "css/post_list.css" %}'>
<link rel="stylesheet" href='{% static "css/article_detail.css" %}'> {% endblock head_extra %} {% load urlify %} {% load crispy_forms_tags %} {% block head_title %} {{instance.title}} | {{block.super}} {% endblock head_title %} {% block content %}
<script src="{% static 'js/post_detail.js'  %}"></script>
<main class="mainContainer">
    <article class="newsDetail">
        <div class="article_detail_img">
            {% if instance.image %}
            <img src="{{ instance.image.url }}" class='img-responsive' /> {% endif %}
            <aside class="share_soc">
                <a href="#">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </aside>
        </div>
        <div class="article_detail">
            <div class="article_author">
                <a href="#">
                    <div class="author_img containerImgUser">
                        <img src="{{ request.user.avatar.url }}" class="imgUser" alt="">
                    </div>
                </a>
                <div class="author_name_date">
                    <a href="">{{request.user.first_name}} {{request.user.last_name}}</a> {% if instance.draft %} {% endif %} {{instance.publish}}
                </div>
            </div>
            <div class="article_detail_content">
                <div class="article_title">
                    <h2>{{title}}</h2>
                </div>
                <!-- Здесь должен быть автор -->
                <div>
                    {% if instance.user.get_full_name %}
                    <p>Author: {{ instance.user.get_full_name }}</p>
                    {% endif %}
                </div>
                <!-- Текст новости  -->
                <div class="article_text">
                    {{ instance.get_markdown }}
                </div>
                <!-- Комментарии -->
                <footer class="footer_post_detail">
                    <a href="{{instance.slug}}" class="like_all">
                        <div class="like">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </div>
                        <div class="quantity_like">
                            {{ instance.positive_likes|length }}
                        </div>
                    </a>
                    <a href="{{instance.slug}}" class="dislike_all">
                        <div class="dislike">
                            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                        </div>
                        <div class="quantity_dislike">
                            {{ instance.negative_likes|length }}
                        </div>
                    </a>
                </footer>
            </div>
        </div>
        <!-- Комментарии -->
        <div class="comments_base">
            <h3>Оставить комментарий</h3>
            <!-- Нужно вставить ссылку на профиль автора -->
            {% include "send_comment.html" %}
        </div>
        <div class="comments_base2" id="without_paddin">
            {% include "comment_thread.html" %}
        </div>
    </article>
    <div class="next_article_container">
        <div class="one_read_article">
            <a href="#" class="linkArticle">
                <div class="one_read_article_img">
                    <img src="http://images.indianexpress.com/2016/05/david-beckham-man-utd.jpg?w=820?w=544" alt="">
                </div>
                <div class="infoAricleDate">
                    <div class="before_date"></div>
                    <span class="date_aritle">28 0ctober</span>
                </div>
                <div class="one_read_article_info">
                    <h3>Месси точго лучше РОналду</h3>
                    <p>
                        Месси точго лучше РОналду Месси точго лучше РОналду Месси точго лучше РОналду Месси точго лучше РОналду
                    </p>
                </div>
            </a>
        </div>
        <div class="one_read_article">
            <a href="#" class="linkArticle">
                <div class="one_read_article_img">
                    <img src="https://s-media-cache-ak0.pinimg.com/736x/0a/ff/28/0aff28930a87f7274bf8b57fdb30a6f3.jpg" alt="">
                </div>
                <div class="infoAricleDate">
                    <div class="before_date"></div>
                    <span class="date_aritle">28 0ctober</span>
                </div>
                <div class="one_read_article_info">
                    <h3>Месси точго лучше РОналду</h3>
                    <p>
                        Месси точго лучше РОналду Месси точго лучше РОналду Месси точго лучше РОналду Месси точго лучше РОналду
                    </p>
                </div>
            </a>
        </div>
    </div>
</main>
{% endblock content %}
